<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row contenedorTabla">
          <div *ngIf="loading" class="loading-message" style="padding-top: 50px;">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
            <p>Cargando...</p>
          </div>
          <p-table *ngIf="!loading" #dt [stripedRows]="true" [value]="topveinte" dataKey="id" [rows]="10"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 50]" [paginator]="true" paginatorPosition="both"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
            [columns]="lsColumnasAMostrar"
            [resizableColumns]="true" [reorderableColumns]="true"
            [globalFilterFields]="['nombre', 'nombreSector', 'ubicacionFisica', 'totalOportunidades', 'ganadas', 'porcGanadas', 'perdidas', 'porcPerdidas', 'canceladas', 'porcCanceladas', 'eliminadas', 'porcEliminadas', 'proceso','desEstatus']"
            [tableStyle]="{'min-width': anchoTabla+ '%'}">
  
            <ng-template class="divAccionesTabla" #caption>
              <div class="col-12" style="text-align: left; font-weight: bold;">
                <h3>Clientes Top 20</h3>
              </div>
              <div class="row">
                <div class="col inDivDatatableHeader" style="text-align:right; margin-right:5px">
                  <p-button label="" icon="bi bi-arrow-clockwise" (click)="clear(dt)" severity="secondary"
                pTooltip="Refrescar" tooltipPosition="top" styleClass="custom-button refresh-button"
                [ngStyle]="{'margin-right': '5px'}" />
                <p-button [disabled]="disabledPdf" label="" icon="bi bi-filetype-pdf" severity="secondary" (click)="exportPdf(dt)" 
                pTooltip="Descargar PDF" tooltipPosition="top" styleClass="custom-button download-button"
                [ngStyle]="{'margin-right': '5px'}"/>
                <p-button label="" icon="bi bi-download" severity="secondary" (click)="exportExcel(dt)"  
                pTooltip="Descargar Excel" tooltipPosition="top" styleClass="custom-button add-button"
                [ngStyle]="{'margin-right': '5px'}"/>
              
                  
                </div>
              </div>
            </ng-template>
  
            <ng-template pTemplate="header" let-columns>
                <tr class="custom-header">
                    <th rowspan="2">Nombre</th>
                    <th rowspan="2">Sector de la industria</th>
                    <th rowspan="2">Ubicación física</th>
                    <th rowspan="2">Oportunidades Totales</th>
            
                    <th colspan="2">Ganadas</th>
                    <th colspan="2">Perdidas</th>
                    <th colspan="2">Canceladas</th>
                    <th colspan="2">Eliminadas</th>
                    
                    <th rowspan="2">En Proceso</th>
                    <th rowspan="2">Estatus</th>
                </tr>
                <tr class="custom-subheader">
                    <th>Total Ganadas</th>
                    <th>% Ganadas</th>
            
                    <th>Total Perdidas</th>
                    <th>% Perdidas</th>
            
                    <th>Total Canceladas</th>
                    <th>% Canceladas</th>
            
                    <th>Total Eliminadas</th>
                    <th>% Eliminadas</th>
                </tr>
                <tr>
                  <th *ngFor="let def of lsColumnasAMostrar" style="min-width: 30%;">
                    <ng-container *ngIf="def.groupColumn">
                      <p-columnFilter field="{{def.key}}" matchMode="in" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-multiSelect [ngModel]="value"
                            [options]="obtenerArregloFiltros(topveinte, def.key)" placeholder=""
                            (onChange)="filter($event.value)">
                            <ng-template let-option pTemplate="item">
                              <div class="p-multiselect-representative-option">
                                <span class="ml-1">{{option}}</span>
                              </div>
                            </ng-template>
                          </p-multiSelect>
                        </ng-template>
                      </p-columnFilter>
                    </ng-container>
                    <ng-container *ngIf="!def.groupColumn">
                      <div [ngSwitch]="def.tipoFormato">
                        <div *ngSwitchCase="'text'">
                          <p-columnFilter field="{{def.key}}" matchMode="contains" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <input type="text" pInputText [ngModel]="value" [ngStyle]="getColumnWidth(def.key)"
                                (ngModelChange)="filter($event)" class="p-inputtext" placeholder="">
                            </ng-template>
                          </p-columnFilter>
                        </div>
                        <div *ngSwitchCase="'number'">
                          <p-columnFilter type="numeric" field="{{def.key}}" [showMenu]="false" [showButtons]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <input type="text" pInputText [ngModel]="value" [ngStyle]="getColumnWidth(def.key)"
                                (ngModelChange)="filter($event)" class="p-inputtext" placeholder="">
                            </ng-template>
                          </p-columnFilter>
                        </div>
                        <div *ngSwitchCase="'percent'">
                          <p-columnFilter type="numeric" field="{{def.key}}" [showMenu]="false" [showButtons]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <input type="text" pInputText [ngModel]="value" [ngStyle]="getColumnWidth(def.key)"
                                (ngModelChange)="filter($event)" class="p-inputtext" placeholder="">
                            </ng-template>
                          </p-columnFilter>
                        </div>
                        <div *ngSwitchCase="'estatus'">
                          <p-columnFilter field="{{def.key}}" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                              <p-dropdown [options]="EstatusDropdown" [(ngModel)]="selectedEstatus" [appendTo]="'body'"
                              (onChange)="FiltrarPorEstatus()" optionLabel="label" optionValue="value">
                              </p-dropdown>
                            </ng-template>
                          </p-columnFilter>
                        </div>
                        <div *ngSwitchDefault>
                          <p-columnFilter type="text" field="{{def.key}}" [showMenu]="false"></p-columnFilter>
                        </div>
                      </div>
                    </ng-container>
                  </th>
                </tr>
              </ng-template>
  
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [ngClass]="{'bold-row': rowData['porcGanadas'] >= 50}">
                  <td *ngFor="let def of lsColumnasAMostrar" [ngStyle]="{
                    'text-align': 
                      def.tipoFormato === 'percent' ? 'center' : 
                      (def.tipoFormato === 'number' || def.tipoFormato === 'estatus') ? 'center' : 'left'
                  }">
                    <ng-container [ngSwitch]="def.tipoFormato">
                      <span *ngSwitchCase="'text'">{{ rowData[def.key] }}</span>
                      <span *ngSwitchCase="'number'">{{ rowData[def.key] | number:'1.0-2' }}</span>
                      <span *ngSwitchCase="'percent'">{{ rowData[def.key] | number:'1.2-2' }}</span>
                      <span *ngSwitchCase="'estatus'">{{ rowData[def.key] }}</span>
                      <span *ngSwitchDefault>{{ rowData[def.key] }}</span>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer" let-columns #footer>
                <tr class="custom-footer">
                  <td *ngFor="let def of lsColumnasAMostrar"
                      [ngStyle]="{
                        'text-align':
                          def.tipoFormato === 'currency' ? 'right' :
                          (def.tipoFormato === 'number' || def.tipoFormato === 'date') ? 'center' : 'left'
                      }">
                  </td>
                  <td></td>
                </tr>
              </ng-template>
  
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5" class="text-center">No se encontraron registros</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <p-toast position="center"></p-toast>
      </div>
    </div>
</div>