USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_PreguntasFrecuentesActivasPorBot]    Script Date: 05/08/2025 11:21:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Juan Carlos Bernadac Delfin
-- Create date: 25-11-2024
-- Description:	Preguntas Frecuentes Activas 
-- Update date: 22-01-2025 - Se agrega la columna Estatus
-- Update date: 12-03-2025 - Se agrega el campo de IdCategorias
-- Update date: 28-07-2025 - Se agrega parámetro @IdBot para filtrar por bot
-- =============================================

ALTER PROCEDURE [dbo].[F_PreguntasFrecuentesActivasPorBot]
	@IdBot Int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		PF.[Id],
		PF.[IdBot],
		A.[NombreAsistente] AS Asistente,
		C.[IdCategoria] AS IdCategoria,
		C.[Descripcion] AS Categoria,
		PF.[Pregunta],
		PF.[Respuesta],
		PF.[FechaCreacion],
		PF.[FechaModificacion],
		PF.[Activo],
		PF.[Estatus]
	FROM 
		[dbo].[PreguntasFrecuentes] PF
	INNER JOIN 
		[dbo].[Asistentes] A ON PF.[IdBot] = A.[IdBot]
	INNER JOIN 
		[dbo].[Categorias] C ON PF.[IdCategoria] = C.[IdCategoria]
	WHERE
		PF.[IdBot] = @IdBot
		AND PF.[Estatus] = 1;
END
