<div *ngIf="loading" class="spinner-container w-100 spinner-tarjeta">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>
<div class="acordeon-horizontal d-flex" *ngIf="!loading">
  <div *ngFor="let mes of elementos; let i = index" class="item-acordeon" [class.expandido]="mes.expandido" [ngClass]="'item-acordeon-color-' + i + '-' +  mes.expandido">
    <div class="encabezado-acordeon" [ngClass]="'encabezado-' + i+ '-' +  mes.expandido"
      (click)="alternarItem(mes, $event)">
      <!-- Botón a la izquierda del nombre del mes -->
      <!-- <button class="boton-toggle" [ngClass]="mes.expandido ? 'expandido' : 'colapsado'"
       >
        <i [ngClass]="mes.expandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
      </button> -->

      <!-- Nombre del mes y contador -->
      <span class="nombre-mes">
        {{ mes.nombre.substring(0,1).toUpperCase() + mes.nombre.substring(1).toLowerCase() }}
        <span class="contador-tarjetas">({{ mes.tarjetas.length }})</span>
      </span>
      <div class="total-row" *ngIf="mes.expandido">
        <span id="lblTotalMes{{i}}" class="lblTotalMeses">
          {{ getTotalMonto(mes) | currency:'MXN':'symbol':'1.0-0' }}
        </span>
        <span id="lblNormalizadoMes{{i}}" class="lblNormalizadoMeses">
          {{ getTotalNormalizado(mes) | currency:'MXN':'symbol':'1.0-0' }}
        </span>
      </div>
    </div>

    <!-- Solo se muestra cuando el mes está expandido -->



    <div *ngIf="mes.expandido" cdkDropList #todoList="cdkDropList" [cdkDropListData]="mes.tarjetas"
      [cdkDropListConnectedTo]="connectedDropLists" class="contenido-acordeon" (cdkDropListDropped)="drop($event, mes)"
      [id]="'todoList' + i">
      <div class="contenedor-tarjetas" [id]="'contenedor-tarjetas' + i">
        <div *ngFor="let tarjeta of mes.tarjetas" cdkDrag [cdkDragData]="tarjeta" class="tarjeta">
          <div class="row  ">
            <!-- Encabezado con título e ícono de edición -->
            <div class="card-header">
              <div class="fila-monto">
                <label class="monto-normalizado">{{ tarjeta.montoNormalizado | totalCurrency:'currency':mostrarDecimales
                  }}</label>
              </div>
              <p-button type="button" text 
                pTooltip="Estancamiento" tooltipPosition="top" styleClass="blue-icon"
                        *ngIf="(tarjeta?.scoreEstancamiento || 0) > 95">
                <ng-template pTemplate="icon">
                  <span class="fs-5 estancamiento">🚩</span>
                </ng-template>
              </p-button>
              <p-button type="button" icon="bi bi-file-earmark-text fs-3" text (click)="seguimiento(tarjeta)"
                pTooltip="Seguimiento" tooltipPosition="top" styleClass="blue-icon">
              </p-button>
              <p-button type="button" icon="bi bi-folder2 fs-4" text (click)="documento(tarjeta)"
                pTooltip="Documentos" tooltipPosition="top" [styleClass]="tarjeta.totalArchivos > 0 ? 'blue-icon-documentos': 'cancel-icon'" >
              </p-button>
              <p-button styleClass="coloreditar-icon ms-2" (click)="actualiza(tarjeta)" pTooltip="Editar"
                tooltipPosition="top">
                <span class="custom-pencil">✏️</span>
              </p-button>
            </div>
            <div class="col-9 tarjeta-row" id=" Div  + {{idOportunidadTarjeta}} ">
              <div class="row justify-content-between">
                <label id="cliente" class="nombre-empresa"
                  [ngClass]="getClaseNombreEmpresa(tarjeta.nombreEmpresa, tarjeta.nombreAbrev)">
                  {{ tarjeta.nombreEmpresa }}
                </label>
              </div>
              <label id="NombreOportunidad" class="nombre-oportunidad">{{ tarjeta.nombreOportunidad }}</label><br />

            </div>
            <div class="col-3 tarjeta-side">
              <img class="fotoTarjeta margin-auto" [src]="getImagen(tarjeta.imagen)" [title]="tarjeta.nombreEjecutivo" alt="foto" />
              <!-- <p class="iniciales"
                [ngStyle]="tarjeta.iniciales && tarjeta.iniciales.length === 5 ? {'margin-left': '-6px'} : {}" 
                title="{{ tarjeta.nombreEjecutivo }}">
                {{ tarjeta.iniciales }}
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Bootstrap -->
<div class="modal fade show d-block ModalRegistrarFecha" *ngIf="mostrarModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content contenido-modal">

      <!-- Header de la Modal con el título y botón "X" para cerrar -->
      <div class="modal-header encabezado-naranja">
        <h5 class="modal-title">Fecha Estimada de Cierre</h5>
        <button type="button" class="btn-close" (click)="cancelar()" aria-label="Cerrar"></button>
      </div>

      <!-- Contenido de la Modal -->
      <div class="modal-body">
        <!-- Input oculto como en tu código original -->
        <input type="hidden" [(ngModel)]="idOportunidadTarjeta">

        <!-- Selector de Fecha usando ng-bootstrap -->
        <div class="input-group mt-4 mb-2 m-auto w-75">
          <!-- Campo de fecha con ngModel -->
          <input class="form-control" type="date" [(ngModel)]="fechaSeleccionada" />
        </div>
      </div>

      <!-- Footer con los botones -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarFecha()"
          [disabled]="!fechaSeleccionada">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>

    </div>
  </div>
</div>



<p-toast position="center"></p-toast>


<app-seguimiento-oportunidades [(visible)]="modalSeguimientoVisible" [title]="'Seguimiento de '"
  (result)="manejarResultado($event)" [insertar]="insertar" [oportunidades]="oportunidades"
  [oportunidad]="oportunidadSeleccionada">
</app-seguimiento-oportunidades>
<app-documentos-oportunidades [(visible)]="modalDocumentosVisible" [title]="'Documentos de '"
  (result)="manejarResultado($event)" [insertar]="insertar" [oportunidades]="oportunidades" [oportunidad]="oportunidadSeleccionada">
</app-documentos-oportunidades>
  