<p-dialog appendTo="body" [(visible)]="visible" [modal]="true" styleClass="custom-header-naranja" [closable]="true"
  [maximizable]="true" [style]="{ width: maximized ? '80vw' : '55rem', height: maximized ? '100vh' : 'auto' }"
  [ngClass]="{'maximized': maximized}" (onHide)="close()" (onShow)="onDialogShow()" class="bodyDialog">

  <ng-template pTemplate="header">
    <label class="margen">
      {{ 'ANÁLISIS DE ESTANCAMIENTO' }}
    </label>
  </ng-template>

  <div *ngIf="loading" class="loading">
    Cargando datos...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

<div *ngIf="!loading && !error && estancamientos.length > 0" class="estancamiento-list">
  <div *ngFor="let item of estancamientos" class="estancamiento-card p-3 mb-3">
    <h3 class="mb-2">{{ item.oportunidad }}</h3>
    
    <p><strong>Fase actual:</strong> {{ item.etapa }} <small>(en qué etapa del proceso se encuentra la oportunidad)</small></p>
    <!--<p><strong>Días sin actividad:</strong> {{ item.diasFunnel }} <small>(cuánto tiempo ha pasado desde la última acción registrada)</small></p>
    <p><strong>Tiempo promedio de oportunidades similares:</strong> {{ item.mediaDias | number:'1.0-0' }} días <small>(cuánto tardan oportunidades similares en avanzar)</small></p>
    <p><strong>Promedio de días en la primera fase:</strong> {{ item.mediaDiasEtapa1 | number:'1.2-2' }} días</p>-->
    
    <p *ngIf="getDiasEtapaActual(item) !== null">
      <strong>Días en etapa actual:</strong> {{ getDiasEtapaActual(item) }}
    </p>
    
    <p><strong>Variación de días:</strong> {{ item.desvDias | number:'1.2-2' }} <small>(desviación respecto al promedio de oportunidades similares)</small></p>
    <p><strong>Riesgo de retraso:</strong> <!--{{ item.riesgo ? 'Alto' : 'Bajo' }} --><small> Presenta más de 15 días sin actividad</small></p>
    <p><strong>Comparación con otras oportunidades:</strong> {{ item.zScoreFunnel | number:'1.2-2' }} <small>(positivo = más rápido que otras oportunidades, negativo = más lento)</small></p>
    <p><strong>Inactividad normalizada:</strong> {{ item.inactividadNorm | number:'1.2-2' }}</p>
    <p><strong>¿Cierre vencido?:</strong> {{ item.cierreVencido ? 'Sí' : 'No' }}</p>
    <p><strong>Score de estancamiento:</strong> {{ item.scoreEstancamiento | number:'1.2-2' }} <small>(mayor número indica mayor riesgo de estancamiento)</small></p>
  </div>
</div>

</p-dialog>
