<div class="privacy-policy">
  <h1>Aviso de privacidad</h1>
  
  <p class="update-date">Última actualización: 8 de agosto de 2024</p>
  
  <section>
    <h2>Introducción</h2>
    <p>Bienvenido a Sales Funnel System. Esta Política de Privacidad explica cómo recopilamos, usamos y protegemos su información cuando visita nuestro sitio web. Al utilizar el Sitio, usted acepta las prácticas descritas en esta política.</p>
  </section>
  
  <section>
    <h2>Información que Recopilamos</h2>
    <p>Recopilamos información personal y no personal que usted nos proporciona directamente o que se recopila automáticamente cuando utiliza nuestro Sitio.</p>
    
    <ul>
      <li><strong>Información Personal:</strong> Esto puede incluir su nombre, dirección de correo electrónico, nombre de empresa, y cualquier otra información que decida proporcionarnos al registrarse o utilizar nuestro sitio.</li>
      
      <li><strong>Información No Personal:</strong> Incluye datos de navegación, dirección IP, tipo de navegador, tiempo de acceso, páginas vistas, y otra información técnica relacionada con su interacción con nuestro sitio.</li>
    </ul>
  </section>
  
  <section>
    <h2>Uso de la Información</h2>
    <p>Utilizamos la información recopilada para los siguientes fines:</p>
    
    <ul>
      <li>Proveer y mejorar nuestros servicios.</li>
      <li>Gestionar su cuenta.</li>
      <li>Comunicarnos con usted sobre su cuenta.</li>
      <li>Enviar correos electrónicos como recordatorios de sus seguimientos.</li>
    </ul>
  </section>
  
  <section>
    <h2>Seguridad de la Información</h2>
    <p>No compartimos su información personal con terceros. Implementamos medidas de seguridad razonables para proteger su información personal contra el acceso, uso o divulgación no autorizados. Sin embargo, no podemos garantizar la seguridad absoluta de su información. Al finalizar, asegúrese de haber cerrado su sesión, siempre que esté utilizando una computadora compartida.</p>
  </section>
  
  <section>
    <h2>Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Cualquier cambio será publicado en esta página con la fecha de revisión actualizada. Le recomendamos revisar esta política periódicamente.</p>
  </section>
</div>

