<div class="acordeon-horizontal d-flex" style="gap: 5px;">
  <div class="item-acordeon" *ngIf="permisoProspectos"  [class.expandido]="prospectosExpandido">
  <div class="encabezado-acordeon">
    <button class="boton-toggle" (click)="toggleProspectos()">
      <i [ngClass]="prospectosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
    </button>
    <span class="nombre-seccion">{{EnumPaginas.PROSPECTOS}}</span>
  </div>
  <div class="contenido-acordeon-horizontal" style="margin-left: 35px;" *ngIf="prospectosExpandido">
    <app-prospectos></app-prospectos>
  </div>
</div>
 <div class="item-acordeon" *ngIf="permisoContactos" [class.expandido]="contactosExpandido">
    <div class="encabezado-acordeon">
      <button class="boton-toggle" (click)="toggleContactos()">
        <i [ngClass]="contactosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
      </button>
      <span class="nombre-seccion">{{EnumPaginas.CONTACTOS}}</span>
    </div>
     <div class="contenido-acordeon-horizontal" *ngIf="contactosExpandido">
    <app-contactos></app-contactos>
  </div>
</div>
</div>