<div class="acordeon-horizontal d-flex" style="gap: 5px;">
  <div class="item-acordeon" *ngIf="permisoProspectos"  [class.expandido]="seccionExpandida === 'prospectos'">
  <div class="encabezado-acordeon"  (click)="toggleSeccion('prospectos')">
    <!--<button class="boton-toggle" (click)="toggleProspectos()">
      <i [ngClass]="prospectosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
    </button>-->
    <span class="nombre-seccion">{{EnumPaginas.PROSPECTOS}}</span>
  </div>
  <div class="contenido-acordeon-horizontal" style="margin-left: 35px;"  *ngIf="seccionExpandida === 'prospectos'">
    <app-prospectos (headerClicked)="toggleSeccion('prospectos')"></app-prospectos>
  </div>
</div>
 <div class="item-acordeon" *ngIf="permisoContactos" [class.expandido]="seccionExpandida === 'contactos'">
    <div class="encabezado-acordeon" (click)="toggleSeccion('contactos')">
      <!--<button class="boton-toggle" (click)="toggleContactos()">
        <i [ngClass]="contactosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
      </button>-->
      <span class="nombre-seccion">{{EnumPaginas.CONTACTOS}}</span>
    </div>
     <div class="contenido-acordeon-horizontal" *ngIf="seccionExpandida === 'contactos'">
    <app-contactos (headerClicked)="toggleSeccion('contactos')"></app-contactos>
  </div>
</div>
</div>