
<div class="container-fluid container-all imagenFondo" style="padding: 0px; overflow-x: hidden; height: 89vh;">
    <div class="contenedor">
        <div class="cuadro">
            <div class="texto-izquierda">
                <h2>Doble Autenticación</h2>
                <p>Se te ha enviado un código de autorización a tu correo electrónico. Para acceder, favor de ingresar el código de 6 dígitos.</p>
            </div>

            <input type="text" class="codigo-input" maxlength="6" placeholder="------">

            <p class="tiempo-restante">Tiempo restante: <span id="tiempo">0:00</span></p>

            <div class="acciones">
                <a href=" " class="reenviar">Reenviar correo electrónico</a>
                <button class="enviar">Enviar</button>
            </div>
        </div>
    </div>
</div>



  
  
  





