<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '35rem', height: '20rem' }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>

  <ng-template pTemplate="header">
    <label class="margen">
      {{ insertar ? 'Nuevo Servicio' : title + ' ' + servicioForm.get('descripcion')?.value }}
    </label>
    
    <label *ngIf="insertar" class="margen">Nuevo Servicio</label>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="servicioForm">

      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="descripcion">Descripción: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" formControlName="descripcion" />
          <span *ngIf="servicioForm.get('descripcion')?.invalid && servicioForm.get('descripcion')?.touched" class="text-danger"><br>
            <ng-container *ngIf="servicioForm.get('descripcion')?.errors?.['required']">El nombre del servicio es obligatorio.</ng-container>
          </span>
        </div>
      </div>
      
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="abreviatura">Abreviatura: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" formControlName="abreviatura" />
          <span *ngIf="servicioForm.get('abreviatura')?.invalid && servicioForm.get('abreviatura')?.touched" class="text-danger"><br>
            <ng-container *ngIf="servicioForm.get('abreviatura')?.errors?.['required']">La abreviatura del servicio es obligatoria.</ng-container>
          </span>
        </div>
      </div>
      <div class="row inptSpace" *ngIf="!insertar">
        <div class="col-sm-4 lbl">
          <label for="estatus">Estatus: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-checkbox formControlName="estatus" [binary]="true"></p-checkbox>
        </div>
      </div>
  </form>

  </ng-template>

  <ng-template pTemplate="footer">
    <button *ngIf="!insertar" pButton label="Actualizar" (click)="guardarServicio()" severity="secondary"></button>
    <button *ngIf="insertar" pButton label="Agregar" (click)="guardarServicio()" severity="secondary"></button>
    <button pButton label="Cancelar" (click)="close()" severity="secondary"></button>
  </ng-template>
</p-dialog>
