USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_CatalogoOportunidades]    Script Date: 07/07/2025 05:01:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Antonio Quezada
-- Create date: 2021-01-04
-- Description:	Cátalogo de Oportunidades (SELECT, INSERT, UPDATE)
-- Update SEL-OPORTUNIDAD se agrega un campo mas a la consulta 06/12/2023 Daniel mercado
-- Author:		Yulissa Paola González
-- Create date: 2025-07-07
-- Description: Modificación en INS-OPORUNIDAD y UPD-OPORTUNIDAD para validación de decimales
-- =============================================
ALTER PROCEDURE [dbo].[F_CatalogoOportunidades]
	@pBandera VARCHAR (30) = NULL,
	@pIdProspecto INT = 0,
	@pProspecto VARCHAR(100) = NULL,
	@pMonto DECIMAL (18,2) = 0,
	@pmontoNormalizado DECIMAL (18,2) = 0,
	@pIdTipoOportunidad INT = 0,
	@pTipoOportunidad VARCHAR(100) = NULL,
	@pNombreOportunidad VARCHAR(100) = NULL,
	@pAbreviatura VARCHAR(100) = NULL,
	@pIniciales VARCHAR(100) = NULL,
	@pProbabilidad VARCHAR(100) = NULL,
	@pProbabilidadOriginal VARCHAR(7) = NULL,
	--@pFechaEstimadaCierre DATE = NULL,
	@pFechaEstimadaCierre VARCHAR(10) = NULL,
	@pFechaRegistro VARCHAR(10) = NULL,
	@pIdOportunidad INT = 0,
	@pIdEjecutivo INT = NULL,
	@pEjecutivo VARCHAR(100) = NULL,
	@pIdTipoEntrega INT = 0,
	@pComentario VARCHAR(MAX) = NULL,
	@pIdUsuario INT = 0,
	@pIdEstatusOportunidad INT = 0,
	@pStage INT = 0,
    @pIdEmpresa int = 0,
	@startRowIndex int = 0,
	@pAnioOportunidad int = 0,
    @pageSize int = 50,
    @totalCount int = 0 OUT,
		@NombreArchivo VARCHAR (50) = NULL,
	@pIdAgente INT = 0,
	@pIdContacto INT = NULL
AS
BEGIN
	DECLARE @vIdEstatusOportunidad INT
	DECLARE @vEstatusOportunidad VARCHAR(100)
	DECLARE @vTipoUsuario VARCHAR(100)
	DECLARE @vIdOportunidad INT
	DECLARE @vProbabilidadAnterior DECIMAL (5,2)
	DECLARE @PermitirDecimales BIT;

	SET @totalCount = 0
	SET NOCOUNT ON

	IF(@PageSize IS NULL Or @PageSize < 0) SET @PageSize = 100

	IF @pBandera = 'INS-OPORTUNIDAD'
	BEGIN
		SELECT @PermitirDecimales = CASE WHEN Valor = 'true' THEN 1 ELSE 0 END
		FROM ConfiguracionCantidades
		WHERE Clave = 'PermitirDecimales';

		IF (@PermitirDecimales = 0 AND @pMonto % 1 <> 0)
		BEGIN
			RAISERROR('No se permiten montos con decimales actualmente.', 16, 1);
			RETURN;
		END

		SET @vIdEstatusOportunidad = (SELECT idEstatus FROM EstatusOportunidad WHERE Descripcion = 'En Proceso')

		INSERT INTO Oportunidades 
		(NombreOportunidad, Monto, Probabilidad, IdProspecto, FechaEstimadaCierre, Estatus, IdEstatusOportunidad, IdTipoProyecto, FechaRegistro, IdEjecutivo,
		 FechaModificacion, IdStage, IdEmpresa, IdTipoEntrega, IdContactoProspecto)
		VALUES (@pNombreOportunidad, @pMonto, @pProbabilidad, @pIdProspecto, @pFechaEstimadaCierre, 1, @vIdEstatusOportunidad, @pIdTipoOportunidad, GETDATE(), @pIdEjecutivo, 
				GETDATE(), @pStage, @pIdEmpresa, @pIdTipoEntrega, @pIdContacto)

		SET @vIdOportunidad = (SELECT MAX(IdOportunidad) FROM Oportunidades)

		INSERT INTO BitacoraOportunidades 
		(Monto, Probabilidad, FechaEstimadaCierre, FechaRegistro, IdEstatusOportunidad, IdOportunidad, IdUsuario, IdEjecutivo, IdStage)
		VALUES (@pMonto, @pProbabilidad, @pFechaEstimadaCierre, GETDATE(), @vIdEstatusOportunidad, @vIdOportunidad, @pIdUsuario, @pIdEjecutivo, @pStage)

		INSERT INTO HistoricoOportunidades 
		(Comentario, FechaRegistro, IdOportunidad, IdUsuario, IdStage)
		VALUES (@pComentario, GETDATE(), @vIdOportunidad, @pIdUsuario, @pStage)

	END

	IF @pBandera = 'SEL-OPORTUNIDADES'
	BEGIN
		SET @vTipoUsuario = (
		SELECT tu.Descripcion 
		FROM TiposUsuarios tu 
		JOIN Usuarios u ON tu.IdTipoUsuario = u.IdTipoUsuario
		WHERE u.IdUsuario = @pIdUsuario)

		IF @vTipoUsuario != 'Agente'
		BEGIN
			SET @pIdUsuario = 0;
		END
		
		IF @pIdEstatusOportunidad = 1
		BEGIN
		select * from (
			SELECT s.NombreSector, o.IdOportunidad, P.IdProspecto,
			CONVERT(VARCHAR(10), O.IdOportunidad) AS Ident, p.Nombre, o.NombreOportunidad, 
			o.ArchivoDescripcion,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura ,tp.Descripcion,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			c.Nombre AS NombreContacto,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, 
			o.FechaRegistro AS FechaRegistroDate,
			eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4,5) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			CASE WHEN @pIdEstatusOportunidad in(2,3,4,5) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END AS FechaEstimadaCierre,
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 2) AS DiasEtapa1,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 3) AS DiasEtapa2,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 4) AS DiasEtapa3,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 5) AS DiasEtapa4,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 6) AS DiasEtapa5,
			o.IdContactoProspecto,
			(SELECT SUBSTRING(CONCAT(c.Nombre, ' ', c.Apellidos), 1, CHARINDEX(' ', CONCAT(c.Nombre, ' ', c.Apellidos) + ' ') - 1)) AS PrimerNombreContacto,
			CONCAT(c.Nombre, ' ', c.Apellidos) as NombreContactoCompleto
		FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			LEFT JOIN ContactosProspectos c ON c.IdContactoProspecto = o.IdContactoProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN Sectores s ON p.IdSector = s.IdSector--se añade para la columna sector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			--and eo.Descripcion != 'Eliminada'  --se comentariza para que tambien acepte eliminadas ahora que es eliminacion logica
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)

			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			--AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')
			AND (@pFechaRegistro IS NULL OR CONVERT(VARCHAR(10), FechaRegistro, 103) like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR CONVERT(VARCHAR(10), FechaEstimadaCierre, 103) like '%' + @pFechaEstimadaCierre + '%')
			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY FechaEstimadaCierreUpd asc,  Nombre ASC
			
			END
			
		else begin
		select * from (
			SELECT s.NombreSector, o.IdOportunidad,
			
CONVERT(VARCHAR(10), O.IdOportunidad) AS Ident, p.Nombre, o.NombreOportunidad, 
						o.ArchivoDescripcion,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion, 
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			o.FechaRegistro AS FechaRegistro, 
			eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4,5) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			CASE WHEN @pIdEstatusOportunidad in(2,3,4,5) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END AS FechaEstimadaCierre,
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, bo2.FechaRegistro) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega,
			dbo.F_OportunidadDiasEtapaGanadas(O.IdOportunidad, 2) AS DiasEtapa1,
			dbo.F_OportunidadDiasEtapaGanadas(O.IdOportunidad, 3) AS DiasEtapa2,
			dbo.F_OportunidadDiasEtapaGanadas(O.IdOportunidad, 4) AS DiasEtapa3,
			dbo.F_OportunidadDiasEtapaGanadas(O.IdOportunidad, 5) AS DiasEtapa4,
			dbo.F_OportunidadDiasEtapaGanadas(O.IdOportunidad, 6) AS DiasEtapa5,
			o.IdContactoProspecto,
			(SELECT SUBSTRING(CONCAT(c.Nombre, ' ', c.Apellidos), 1, CHARINDEX(' ', CONCAT(c.Nombre, ' ', c.Apellidos) + ' ') - 1)) AS PrimerNombreContacto,
			CONCAT(c.Nombre, ' ', c.Apellidos) as NombreContactoCompleto
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			LEFT JOIN ContactosProspectos c ON c.IdContactoProspecto = o.IdContactoProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus			
			JOIN Sectores s ON p.IdSector = s.IdSector--se añade para la columna sector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			--and eo.Descripcion != 'Eliminada'  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			AND (@pFechaRegistro IS NULL OR CONVERT(VARCHAR(10), FechaRegistro, 103) like '%' + @pFechaRegistro + '%')
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')
			AND (@pFechaEstimadaCierre IS NULL OR CONVERT(VARCHAR(10), FechaEstimadaCierre, 103) like '%' + @pFechaEstimadaCierre + '%')
			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY FechaEstimadaCierreUpd DESC,  Nombre ASC
		end
		
			SELECT 
				@totalCount = COUNT(*) from (
			SELECT s.NombreSector, o.IdOportunidad, p.Nombre, o.NombreOportunidad,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion, 
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'dd/MM/yyyy') AS FechaEstimadaCierre,
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN Sectores s ON p.IdSector = s.IdSector--se añade para la columna sector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			--and eo.Descripcion != 'Eliminada'  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')

			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
	END
	
	
	IF @pBandera = 'SEL-OPORTUNIDADES-ELIMINADAS'
	BEGIN
		SET @vTipoUsuario = (
		SELECT tu.Descripcion 
		FROM TiposUsuarios tu 
		JOIN Usuarios u ON tu.IdTipoUsuario = u.IdTipoUsuario
		WHERE u.IdUsuario = @pIdUsuario)

		IF @vTipoUsuario != 'Agente'
		BEGIN
			SET @pIdUsuario = 0;
		END

		IF @pIdEstatusOportunidad = 1
		BEGIN
		select * from (
			SELECT s.NombreSector, o.IdOportunidad, p.Nombre, o.NombreOportunidad, 
					o.ArchivoDescripcion,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion, 
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			FORMAT(
				COALESCE(
					CASE WHEN @pIdEstatusOportunidad IN (2, 3, 4) THEN bo2.FechaRegistro END,
					CASE WHEN @pIdEstatusOportunidad = 1 THEN o.FechaEstimadaCierre END,
					o.FechaModificacion
				), 
				'dd/MM/yyyy'
			) AS FechaEstimadaCierre,
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN Sectores s ON p.IdSector = s.IdSector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')
			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY FechaEstimadaCierreUpd asc,  Nombre ASC
			end
			
		ELSE
		
		BEGIN
		select * from (
			SELECT s.NombreSector, o.IdOportunidad,
			CONVERT(VARCHAR(10), O.IdOportunidad) AS Ident, p.Nombre, o.NombreOportunidad,
				o.ArchivoDescripcion,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			o.FechaRegistro AS FechaRegistro, 
			eo.Abreviatura AS AbreviaturaEstatus, 
			eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, 
			o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			COALESCE(
					CASE WHEN @pIdEstatusOportunidad IN (2, 3, 4) THEN bo2.FechaRegistro END,
					CASE WHEN @pIdEstatusOportunidad = 1 THEN o.FechaEstimadaCierre END,
					o.FechaModificacion
			) AS FechaEstimadaCierre,
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 2) AS DiasEtapa1,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 3) AS DiasEtapa2,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 4) AS DiasEtapa3,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 5) AS DiasEtapa4,
			dbo.F_OportunidadDiasEtapa(O.IdOportunidad, 6) AS DiasEtapa5,
			o.IdContactoProspecto,
			(SELECT SUBSTRING(CONCAT(c.Nombre, ' ', c.Apellidos), 1, CHARINDEX(' ', CONCAT(c.Nombre, ' ', c.Apellidos) + ' ') - 1)) AS PrimerNombreContacto,
			CONCAT(c.Nombre, ' ', c.Apellidos) as NombreContactoCompleto
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			LEFT JOIN ContactosProspectos c ON c.IdContactoProspecto = o.IdContactoProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus			
			JOIN Sectores s ON p.IdSector = s.IdSector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			--AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')
			AND (@pFechaRegistro IS NULL OR CONVERT(VARCHAR(10), FechaRegistro, 103) like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR CONVERT(VARCHAR(10), FechaEstimadaCierre, 103) like '%' + @pFechaEstimadaCierre + '%')
			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY convert(datetime, FechaEstimadaCierre, 103) DESC
		end
			SELECT 
				@totalCount = COUNT(*) from (
			SELECT s.NombreSector, o.IdOportunidad, p.Nombre, o.NombreOportunidad,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion, 
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd,
			FORMAT(
				COALESCE(
					CASE WHEN @pIdEstatusOportunidad IN (2, 3, 4) THEN bo2.FechaRegistro END,
					CASE WHEN @pIdEstatusOportunidad = 1 THEN o.FechaEstimadaCierre END,
					o.FechaModificacion
				), 
				'dd/MM/yyyy'
			) AS FechaEstimadaCierre,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			O.FechaEstimadaCierre AS FechaEstimadaCierreOriginal,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN Sectores s ON p.IdSector = s.IdSector
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')
			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
	END
	
	IF @pBandera = 'SEL-OPORTUNIDADES-AGENTE'
	BEGIN
		SET @vTipoUsuario = (
		SELECT tu.Descripcion 
		FROM TiposUsuarios tu 
		JOIN Usuarios u ON tu.IdTipoUsuario = u.IdTipoUsuario
		WHERE u.IdUsuario = @pIdUsuario)

		--IF @vTipoUsuario != 'Agente'
		--BEGIN
		--	SET @pIdUsuario = 0;
		--END

		IF @pIdEstatusOportunidad = 1
		BEGIN
		select * from (
			SELECT o.IdOportunidad, p.Nombre, o.NombreOportunidad, o.ArchivoDescripcion,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'dd/MM/yyyy') AS FechaEstimadaCierre,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnelOriginal,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  and eo.Descripcion != 'Eliminada'  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)

			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')


			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY FechaEstimadaCierreUpd asc,  Nombre ASC
			end
		else begin
		select * from (
			SELECT o.IdOportunidad, p.Nombre, o.NombreOportunidad,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'dd/MM/yyyy') AS FechaEstimadaCierre,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  and eo.Descripcion != 'Eliminada'  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')

			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
			ORDER BY FechaEstimadaCierreUpd DESC,  Nombre ASC
		end
			SELECT 
				@totalCount = COUNT(*) from (
			SELECT o.IdOportunidad, p.Nombre, o.NombreOportunidad,
			CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
			tp.Abreviatura, tp.Descripcion,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			ISNULL(u.Iniciales, 'S/A') AS Iniciales,
			CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			o.monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+' %') END) AS Probabilidad, 
			DATEDIFF(DAY,o.FechaModificacion, GETDATE()) AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
			FORMAT(o.FechaRegistro, 'dd/MM/yyyy') AS FechaRegistro, eo.Abreviatura AS AbreviaturaEstatus, eo.Descripcion AS DescripcionEstatus,
			o.Probabilidad AS decProbabilidad, o.IdEjecutivo, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
			FORMAT(CASE WHEN @pIdEstatusOportunidad in(2,3,4) THEN bo2.FechaRegistro WHEN @pIdEstatusOportunidad=1 THEN o.FechaEstimadaCierre END, 'dd/MM/yyyy') AS FechaEstimadaCierre,
			(CASE WHEN bo.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(bo.Probabilidad, '#')+' %') END) AS ProbabilidadOriginal, 
			DATEDIFF(DAY, o.FechaRegistro, GETDATE()) AS DiasFunnel,
			o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
			(select count(*) FROM HistoricoOportunidades  WHERE IdOportunidad = o.IdOportunidad) as TotalComentarios,
			(select count(*) FROM Archivos  WHERE IdOportunidad = o.IdOportunidad AND eliminado = 0) as TotalArchivos,
			o.IdTipoProyecto,
			o.IdTipoEntrega
			FROM Oportunidades o
			JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
			JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
			LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
			LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
			(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Archivos a ON a.IdOportunidad = (SELECT MAX(IdArchivo) FROM Archivos WHERE IdOportunidad = o.IdOportunidad)
			LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
			LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
			JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
			JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
			(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
			left join (
				SELECT IdOportunidad, max(FechaRegistro) as FechaRegistro
				FROM BitacoraOportunidades 
				where IdEstatusOportunidad = @pIdEstatusOportunidad
				group by IdOportunidad) as bo2
				on bo2.IdOportunidad = o.IdOportunidad 
			WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  and eo.Descripcion != 'Eliminada'  
			AND (@pIdEstatusOportunidad = 0 OR o.IdEstatusOportunidad = @pIdEstatusOportunidad)
			AND o.IdEmpresa = @pIdEmpresa 
			
		) as todo
		WHERE 
		 (@pNombreOportunidad IS NULL OR NombreOportunidad like '%' + @pNombreOportunidad + '%')
			AND (@pProspecto IS NULL OR Nombre like '%' + @pProspecto + '%')
			AND (@pAbreviatura IS NULL OR Abreviatura like '%' + @pAbreviatura + '%')
			AND (@pIniciales IS NULL OR Iniciales like '%' + @pIniciales + '%')
			AND (@pMonto = 0 OR monto <=@pMonto)
			AND (@pProbabilidad IS NULL OR Probabilidad like '%' + @pProbabilidad + '%')
			AND (@pProbabilidadOriginal IS NULL OR ProbabilidadOriginal like '%' + @pProbabilidadOriginal + '%')
			AND (@pmontoNormalizado = 0 OR MontoNormalizado<=@pmontoNormalizado)
			--AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre = @pFechaEstimadaCierre )
			--AND (@pFechaRegistro IS NULL OR FechaRegistro = @pFechaRegistro )
			--todo
			AND (@pFechaRegistro IS NULL OR FechaRegistro like '%' + @pFechaRegistro + '%')
			AND (@pFechaEstimadaCierre IS NULL OR FechaEstimadaCierre like '%' + @pFechaEstimadaCierre + '%')

			AND (@pTipoOportunidad IS NULL OR Abreviatura like '%' + @pTipoOportunidad + '%')
			AND (@pEjecutivo IS NULL OR Iniciales like '%' + @pEjecutivo + '%')
	END

	IF @pBandera = 'SEL-ID-OPORTUNIDAD-NOMBRE'
	BEGIN
		SELECT IdOportunidad FROM Oportunidades 
			WHERE IdEmpresa = @pIdEmpresa 
			AND NombreOportunidad = @pNombreOportunidad
	END
	
	IF @pBandera = 'SEL-CLIENTETIPO'
	BEGIN
		SELECT distinct p.Nombre, tp.Descripcion as TipoOportunidad, o.IdOportunidad,  o.NombreOportunidad, o.Monto, (o.Monto * o.Probabilidad) / 100 as MontoNormalizado,
				dbo.F_ConsultaMontos('MONTO', o.IdProspecto, tp.IdTipoProyecto) as MontoTotal,
				dbo.F_ConsultaMontos('MONTO-NORMALIZADO', o.IdProspecto, o.IdTipoProyecto) as MontoNormalizadoTotal,
				(dbo.F_ConsultaMontos('MONTO-NORMALIZADO', o.IdProspecto, o.IdTipoProyecto)  / dbo.F_ConsultaMontos('MONTO', o.IdProspecto, tp.IdTipoProyecto)) as Probabilidad
		FROM Prospectos p
		LEFT JOIN Oportunidades o ON o.IdProspecto = p.IdProspecto and o.IdEstatusOportunidad = 1
		LEFT JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
		WHERE tp.Descripcion IS NOT NULL AND p.IdEmpresa = @pIdEmpresa

	END

	IF @pBandera = 'SEL-TIPO'
	BEGIN
	DECLARE @vMontoTotal DECIMAL (16,2)
		SET @vMontoTotal = (select SUM(Monto) from Oportunidades WHERE IdEmpresa=@pIdEmpresa)
		SELECT distinct tp.Descripcion, ISNULL(dbo.F_ConsultaMontos('MONTO', 0, tp.IdTipoProyecto), 0) as Monto,
				ISNULL(dbo.F_ConsultaMontos('MONTO-NORMALIZADO', 0, o.IdTipoProyecto),0) as MontoNormalizado,
				CAST(ROUND(((ISNULL(dbo.F_ConsultaMontos('MONTO', 0, tp.IdTipoProyecto), 0) * 100)/@vMontoTotal),2) as Decimal(5,2)) as Porcentaje
		
		FROM TiposOportunidad tp
		LEFT JOIN Oportunidades o ON o.IdTipoProyecto = tp.IdTipoProyecto 
		WHERE Monto IS NOT NULL AND tp.IdEmpresa = @pIdEmpresa
	END

	IF @pBandera = 'SEL-OPORTUNIDAD-STAGE'
	BEGIN
		select * from (
			SELECT distinct s.Id, s.Concepto, ISNULL(dbo.F_ConsultaMontos('MONTO-STAGE', s.Id, @pIdEmpresa), 0) as Monto,
					ISNULL(dbo.F_ConsultaMontos('COUNT-STAGE', s.Id, @pIdEmpresa),0) as Contador,
					CAST(ISNULL(dbo.F_ConsultaMontos('COUNT-STAGE', s.Id, @pIdEmpresa),0) as INT) + 3  as Area,
					s.ColorSerie
			FROM StageOportunidad s
			LEFT JOIN Oportunidades o ON o.IdStage = s.Id 
			WHERE s.Id NOT IN (8,9) AND o.IdEmpresa = @pIdEmpresa AND s.Estatus = 1
		) as montoStage
		
		order by Id 
	END

	IF @pBandera = 'SEL-OPORTUNIDAD'
	BEGIN
		SELECT p.Nombre, o.NombreOportunidad, tp.Descripcion, o.monto, o.Probabilidad, FORMAT(o.FechaEstimadaCierre, 'yyyy-MM-dd') as FechaEstimadaCierre, o.FechaModificacion, o.IdEjecutivo, o.IdProspecto,
		CASE WHEN DATALENGTH(CONCAT(St.Stage, ' - ', St.Concepto)) > 30 THEN SUBSTRING(CONCAT(St.Stage, ' - ', St.Concepto), 0, 30) + '...'  ELSE St.Concepto END AS Stage,
		(o.monto * (o.probabilidad /  100)) AS MontoNormalizado,CONCAT(St.Stage, ' - ', St.Concepto)  as cmdStage,
		CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
			tp.Abreviatura, tp.Descripcion as tipo,
			te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
			eo.Descripcion as estatusOportunidad, o.IdEstatusOportunidad, st.Id AS idStage,tp.IdTipoProyecto as idTipoProyecto, o.ArchivoDescripcion, te.IdTipoEntrega as idTipoEntrega,
			o.IdContactoProspecto,
			(SELECT SUBSTRING(CONCAT(c.Nombre, ' ', c.Apellidos), 1, CHARINDEX(' ', CONCAT(c.Nombre, ' ', c.Apellidos) + ' ') - 1)) AS PrimerNombreContacto,
			CONCAT(c.Nombre, ' ', c.Apellidos) as NombreContactoCompleto
		FROM Oportunidades o
		JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
		LEFT JOIN ContactosProspectos c ON c.IdContactoProspecto = o.IdContactoProspecto
		JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
		LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
		LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
		LEFT JOIN StageOportunidad St on o.IdStage = St.Id
		JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
		WHERE o.IdOportunidad = @pIdOportunidad
	END

	IF @pBandera = 'SEL-PRIMER-MES'
	BEGIN
		SET LANGUAGE Spanish;
		DECLARE @AnoActual int = YEAR(GETDATE())
		SELECT TOP 1 
			MONTH(FechaEstimadaCierre) as Mes,
			YEAR(FechaEstimadaCierre) as Anio,
			DATENAME(MONTH, MONTH(FechaEstimadaCierre)) as MesName
		FROM Oportunidades 
		WHERE IdEstatusOportunidad = 1 AND IdEmpresa = @pIdEmpresa
		ORDER BY FechaEstimadaCierre 
	END

	IF @pBandera = 'SEL-TARJETAS-MES'
	BEGIN
		SET @vTipoUsuario = (
		SELECT tu.Descripcion 
		FROM TiposUsuarios tu 
		JOIN Usuarios u ON tu.IdTipoUsuario = u.IdTipoUsuario
		WHERE u.IdUsuario = @pIdUsuario)

		IF @vTipoUsuario != 'Agente'
		BEGIN
			SET @pIdUsuario = 0;
		END

		SELECT o.IdOportunidad, p.Nombre, o.NombreOportunidad, 
		CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
		tp.Abreviatura,tp.Descripcion, 
		te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
		ISNULL(u.Iniciales, 'S/A') AS Iniciales,
		CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
		o.Monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+'%') END) AS Probabilidad, o.Probabilidad as Prob,
		FORMAT(o.FechaEstimadaCierre, 'dd/MM/yyyy') as FechaEstimadaCierre, FORMAT(o.FechaEstimadaCierre, 'yyyy-MM-dd') as FechaCierreFormat, 
		FORMAT(o.FechaModificacion, 'dd/MM/yyyy') AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
		o.Probabilidad AS decProbabilidad, o.IdEjecutivo, FORMAT(o.FechaEstimadaCierre, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
		o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
		CASE WHEN u.ArchivoImagen IS NULL THEN 'persona_icono_principal.png' ELSE u.ArchivoImagen END as Foto

		FROM Oportunidades o
		JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
		JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
		LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
		LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
		(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
		LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
		LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
		JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
		JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
		(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
		WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  and eo.Descripcion != 'Eliminada' and 
		o.IdEstatusOportunidad = 1
		--linea del filtro 
		AND MONTH(o.FechaEstimadaCierre) = @pIdProspecto AND YEAR(o.FechaEstimadaCierre) = @pAnioOportunidad
		AND o.IdEmpresa = @pIdEmpresa
		ORDER BY o.FechaEstimadaCierre ASC
	END

		IF @pBandera = 'SEL-TARJETAS-STAGE'
	BEGIN
		SET @vTipoUsuario = (
		SELECT tu.Descripcion 
		FROM TiposUsuarios tu 
		JOIN Usuarios u ON tu.IdTipoUsuario = u.IdTipoUsuario
		WHERE u.IdUsuario = @pIdUsuario)

		IF @vTipoUsuario != 'Agente'
		BEGIN
			SET @pIdUsuario = 0;
		END

		SELECT o.IdOportunidad, p.Nombre, o.NombreOportunidad, 
		CASE WHEN DATALENGTH(o.NombreOportunidad) > 80 THEN SUBSTRING(o.NombreOportunidad, 0, 80) + '...'  ELSE o.NombreOportunidad END AS NombreAbreviado, 
		tp.Abreviatura, tp.Descripcion, 
		te.Abreviatura AS Entrega, te.Descripcion AS EntregaDescripcion,
		ISNULL(u.Iniciales, 'S/A') AS Iniciales,
		CASE WHEN u.Iniciales IS NULL THEN 'Sin Asignar' ELSE u.Nombre + ' ' + u.ApellidoPaterno + ' ' + u.ApellidoMaterno END AS NombreEjecutivo,
		o.Monto,(CASE WHEN o.Probabilidad = 0 THEN '0 %' ELSE CONVERT(VARCHAR, FORMAT(o.Probabilidad, '#')+'%') END) AS Probabilidad, o.Probabilidad as Prob,
		FORMAT(o.FechaEstimadaCierre, 'dd/MM/yyyy') as FechaEstimadaCierre, FORMAT(o.FechaEstimadaCierre, 'yyyy-MM-dd') as FechaCierreFormat, 
		FORMAT(o.FechaModificacion, 'dd/MM/yyyy') AS FechaModificacion, ho.Comentario, (o.monto * (o.probabilidad /  100.0)) AS MontoNormalizado, 
		o.Probabilidad AS decProbabilidad, o.IdEjecutivo, FORMAT(o.FechaEstimadaCierre, 'yyyy-MM-dd') AS FechaEstimadaCierreUpd, 
		o.IdEstatusOportunidad, o.IdStage, st.Stage,  CONCAT(St.Stage, ' - ', St.Concepto) as TooltipStage,
		CASE WHEN u.ArchivoImagen IS NULL THEN 'persona_icono_principal.png' ELSE u.ArchivoImagen END as Foto

		FROM Oportunidades o
		JOIN Prospectos p ON o.IdProspecto = p.IdProspecto
		JOIN TiposOportunidad tp ON o.IdTipoProyecto = tp.IdTipoProyecto
		LEFT JOIN TiposEntrega te ON o.IdTipoEntrega = te.IdTipoEntrega
		LEFT JOIN HistoricoOportunidades ho ON ho.IdHistoricoOportunidad = 
		(SELECT MAX(IdHistoricoOportunidad) FROM HistoricoOportunidades WHERE IdOportunidad = o.IdOportunidad)
		LEFT JOIN Usuarios u ON o.IdEjecutivo = u.IdUsuario
		LEFT JOIN StageOportunidad st ON o.IdStage = st.Id
		JOIN EstatusOportunidad eo ON o.IdEstatusOportunidad = eo.IdEstatus
		JOIN BitacoraOportunidades bo ON bo.IdBitacoraOportunidad = 
		(SELECT MIN(IdBitacoraOportunidad) FROM BitacoraOportunidades WHERE IdOportunidad = o.IdOportunidad)
		WHERE (@pIdUsuario = 0 OR o.IdEjecutivo = @pIdUsuario)  
		AND eo.Descripcion != 'Eliminada' 
		AND o.IdEstatusOportunidad = 1
		--linea del filtro 
		--AND MONTH(o.FechaEstimadaCierre) = @pIdProspecto 
		AND st.Stage = @pIdProspecto 
		AND o.IdEmpresa = @pIdEmpresa
		ORDER BY o.FechaEstimadaCierre ASC
	END

	IF @pBandera = 'SEL-HISTORICO'
	BEGIN
		SELECT o.NombreOportunidad,u.Iniciales, u.Nombre + ' ' + u.ApellidoMaterno + ' ' + u.ApellidoPaterno AS NombreCompleto, 
		FORMAT(ho.FechaRegistro, 'dd-MM-yyyy HH:mm:ss') AS FechaRegistro, ho.Comentario
		FROM HistoricoOportunidades ho
		JOIN Usuarios u ON ho.IdUsuario = u.IdUsuario
		JOIN Oportunidades o ON ho.IdOportunidad = o.IdOportunidad
		WHERE ho.IdOportunidad = @pIdOportunidad AND o.IdEmpresa = @pIdEmpresa
		ORDER BY ho.IdHistoricoOportunidad desc
	END

	IF @pBandera = 'UPD-OPORTUNIDAD'
	BEGIN
		SELECT @PermitirDecimales = CASE WHEN Valor = 'true' THEN 1 ELSE 0 END
		FROM ConfiguracionCantidades
		WHERE Clave = 'PermitirDecimales';

		IF (@PermitirDecimales = 0 AND @pMonto % 1 <> 0)
		BEGIN
			RAISERROR('No se permiten montos con decimales actualmente.', 16, 1);
			RETURN;
		END

	    SET @vEstatusOportunidad = (SELECT Descripcion FROM EstatusOportunidad WHERE IdEstatus = @pIdEstatusOportunidad)
		UPDATE Oportunidades 
		SET NombreOportunidad = CASE WHEN @pNombreOportunidad IS NOT NULL THEN @pNombreOportunidad ELSE NombreOportunidad END,
		Monto = @pMonto,
		Probabilidad = @pProbabilidad,
		IdEjecutivo = @pIdEjecutivo,
		FechaEstimadaCierre = @pFechaEstimadaCierre,
		FechaModificacion = GETDATE(),
		IdEstatusOportunidad = @pIdEstatusOportunidad,
		IdStage = @pStage,
		IdTipoProyecto = @pIdTipoOportunidad,
		IdTipoEntrega = @pIdTipoEntrega,
		IdContactoProspecto = @pIdContacto
		WHERE IdOportunidad = @pIdOportunidad

		IF @vEstatusOportunidad = 'Cancelada' or @vEstatusOportunidad = 'Pérdida' or @vEstatusOportunidad = 'Eliminada' 
		BEGIN
			UPDATE Oportunidades 
			SET Probabilidad = 0 
			WHERE IdOportunidad = @pIdOportunidad
		END

		IF @vEstatusOportunidad = 'Ganada'
		BEGIN
			UPDATE Oportunidades SET Probabilidad = 100 WHERE IdOportunidad = @pIdOportunidad
		END
		--se cambia borrado fisico por logico a peticion del ingeniero 26/02/24 Allan Mendoza
		--IF @vEstatusOportunidad = 'Eliminada'
		--BEGIN
		--	DELETE FROM BitacoraOportunidades WHERE IdOportunidad = @pIdOportunidad
		--	DELETE FROM HistoricoOportunidades WHERE IdOportunidad = @pIdOportunidad
		--	DELETE FROM Oportunidades WHERE IdOportunidad = @pIdOportunidad
		--END

	
			INSERT INTO BitacoraOportunidades 
			(Monto, Probabilidad, FechaEstimadaCierre, FechaRegistro, IdEjecutivo, IdEstatusOportunidad, IdOportunidad, IdUsuario, IdStage)
			VALUES (@pMonto, @pProbabilidad, @pFechaEstimadaCierre, GETDATE(), @pIdEjecutivo, @pIdEstatusOportunidad, @pIdOportunidad, @pIdUsuario, @pStage)
		

	END

	IF @pBandera = 'INS-HISTORICO'
	BEGIN
		INSERT INTO HistoricoOportunidades 
		(Comentario, FechaRegistro, IdOportunidad, IdUsuario, IdStage)
		VALUES (@pComentario, GETDATE(), @pIdOportunidad, @pIdUsuario, @pStage)

		UPDATE Oportunidades 
		SET FechaModificacion = GETDATE()
		WHERE IdOportunidad = @pIdOportunidad
	END

	IF @pBandera = 'UPD-EJECUTIVO'
	BEGIN
		UPDATE Oportunidades SET
		IdEjecutivo = @pIdEjecutivo
		WHERE IdOportunidad = @pIdOportunidad
	END

	IF @pBandera = 'UPD-ESTATUS'
	BEGIN

		SET @vEstatusOportunidad = (SELECT Descripcion FROM EstatusOportunidad WHERE IdEstatus = @pIdEstatusOportunidad)
		SET @vProbabilidadAnterior = (SELECT TOP 1 Probabilidad FROM BitacoraOportunidades WHERE IdOportunidad = 30  order by IdBitacoraOportunidad)

		IF @vEstatusOportunidad = 'Cancelada' or @vEstatusOportunidad = 'Perdida' or @vEstatusOportunidad = 'Eliminada' 
		BEGIN
			UPDATE Oportunidades SET Probabilidad = 0, IdEstatusOportunidad = @pIdEstatusOportunidad WHERE IdOportunidad = @pIdOportunidad
		END

		IF @vEstatusOportunidad = 'Ganada'
		BEGIN
			UPDATE Oportunidades SET Probabilidad = 100, IdEstatusOportunidad = @pIdEstatusOportunidad WHERE IdOportunidad = @pIdOportunidad
		END

		IF @pIdEstatusOportunidad = 1
		BEGIN
			UPDATE Oportunidades SET Probabilidad = @vProbabilidadAnterior, IdEstatusOportunidad = @pIdEstatusOportunidad WHERE IdOportunidad = @pIdOportunidad
		END
		

		--IF @vEstatusOportunidad = 'Eliminada'
		--BEGIN
		--	DELETE FROM BitacoraOportunidades WHERE IdOportunidad = @pIdOportunidad
		--	DELETE FROM HistoricoOportunidades WHERE IdOportunidad = @pIdOportunidad
		--	DELETE FROM Oportunidades WHERE IdOportunidad = @pIdOportunidad
		--END
	
	END
	IF @pBandera = 'UPD-STAGE'
		BEGIN
			UPDATE Oportunidades SET
			IdStage = (select Id from StageOportunidad where Stage =@pStage),
			FechaModificacion= GETDATE(),
			probabilidad = (select PorcentajeAsignado from StageOportunidad where Stage =@pStage)
			WHERE IdOportunidad = @pIdOportunidad

			INSERT INTO [dbo].[HistoricoOportunidades]
           ([Comentario],[FechaRegistro],[IdOportunidad],[IdUsuario],[IdStage])
			VALUES
           ('Fase Modificada en Calendarización por el Usuario',GETDATE(),@pIdOportunidad,@pIdUsuario
           ,(select Id from StageOportunidad where Stage =@pStage))

		END

	IF @pBandera = 'UPD-FECHAESTIMADA'
		BEGIN
			UPDATE Oportunidades SET
			FEchaEstimadaCierre = @pFechaEstimadaCierre,
			FechaModificacion= GETDATE()
			WHERE IdOportunidad = @pIdOportunidad

			INSERT INTO [dbo].[HistoricoOportunidades]
           ([Comentario],[FechaRegistro],[IdOportunidad],[IdUsuario],[IdStage])
			VALUES
           ('Fecha Modificada en Calendarización por el Usuario',GETDATE(),@pIdOportunidad,@pIdUsuario
           ,(select Id from StageOportunidad where Stage =@pStage))

		END

	IF @pBandera = 'SEL-DETALLEAGENTE'
	BEGIN
	DECLARE @vMontoTotalAgente DECIMAL (16,2)
	DECLARE @vIdEmpresa int 
		SET @vIdEmpresa = (select IdEmpresa from Usuarios WHERE IdUsuario=@pIdAgente)

		SET @vMontoTotalAgente = (select SUM(Monto) from Oportunidades WHERE IdEmpresa=@vIdEmpresa)

		SELECT distinct tp.Descripcion, ISNULL(dbo.F_ConsultaMontos('MONTO', 0, tp.IdTipoProyecto), 0) as Monto,
				ISNULL(dbo.F_ConsultaMontos('MONTO-NORMALIZADO', 0, o.IdTipoProyecto),0) as MontoNormalizado,
				CAST(ROUND(((ISNULL(dbo.F_ConsultaMontos('MONTO', 0, tp.IdTipoProyecto), 0) * 100)/@vMontoTotalAgente),2) as Decimal(5,2)) as Porcentaje,
				emp.NombreEmpresa as Empresa
		
		FROM TiposOportunidad tp
		LEFT JOIN Oportunidades o ON o.IdTipoProyecto = tp.IdTipoProyecto 
		JOIN Empresas emp ON emp.IdEmpresa = tp.IdEmpresa 
		WHERE Monto IS NOT NULL 
		AND tp.IdEmpresa = @vIdEmpresa
	END
	
	IF @pBandera = 'SEL-TIPO-OPOR-AGENTE'
	BEGIN
		DECLARE @vMontoTotalOP DECIMAL (16,2)
		SET @vMontoTotalOP = (select SUM(Monto) from Oportunidades WHERE IdEjecutivo = @pIdAgente and IdEstatusOportunidad =1 and IdEmpresa = @pIdEmpresa)

		DECLARE @Tabla3 table (IdTipoOporAgente int, Descripcion varchar(50), Monto decimal(16,2), MontoNormalizado decimal(16,2), Porcentaje decimal(6,2))
		INSERT INTO @Tabla3
			SELECT distinct 
			tp.IdTipoProyecto as IdTipoOporAgente,
			tp.Descripcion, 
			ISNULL(dbo.F_ConsultaMontos('MONTO-AGENTE-TIPO', @pIdAgente, tp.IdTipoProyecto), 0) as Monto,
			ISNULL(dbo.F_ConsultaMontos('MONTO-NORM-AGENTE-TIPO', @pIdAgente, o.IdTipoProyecto),0) as MontoNormalizado,
			CAST(ROUND(((ISNULL(dbo.F_ConsultaMontos('MONTO-AGENTE-TIPO', @pIdAgente, tp.IdTipoProyecto), 0) * 100)/@vMontoTotalOP),2) as Decimal(5,2)) as Porcentaje
			FROM TiposOportunidad tp
			LEFT JOIN Oportunidades o ON o.IdTipoProyecto = tp.IdTipoProyecto 
			WHERE o.IdEjecutivo = @pIdAgente and o.IdEmpresa = @pIdEmpresa

		select * from @Tabla3 WHERE Monto != 0 order by Monto desc
	END
		IF @pBandera = 'SEL-TIPO-SIN-MONTOS-CEROS'
	BEGIN
		-- Crear una tabla temporal de tipo tabla
		CREATE TABLE #ResultadosTemp (
			IdTipoProyecto int,
			Descripcion NVARCHAR(MAX),
			Monto DECIMAL(18, 2),
			MontoNormalizado DECIMAL(18, 2),
			Porcentaje DECIMAL(18, 2)
		);

		-- Insertar datos en la tabla temporal
		INSERT INTO #ResultadosTemp
		SELECT DISTINCT
		    tp.IdTipoProyecto,
			tp.Descripcion,
			ISNULL(dbo.F_ConsultaMontos('MONTO', 0, tp.IdTipoProyecto), 0) as Monto,
			ISNULL(dbo.F_ConsultaMontos('MONTO-NORMALIZADO', 0, o.IdTipoProyecto), 0) as MontoNormalizado,
			0 as Porcentaje -- Inicializamos a 0, se actualizará más adelante
		FROM 
			TiposOportunidad tp
		LEFT JOIN
			Oportunidades o ON o.IdTipoProyecto = tp.IdTipoProyecto
		WHERE
			Monto IS NOT NULL
			AND Monto <> 0
			AND ISNULL(dbo.F_ConsultaMontos('MONTO-NORMALIZADO', 0, o.IdTipoProyecto), 0) <> 0
			AND tp.IdEmpresa = @pIdEmpresa;

		-- Calcular el porcentaje después de la inserción
		DECLARE @vMontoTotal2 DECIMAL(18, 2)
		SET @vMontoTotal2 = (SELECT SUM(Monto) FROM #ResultadosTemp);

		UPDATE #ResultadosTemp
		SET Porcentaje = Monto *100/ @vMontoTotal2;

		-- Consulta de la tabla temporal
		SELECT * FROM #ResultadosTemp
		order by Monto desc;

		-- Eliminar la tabla temporal al final de la sesión
		DROP TABLE #ResultadosTemp;

	END
	
	IF @pBandera = 'SEL-IDUSUARIO-OPORTUNIDAD'
	BEGIN
		SELECT IdEjecutivo FROM Oportunidades
			WHERE IdOportunidad = @pIdOportunidad 
		ORDER BY IdEjecutivo
	END
	
	IF @pBandera = 'UPDATE-ARCHIVO'
	BEGIN
		UPDATE Oportunidades 
		SET 
		ArchivoDescripcion = @NombreArchivo,
		FechaModificacion=GetDate()
		WHERE IdOportunidad = @pIdOportunidad
	END

END


--select * from Prospectos WHERE IdEmpresa = 6

