USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_PermitirDecimales]    Script Date: 14/07/2025 05:39:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Yulissa Paola González
-- Create date: 2025-07-07
-- Description:	Obtener PermitirDecimales por IdEmpresa
-- =============================================
ALTER PROCEDURE [dbo].[F_PermitirDecimales]
  @IdEmpresa INT
AS
BEGIN
  SELECT permitirDecimales
  FROM Empresas
  WHERE IdEmpresa = @IdEmpresa
END
