USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_CodigoAutentificacionFunnel]    Script Date: 06/05/2025 10:56:54 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Xiomara Amador
-- Create date: 05-05-2025 
-- Description:	Verifica el código para validar el correo
-- =============================================
CREATE PROCEDURE [dbo].[F_CodigoValidacionCorreoFunnel] 
(	
	@pCorreo		VarChar(200),
	@pCodigo		int
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Result			Bit;
	DECLARE @ErrorMessage	Varchar(MAX);	
	DECLARE @TipoMensaje	Int;

	BEGIN TRAN;

	BEGIN TRY  
		
		DECLARE @TiempoInicio			DATETIME;
		DECLARE @TiempoFin				DATETIME;	
		SET @pCorreo = LTRIM(RTRIM(@pCorreo));

		IF EXISTS(SELECT 1 FROM [dbo].[SolicitudesUsuarios] WHERE [Correo] = @pCorreo AND [CodigoAutenticacion] = @pCodigo)
		BEGIN

			SELECT 
				@TiempoInicio = [FechaInicio],
				@TiempoFin = [FechaFin]
			FROM 
				[dbo].[SolicitudesUsuarios] 
			WHERE 
				[Correo] = @pCorreo;

			IF (
				(@TiempoInicio IS NULL AND @TiempoFin IS NULL) OR
				(GETDATE() >= @TiempoInicio AND GETDATE() <= @TiempoFin)
			)
			BEGIN
				SET @Result = 1;				
				SET @ErrorMessage = 'Código Correcto.';
				SET @TipoMensaje = 1;
			END					
			ELSE
			BEGIN
				SET @Result = 0;				
				SET @ErrorMessage = 'Código Caducado.';
				SET @TipoMensaje = 2;
			END

		END
		ELSE
		BEGIN
			SET @ErrorMessage = 'Código incorrecto.';
			SET @Result = 0;	
			SET @TipoMensaje = 3;
		END	
		
		COMMIT TRAN;
	END TRY  
	BEGIN CATCH  
		SET @Result = 0;
		SET @ErrorMessage = 'Error ' + ERROR_MESSAGE();
		ROLLBACK TRAN;
	END CATCH;

	SELECT @Result AS Result, @ErrorMessage AS ErrorMessage, @TipoMensaje AS TipoMensaje
END
