USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_SolicitudesUsuarios]    Script Date: 06/05/2025 10:08:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ulises Mireles Cruz
-- Create date: 2021-04-19
-- Description:	Registro de usuarios que solicitan el registro 
-- Update Date: 05-05-2025
-- Author: Xiomara Amador
-- Description: Se agrego la vaalidacion de correo
-- =============================================
ALTER PROCEDURE [dbo].[F_SolicitudesUsuarios] 
	@pNombre VARCHAR(100),
	@pApellidos VARCHAR(200),
	@pCorreo VARCHAR(500),
	@pEmpresa VARCHAR(200),
	@pTelefono VARCHAR(30),
    @pSitioWeb VARCHAR(200),
	@pNumEmpleados VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Result				BIT = 0;
	DECLARE @ErrorMessage		VARCHAR(MAX) = '';
	DECLARE @CodigoAutentificacion INT;
	DECLARE @FechaInicio		DATETIME;
	DECLARE @FechaFin			DATETIME;

	BEGIN TRY
		BEGIN TRAN;
		INSERT INTO 
			SolicitudesUsuarios (Nombre, Apellidos, Correo, Empresa, FechaRegistro, Telefono, SitioWeb, NumEmpleados) 
		VALUES
			(@pNombre, @pApellidos, @pCorreo, @pEmpresa, GETDATE(), @pTelefono, @pSitioWeb, @pNumEmpleados);

		SET @CodigoAutentificacion = ROUND(((999999 - 100000) * RAND() + 100000), 0);
		SET @FechaInicio = GETDATE();
		SET @FechaFin = DATEADD(MINUTE, 2, @FechaInicio);

		UPDATE SolicitudesUsuarios
		SET CodigoAutenticacion = @CodigoAutentificacion,
			FechaInicio = @FechaInicio,
			FechaFin = @FechaFin
		WHERE Id = SCOPE_IDENTITY();

		DECLARE @Body VARCHAR(MAX) = '<html><head><meta charset="UTF-8"></head><body>';
		SET @Body = @Body + '<p><span style="font-size:18px;"><strong>Hola, '
							+ @pNombre + ':&nbsp;</strong></span></p>'
							+ '<p>Para validar que este es un correo válido, introduce este código:</p>'
							+ '<p>&nbsp;</p>'
							+ '<p style="text-align:center;"><strong style="font-size:20px;">' + CONVERT(varchar(6), @CodigoAutentificacion) + '</strong></p>'
							+ '<p>&nbsp;</p>'
							+ '</body></html>';

		-- Enviar correo
		 EXEC msdb.dbo.sp_send_dbmail
		 	@profile_name='EmailProfile',
		 	@recipients = @pCorreo,
		 	@body=@Body,
		 	@subject='Código Autentificación Funnel',
		 	@body_format = 'HTML';

		SET @Result = 1;
		SET @ErrorMessage = 'Registro exitoso. Código enviado al correo.';
		
		COMMIT TRAN;
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN;

		SET @Result = 0;
		SET @ErrorMessage = ERROR_MESSAGE();
	END CATCH;

	SELECT 
		@Result AS Result,
		@ErrorMessage AS Error;
END
