<div class="navbar">
      <nav class="text-center m-auto">
        <img width="80" [src]="baseUrl + '/assets/img/SFS blanco.png'" alt="logo SFS" class="m-auto">
      </nav>
</div>
<h1 class="terms-title">Términos y Condiciones de uso del sitio</h1>
<div class="terms-container">
<div class="update-date-container">
<p class="update-date">Última actualización: 8 de agosto de 2024</p>
</div> 
<section>
  <h2>Aceptación de los Términos</h2>
  <p>Al acceder y utilizar nuestro sitio web Sales Funnel System, usted acepta cumplir y estar sujeto a los siguientes términos y condiciones. Si no está de acuerdo con alguno de estos Términos, por favor no utilice nuestro sitio web.</p>
  </section>
<section>
  <h2>Privacidad</h2>
  <p>Le rogamos que revise nuestras <a routerLink="/politica-privacidad" class="link">Políticas de privacidad</a> que también rigen el uso que tiene nuestro sitio con su información personal.</p>
</section>
<section>
  <h2>Elegibilidad</h2>
  <p>El uso de nuestro sitio web y servicios está limitado a personas mayores de edad, clientes y personal de EISEI INNOVATION. Al utilizar nuestro sitio web, usted declara y garantiza que forma parte y cumple con estos requisitos.</p>
</section>
<section>
  <h2>Registro y Seguridad de la Cuenta</h2>
  <p>Para utilizar nuestro servicio, debe registrarse para crear una solicitud. Usted compromete a proporcionar información verdadera, precisa, actual y completa sobre usted mismo durante el registro.</p>
  <p>Es responsable de todas las actividades que ocurran bajo su cuenta, y debe notificar de inmediato cualquier uso no autorizado. No seremos responsables por cualquier pérdida o daño resultante de su incumplimiento de esta obligación.</p>
</section>
<section>
  <h2>Uso Aceptable</h2>
  <p>Usted acepta utilizar nuestro sitio solo con fines legales y de acuerdo con estos Términos.</p>
  <p>Está prohibido utilizar nuestro sitio para:</p>
  <ul>
    <li>Cualquier propósito ilegal o no autorizado.</li>
    <li>Recopilar o rastrear la información personal de otros.</li>
    <li>Cargar o transmitir virus u otro tipo de código malicioso.</li>
    <li>Interferir o eludir las medidas de seguridad del sitio.</li>
  </ul>
  <p>Nos reservamos el derecho de suspender o terminar su cuenta si descubrimos que está violando estos Términos.</p>
</section>
<section>
  <h2>Derechos de Autor</h2>
  <p>Todo el contenido del sitio, incluidos textos, gráficos, logotipos, iconos, imágenes, y software, es propiedad exclusiva de Sales Funnel System o sus proveedores de contenido y está protegido por las leyes de derechos de autor, marcas y otras leyes de propiedad intelectual.</p>
  <p>No puede utilizar, reproducir, modificar, distribuir, mostrar, transmitir, publicar, vender, otorgar licencias o explotar de cualquier manera cualquier parte del contenido sin nuestro consentimiento previo por escrito.</p>
</section>
<section>
  <h2>Modificaciones de los Términos</h2>
  <p>Podemos modificar estos Términos en cualquier momento mediante la publicación de una versión revisada en esta página. Es su responsabilidad revisar estos Términos periódicamente. Su uso continuado del sitio después de la publicación de cualquier cambio constituirá su aceptación de dichos cambios.</p>
</section>
</div>
