USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_CatalogoContactosProspectos]    Script Date: 26/08/2025 04:51:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Antonio Quezada
-- Create date: 2021-01-04
-- Description:	Consulta de catálogos

-- =============================================
ALTER PROCEDURE [dbo].[F_CatalogoContactosProspectos] 
	@pBandera VARCHAR (30) = NULL,
	@Nombre VARCHAR (50) = NULL,
	@Apellidos VARCHAR (50) = NULL,
	@Telefono VARCHAR (50) = NULL,
	@Correo VARCHAR (100) = NULL,
	@IdProspecto INT = 0,
	@IdContactoProspecto INT = 0,
	@Estatus INT = 0,
	@pIdEmpresa int = 0,
	@pUsuarioCreador INT = 0
AS
BEGIN
	
	DECLARE @vIdCatalogo INT,@cols NVARCHAR(MAX),
        @sql NVARCHAR(MAX)

	IF @pBandera = 'SELECT'
	BEGIN
		SELECT IdContactoProspecto, CONCAT(c.Nombre, ' ', c.Apellidos) as NombreCompleto, c.Nombre, Apellidos, Telefono, CorreoElectronico,
		 CASE WHEN c.Estatus = 1 THEN 'Activo' ELSE 'Inactivo' END as DesEstatus,c.Estatus, p.Nombre as Prospecto, p.IdProspecto
		FROM ContactosProspectos c 
		LEFT JOIN Prospectos p ON c.IdProspecto = p.IdProspecto
		WHERE c.IdEmpresa = @pIdEmpresa
		AND (@IdProspecto = 0 OR c.IdProspecto = @IdProspecto )
		--ORDER BY Prospecto, Nombre, Apellidos
		ORDER BY Nombre;
	END

	IF @pBandera = 'COLUMNAS-ADICIONALES'
	BEGIN
		
		SET @vIdCatalogo = (SELECT Id FROM ConfiguracionTablas WHERE LOWER(NombreTabla) = LOWER('Contactos'))

		SELECT I.Nombre NombreCampo FROM InputsAdicionales I
		JOIN R_InputsCatalogo RI ON RI.InputId = I.Id AND RI.Activo = 1 AND RI.CatalogoId = @vIdCatalogo AND RI.IdEmpresa = @pIdEmpresa
	END

	IF @pBandera = 'COLUMNAS-ADICIONALES-DATA'
	BEGIN

		SET @vIdCatalogo = (SELECT Id FROM ConfiguracionTablas WHERE LOWER(NombreTabla) = LOWER('Contactos'))

		-- Obtener columnas dinámicas desde los inputs adicionales
		SELECT @cols = STRING_AGG(QUOTENAME(I.Nombre), ',')
		FROM InputsAdicionales I
		JOIN R_InputsCatalogo RI ON I.Id = RI.InputId
		WHERE RI.CatalogoId = @vIdCatalogo AND RI.Activo = 1

		SET @sql = '
		SELECT 
			C.IdContactoProspecto, 
			C.Nombre, 
			' + @cols + '
		FROM ContactosProspectos C
		LEFT JOIN (
			SELECT 
				IAD.ReferenciaId, 
				I.Nombre, 
				IAD.Valor
			FROM InputsAdicionalesData IAD
			JOIN R_InputsCatalogo RI ON RI.Id = IAD.RCatalogoInputId 
				AND RI.CatalogoId = @pIdCatalogo 
				AND RI.Activo = 1
			JOIN InputsAdicionales I ON I.Id = RI.InputId
		) SRC
		PIVOT (
			MAX(Valor) FOR Nombre IN (' + @cols + ')
		) AS PVT ON C.IdContactoProspecto = PVT.ReferenciaId
		WHERE C.IdEmpresa = @pIdEmpresa;
		';

		-- Ejecutar
		EXEC sp_executesql @sql, N'@pIdEmpresa INT, @pIdCatalogo INT', @pIdEmpresa = @pIdEmpresa, @pIdCatalogo = @vIdCatalogo;

	END

	IF @pBandera = 'SEL-REPETIDOS'
	BEGIN
		SELECT Nombre, Estatus
		FROM ContactosProspectos 
		WHERE IdContactoProspecto != @IdContactoProspecto AND IdEmpresa = @pIdEmpresa
	END

	IF @pBandera = 'INSERT'
	BEGIN
		INSERT INTO ContactosProspectos (Nombre,  Apellidos, Telefono, CorreoElectronico, IdProspecto, Estatus, FechaRegistro, IdEmpresa, UsuarioCreador) VALUES
							 (@Nombre, @Apellidos, @Telefono, @Correo, @IdProspecto, 1, GETDATE(), @pIdEmpresa, @pUsuarioCreador)
		SELECT SCOPE_IDENTITY() AS IdContactoProspecto;
	END

	IF @pBandera = 'UPDATE'
	BEGIN
		UPDATE ContactosProspectos SET Nombre = CASE WHEN @Nombre IS NULL THEN Nombre ELSE @Nombre END, 
							Apellidos = @Apellidos, Telefono = @Telefono, CorreoElectronico = @Correo,
							IdProspecto = @IdProspecto,Estatus = @Estatus
							WHERE IdContactoProspecto = @IdContactoProspecto
	END

END