<header class="page-header font-small blue" id="header">
  <div class="navbar">
    <div class="logo-container">
      <img width="50" [src]="baseUrl + '/assets/img/SFS blanco.png'" alt="logo SFS">
    </div>

    <!-- Botón de chat en el header-->
    <button class="btn-chat" (click)="toggleChat()">
      <i class="bi bi-chat-fill"></i> 
    </button>
    
    <!-- Contenedor del chatbot -->
    <ng-container *ngIf="enableAsistenteOperacion">
      <div id="chat-container" class="chatbot-window">
        <app-asistente-operacion></app-asistente-operacion>
      </div>
    </ng-container>
  </div>
</header>

<!-- Componente de chat -->
<!-- <app-chat *ngIf="isChatOpen"></app-chat> -->
