<header class="page-header font-small blue" id="header">
  <div class="navbar col-12">
    <!-- Perfil (el primero de derecha a izquierda) -->
    <div class="col-3 perfil" style="justify-content: end;">
      <button class="menu-item-perfil" (click)="navigateTo('/perfil')">
        <i class="bi bi-person-circle large-icon" [title]="'Perfil'"></i>
        <span class="spanNombre">{{ nombreUsuario }}</span>
      </button>
    </div>

    <div class="col-3 chatbot">
      <!-- Botón de chat en el header-->
      <button class="btn-chat" (click)="toggleChat()">
        <i class="bi bi-stars"></i> 
        <span class="ia-button-text"> IA</span>
      </button>
      <!-- Contenedor del chatbot -->
      <ng-container *ngIf="enableAsistenteOperacion">
        <div id="chat-container" class="chatbot-window" #chatContainer>
          <app-asistente-operacion></app-asistente-operacion>
        </div>
      </ng-container>
    </div>

    <div class="col-3 agregar btn-agregar-custom">
      <p-splitbutton label="Agregar" [model]="items" raised severity="secondary" #splitBtn />
      <!-- <button class="btnAgregar float-end" (click)="toggleOptions()">Agregar</button>
      <div *ngIf="optionsVisible" class="options-container">
        <button class="option-btn" (click)="agregarOportunidad()">Oportunidad</button>
        <button class="option-btn" (click)="agregarProspecto()">Prospecto</button>
        <button class="option-btn" (click)="agregarContacto()">Contacto</button>
      </div> -->
    </div>

    <!-- Logo (el último de derecha a izquierda) -->
    <div class="col-3 logo-container" style="left: 334px;">
      <img width="50" [src]="baseUrl + '/assets/img/SFS blanco.png'" alt="logo SFS">
      <span class="spanNombre">{{ licencia }}</span>
    </div>
  </div>
</header>

<!-- Componente de chat -->
<!-- <app-chat *ngIf="isChatOpen"></app-chat> -->

<!-- Modal de oportunidades -->
<app-modal-oportunidades [(visible)]="modalVisibleOportunidades" [title]="'Editar Datos de '" (closeModal)="onModalCloseOportunidades()"
(result)="manejarResultadoOportunidades($event)" [insertar]="insertar" [oportunidades]="oportunidades" [oportunidad]="oportunidadSeleccionada">
</app-modal-oportunidades>

<!-- Modal de prospectos -->
<app-modal-prospectos [(visible)]="modalVisibleProspectos" [title]="'Editar Datos de '" (closeModal)="onModalCloseProspectos()"
  (result)="manejarResultadoProspectos($event)" [insertar]="insertar" [prospectos]="prospectos" [prospecto]="prospectoSeleccionado">
</app-modal-prospectos>

<!-- Modal de contactos -->
<app-modal-contactos [(visible)]="modalVisibleContactos" [title]="'Editar Datos de '" (closeModal)="onModalCloseContactos()"
  (result)="manejarResultadoContactos($event)" [insertar]="insertar" [contactos]="contactos" [contacto]="contactoSeleccionado">
</app-modal-contactos>