USE [SFS-MASTER-QA]
GO
/****** Object:  Table [dbo].[CatalogosInputAdicionales]    Script Date: 07/07/2025 11:57:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogosInputAdicionales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_CatalogosInputAdicionales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputsAdicionales]    Script Date: 07/07/2025 11:57:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputsAdicionales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Etiqueta] [varchar](100) NOT NULL,
	[TipoCampoId] [int] NOT NULL,
	[Requerido] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[IdEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_InputsAdicionales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputsAdicionalesData]    Script Date: 07/07/2025 11:57:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputsAdicionalesData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RCatalogoInputId] [int] NOT NULL,
	[Valor] [varchar](100) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
	[ReferenciaId] [int] NOT NULL,
 CONSTRAINT [PK_ConfiguracionInputsData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_InputsCatalogo]    Script Date: 07/07/2025 11:57:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_InputsCatalogo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputId] [int] NOT NULL,
	[CatalogoId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
 CONSTRAINT [PK_R_InputsCatalogo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCampos]    Script Date: 07/07/2025 11:57:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCampos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_TiposCampos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InputsAdicionales] ADD  DEFAULT ((0)) FOR [Requerido]
GO
ALTER TABLE [dbo].[InputsAdicionales]  WITH CHECK ADD  CONSTRAINT [FK_InputsAdicionales_Empresas] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[InputsAdicionales] CHECK CONSTRAINT [FK_InputsAdicionales_Empresas]
GO
ALTER TABLE [dbo].[InputsAdicionales]  WITH CHECK ADD  CONSTRAINT [FK_InputsAdicionales_TiposCampos] FOREIGN KEY([TipoCampoId])
REFERENCES [dbo].[TiposCampos] ([Id])
GO
ALTER TABLE [dbo].[InputsAdicionales] CHECK CONSTRAINT [FK_InputsAdicionales_TiposCampos]
GO
ALTER TABLE [dbo].[InputsAdicionalesData]  WITH CHECK ADD  CONSTRAINT [FK_ConfiguracionInputsData_R_InputsCatalogo] FOREIGN KEY([RCatalogoInputId])
REFERENCES [dbo].[R_InputsCatalogo] ([Id])
GO
ALTER TABLE [dbo].[InputsAdicionalesData] CHECK CONSTRAINT [FK_ConfiguracionInputsData_R_InputsCatalogo]
GO
ALTER TABLE [dbo].[R_InputsCatalogo]  WITH CHECK ADD  CONSTRAINT [FK_R_InputsCatalogo_CatalogosInputAdicionales] FOREIGN KEY([CatalogoId])
REFERENCES [dbo].[CatalogosInputAdicionales] ([Id])
GO
ALTER TABLE [dbo].[R_InputsCatalogo] CHECK CONSTRAINT [FK_R_InputsCatalogo_CatalogosInputAdicionales]
GO
ALTER TABLE [dbo].[R_InputsCatalogo]  WITH CHECK ADD  CONSTRAINT [FK_R_InputsCatalogo_InputsAdicionales] FOREIGN KEY([InputId])
REFERENCES [dbo].[InputsAdicionales] ([Id])
GO
ALTER TABLE [dbo].[R_InputsCatalogo] CHECK CONSTRAINT [FK_R_InputsCatalogo_InputsAdicionales]
GO
