USE [SFS-MASTER-QA]
GO
/****** Object:  UserDefinedTableType [dbo].[InputsCatalogo]    Script Date: 07/07/2025 12:03:31 p. m. ******/
CREATE TYPE [dbo].[InputsCatalogo] AS TABLE(
	[RCatalogoInputId] [int] NULL,
	[InputId] [int] NULL,
	[Activo] [bit] NULL,
	[Orden] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[InputsCatalogoData]    Script Date: 07/07/2025 12:03:31 p. m. ******/
CREATE TYPE [dbo].[InputsCatalogoData] AS TABLE(
	[CatalogoInputDataId] [int] NULL,
	[RCatalogoInputId] [int] NULL,
	[Valor] [varchar](100) NULL,
	[ReferenciaId] [int] NULL
)
GO
