<p-dialog 
  appendTo="body"
  [(visible)]="visible" 
  [modal]="true" 
  [closable]="true" 
  [maximizable]="true"
  [style]="{
    width: maximized ? '100vw' : '80rem',
    height: maximized ? '100vh' : 'auto'
  }"
  [ngClass]="{'maximized': maximized}"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  [baseZIndex]="1100"
  [draggable]="true"
  [resizable]="false"
  [blockScroll]="true"
  styleClass="custom-header-naranja">

<ng-template pTemplate="header">
  <div class="dialog-header-content">
    <label class="margen titulo-dialogo">
      Oportunidades en Proceso por Tipo Oportunidad Agente Detalle:
      <strong>{{ nombreTipoOportunidad }}</strong>
    </label>
  </div>
</ng-template>

 <ng-template pTemplate="content">
    <div class="contenedor-tabla-dialogo">
      <p-table 
        [value]="oportunidades" 
        [paginator]="true" 
        [rows]="10" 
        styleClass="tabla-estilizada">

        <ng-template pTemplate="header">
          <tr class="custom-header">
            <th>Prospecto</th>
            <th>Oportunidad</th>
            <th>Tipo</th>
            <th>Ejecutivo</th>
            <th>Monto</th>
            <th>Fecha Cierre</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-oportunidad>
          <tr class="fila-datos">
            <td>{{ oportunidad.nombreProspecto }}</td>
            <td>{{ oportunidad.nombreOportunidad }}</td>
            <td>{{ oportunidad.tipoProyectoAbreviatura }}</td>
            <td>{{ oportunidad.iniciales }}</td>
            <td>{{ oportunidad.monto | currency:'MXN':'symbol':'1.2-2' }}</td>
            <td>{{ oportunidad.fechaEstimadaCierre}}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="footer">
          <tr class="custom-footer">
            <td colspan="4" class="total-registros-cell">Total de Oportunidades: {{ oportunidades.length }} </td>
            <td class="text-right">{{ calcularSumaMontos() | currency:'MXN':'symbol':'1.2-2' }}</td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</p-dialog>