.listCheck {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  display: block;
  width: 100%;
  border: #215388 solid 1px;
  position: relative; 
  overflow: hidden; 
}

/* Estilo para el contenedor del botón de cierre */
.close-container {
  position: absolute;
  top: -1px;
  right: 2px;
  z-index: 1;
}

.btn-close {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  line-height: 1;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  font-weight: bold;
}

.listCheck h4 {
  padding-right: 30px; 
  margin-bottom: 20px;
}

.listCheck .row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1px;
}

.check {
  transform: scale(1.2);
  margin-right: 10px;
  transition: all 0.2s ease;
}

.check:hover {
  transform: scale(1.3);
}

.form-check {
  display: flex;
  align-items: center;
  padding: 0.5px;
}

.form-check-label {
  font-size: 14px;
  color: #333;
}

button.p-button-primary {
  background: #164475;
  border: none;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

button.p-button-primary:hover {
  background: #164475;
}

.listCheck h3 {
  background-color: #E05E00; 
  color: white;
  padding: 8px;
  margin: -25px -25px 20px -25px; 
  text-align: center;
  font-weight: normal;
  font-size: 1.7rem;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

button.p-button-primary {
  background: #f3f2f2 !important; 
  color: #585757;
  border: none !important;
  flex: 1;
}

button.p-button-primary:hover {
  background: #dad9d8 !important; 
  color: #585757;
}

.btn-cancel {
  background: #f3f2f2 !important; 
  color: #585757;
  border: none !important;
  border-radius: 8px !important;
  padding: 4px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  flex: 1;
  cursor: pointer;
}

.btn-cancel:hover {
  background: #dad9d8 !important; 
  color: #585757;
}

  