.listCheck {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    display: block;
    width: 100%;
    border: #215388 solid 1px;
  }
  
  .listCheck .row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1px;
  }
  
  .check {
    transform: scale(1.2);
    margin-right: 10px;
    transition: all 0.2s ease;
  }
  
  .check:hover {
    transform: scale(1.3);
  }
  
  .form-check {
    display: flex;
    align-items: center;
    padding: 0.5px;
  }
  
  .form-check-label {
    font-size: 14px;
    color: #333;
  }
  
  button.p-button-primary {
    background: #164475;
    border: none;
    border-radius: 8px;
    padding: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
  }
  
  button.p-button-primary:hover {
    background: #164475;
  }
  