<div class="listCheck">
  <div class="close-container">
    <button class="btn-close" (click)="cerrarModal()">&times;</button>
  </div>

  <h3 class="text-center draggable-header" (mousedown)="onMouseDown($event)">
    Actualizar Columnas
  </h3>

  <div class="row">
  <div class="columna">
    <div *ngFor="let filtro of columna1; let index = index" class="form-check">
      <input class="check form-check-input cursorPointer" type="checkbox" [(ngModel)]="filtro.isCheck"
        [id]="'flexCheckChecked1_' + index">
      <label class="form-check-label cursorPointer" [for]="'flexCheckChecked1_' + index">
        {{filtro.valor}}
      </label>
    </div>
  </div>

  <div *ngIf="columna2.length > 0" class="columna">
    <div *ngFor="let filtro of columna2; let index = index" class="form-check">
      <input class="check form-check-input cursorPointer" type="checkbox" [(ngModel)]="filtro.isCheck"
        [id]="'flexCheckChecked2_' + index">
      <label class="form-check-label cursorPointer" [for]="'flexCheckChecked2_' + index">
        {{filtro.valor}}
      </label>
    </div>
  </div>
</div>


  <div class="button-group">
    <button class="p-button-primary" (click)="aplicarFiltroParent()" [disabled]="!hasChanges()">Guardar</button>
    <button class="btn-cancel" (click)="cerrarModal()">Cancelar</button>
  </div>
</div>