<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{
    width: '68rem',
    height: historialOportunidad.length > 0 ? '50rem' : '30rem'
  }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>
  <ng-template pTemplate="header">
    <label class="margen">
      {{ '' }}
    </label>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="row">
      <div>
        <label class="margen text-left nombre-destacado">
          {{ oportunidadForm.get('nombre')?.value }}
        </label>
      </div>
    </div>
    <div>
        <label class="margen ">
          <h2>{{ 'Documentos de: ' + nombreOportunidad }}</h2>

        </label>
    </div>
    
    <br />
    <form [formGroup]="oportunidadForm">
      <div class="row">
        <div class="col-sm-4">
          <label for="Comentario" class="margen text-left">Agregar Documento:</label>
        </div>
        <div class="col-sm-6 inptSpace">
            <input #fileInput type="file" class="form-control" accept=".pdf,.doc,.docx,.jpg,.png" (change)="onFileChange($event)">
        </div>
        <div class="col-sm-2 inptSpace">
            <button pButton label="Guardar"  (click)="guardarDocumento()" severity="secondary" [disabled]="!archivoSeleccionado" ></button>
        </div>
      </div>
    </form>
    
    <div class="row mt-3">
      <div class="col-sm-12" *ngIf="historialOportunidad.length > 0; else noComments">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Nombre Documento</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of historialOportunidad">
              <td  class="text-left">{{ item.iniciales }}</td>
              <td  class="text-left">{{ item.fechaRegistro | date:'dd/MM/yyyy' }}</td>
              <td  class="text-left">{{ item.nombreArchivoFormateado }}</td>
              <td>
                <p-button type="button" icon="bi bi-download" text (click)="descargarArchivo(item)"/>
              </td>
              <td>
                <p-button type="button" icon="bi bi-trash" text  (click)="eliminarArchivo(item)"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>    

  <ng-template #noComments>
    <p class="text-center">Sin Archivos</p>
  </ng-template>
  
  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" (click)="close()" severity="secondary" ></button>
  </ng-template>
</p-dialog>
