<body>
    <main>
        <div class="container-fluid container-all imagenFondo" style="padding: 0px; overflow-x: hidden; height: 89vh;">
            <div class="d-flex" style="width: 100%; height: 100%;">
                <div class="container mt-4">
                    <section class="funnel-descripcion">
                        <div class="text-content">
                            <h2 style="font-size: 2rem; line-height: 1; font-weight: 400; color: #1a73e8;">
                                Aumenta tus ventas con un proceso eficiente.
                            </h2>
                            <p style="text-align: justify; font-size: 1.125rem; line-height: 1.6; color: #444; margin-bottom: 20px;">
                                Rompe las barreras que te impiden conseguir más clientes y aumenta tus ventas. Nuestro sistema te proporciona las herramientas necesarias para que identifiques oportunidades clave y maximices el crecimiento de tus ingresos.
                            </p>
                            <p style="text-align: justify; font-size: 1.125rem; line-height: 1.6; color: #444; margin-bottom: 20px;">
                                Sigue nuestra metodología propia, diseñada para guiarte paso a paso hacia tu éxito asegurado en el crecimiento de tus ventas.
                            </p>
                            <div class="cta-buttons">
                            </div>
                            <div>
                                <div class="funnel-stage stage1" data-tooltip="Se realiza una llamada o visita inicial para analizar las necesidades del cliente.">Calificación de prospectos</div>
                                <div class="funnel-stage stage2" data-tooltip="Se confirma la solución o producto que mejor se ajusta al cliente, identificando a la persona que toma las decisiones y posibles aliados.">Investigación de necesidades</div>
                                <div class="funnel-stage stage3" data-tooltip="Se cuantifican los criterios de compra y se definen los objetivos de venta, con un conocimiento profundo del presupuesto y la competencia.">Elaboración de Propuestas</div>
                                <div class="funnel-stage stage4" data-tooltip="Se entregan las propuestas, asegurando que las necesidades del cliente han sido entendidas y todas las objeciones han sido resueltas.">Presentación de propuestas</div>
                                <div class="funnel-stage stage5" data-tooltip="La propuesta se encuentra entre las finalistas, y la negociación se lleva a cabo con la persona que toma la decisión.">Negociación</div>
                            </div>
                            <p class="mt-4" style="font-size: 0.875rem; text-align: center; line-height: 1.57; font-weight: 600; color: #333333bd; margin-top: 10px; margin-bottom: 7px; text-transform: uppercase;">
                                Obtén tu sistema gratis.
                            </p>
                            <p style="font-size: 0.875rem; text-align: center; line-height: 1.57; font-weight: 600; color: #333333bd; margin-top: 10px; margin-bottom: 7px; text-transform: uppercase;">
                                Impulsa tus ventas con un proceso sólido.
                            </p>
                        </div>
                        <div class="funnel-container">
                            <div class="container logincard d-flex justify-content-center mt-4" style="width: 100%; max-height: 664px;">
                                <div class="row justify-content-center">
                                    <div class="login-div">
                                        <section class="login-form resultados">
                                            <div class="logo-veriq">
                                                <h3 style="color: #fff; font-weight: bold; padding-top: 15px;">Regístrate</h3>
                                            </div>
                                            <div class="text-center border border-light">
                                                <div class="demo-container no-bg">
                                                    <form name="formRegistrar" id="formRegistrar">
                                                        <div class="row">
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtNombre" class="control-label">Nombre*</label>
                                                                <input type="text" id="txtNombre" class="form-control register-input" />
                                                            </div>
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtApellidos" class="control-label">Apellido*</label>
                                                                <input type="text" id="txtApellidos" class="form-control register-input" />
                                                            </div>
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtCorreo" class="control-label">Correo*</label>
                                                                <input type="email" id="txtCorreo" class="form-control register-input" />
                                                            </div>
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtTelefono" class="control-label">Teléfono*</label>
                                                                <input type="text" id="txtTelefono" class="form-control register-input" />
                                                            </div>
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtEmpresa" class="control-label">Empresa*</label>
                                                                <input type="text" id="txtEmpresa" class="form-control register-input" />
                                                            </div>
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="txtSitio" class="control-label">URL del sitio web*</label>
                                                                <input type="text" id="txtSitio" class="form-control register-input" />
                                                            </div>                                                                           
                                                            <div class="col-md-6 mb-2" style="text-align: left;">
                                                                <label for="cmbxNumEmpleado" class="control-label">Número de empleados*</label>
                                                                <select id="cmbxNumEmpleado" class="form-control register-input" style="width: 212%">
                                                                    <option value="">Selecciona una opción</option>
                                                                    <option value="1-10">1-10</option>
                                                                    <option value="11-50">11-50</option>
                                                                    <option value="51-100">51-100</option>
                                                                    <option value="101-500">101-500</option>
                                                                    <option value="500+">500+</option>
                                                                </select>
                                                            </div>
                                                            <div class="privacy-terms-container mb-2">
                                                                <input type="checkbox" id="chkPrivacyTerms">
                                                                <label for="chkPrivacyTerms">
                                                                    Declaro que he leído y acepto la
                                                                    <span class="link" >Política de privacidad</span>
                                                                    y los
                                                                    <span class="link" >Términos y Condiciones</span>
                                                                    de Sales Funnel System.
                                                                </label>
                                                            </div>
                                                            <div class="recaptcha-container">
                                                                <div style="margin-left: 10px;" class="g-recaptcha" data-sitekey="6LdlBicqAAAAABMCqyAjZOTSKrbdshNyKxwRiGL9" data-action="LOGIN"></div>
                                                            </div>
                                                        </div>
                                                        <div class="input-group btn-rg">
                                                            <button type="submit" class="btn btn-login btn-lg btn-block form-control" style="font-family: Raleway; height: 35px; font-size: 14px; font-weight: 500; width: 75%;">Registrar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>

