USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_InputsAdicionales]    Script Date: 03/09/2025 01:59:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mario Canales
-- Create date: 27-06-2025
-- Description:	Operaciones relacionados a inputs dinamicos para prospectos y contactos
-- =============================================
ALTER   PROCEDURE [dbo].[F_InputsAdicionales] 
	@pBandera VARCHAR (50) = NULL,
	@pIdEmpresa int = 0,
	@pTipoCatalogoInput varchar(50) = '',	
	@pIdReferencia int = 0,
	@pInputsCatalogo InputsCatalogo_v2 READONLY,
	@pInputsCatalogoData InputsCatalogoData READONLY
AS
BEGIN
	DECLARE @vIdCatalogo INT
	IF @pBandera = 'SEL-INPUTS'
	BEGIN
		SET @vIdCatalogo = (SELECT Id FROM ConfiguracionTablas WHERE LOWER(NombreTabla) = LOWER(@pTipoCatalogoInput))
		SELECT DISTINCT IA.Id IdInput, IA.Nombre, IA.Etiqueta, IA.Requerido, TC.Descripcion TipoCampo, ISNULL(TMP1.RCatalogoInputId,0)RCatalogoInputId, ISNULL(TMP1.Activo,1)Activo
		FROM InputsAdicionales IA
		JOIN TiposCampos TC ON TC.Id = IA.TipoCampoId
		LEFT JOIN (
			SELECT RIC.Id RCatalogoInputId, RIC.InputId, RIC.Activo
			FROM InputsAdicionales IA
			JOIN TiposCampos TC ON TC.Id = IA.TipoCampoId
			JOIN R_InputsCatalogo RIC ON RIC.InputId = IA.Id AND RIC.Activo = 0 AND RIC.IdEmpresa = 1
			JOIN ConfiguracionTablas TCI ON TCI.Id = RIC.CatalogoId AND LOWER(TCI.NombreTabla) = LOWER(@pTipoCatalogoInput)
		) TMP1 ON TMP1.InputId = IA.Id
		INNER JOIN InputsAdicionalesPorCatalogo IPC ON IA.Id = IPC.IdInputAdicinal AND IPC.IdCatalogo = @vIdCatalogo
	END

	IF @pBandera = 'SEL-INPUTS-CATALOGO'
	BEGIN
		SELECT  RIC.Id RCatalogoInputId,@pTipoCatalogoInput TipoCatalogoInput, RIC.Orden,RIC.Activo, 
			IA.Id IdInput, IA.Nombre, IA.Etiqueta, IA.Requerido, TC.Descripcion TipoCampo
		FROM InputsAdicionales IA
		JOIN TiposCampos TC ON TC.Id = IA.TipoCampoId
		JOIN R_InputsCatalogo RIC ON RIC.InputId = IA.Id AND RIC.Activo = 1 AND RIC.IdEmpresa = @pIdEmpresa
		JOIN ConfiguracionTablas TCI ON TCI.Id = RIC.CatalogoId AND LOWER(TCI.NombreTabla) = LOWER(@pTipoCatalogoInput)
		ORDER BY RIC.Orden ASC
	END

	IF @pBandera = 'SEL-INPUTS-CATALOGO-DATA'
	BEGIN
		SELECT IA.Id IdInput, IA.Nombre, IA.Etiqueta,IA.Requerido, TC.Descripcion TipoCampo, RIC.Id RCatalogoInputId, 
			RIC.Orden,RIC.CatalogoId TipoCatalogoInputId, @pTipoCatalogoInput TipoCatalogoInput,
			ISNULL(D.Id, 0) IdInputData, ISNULL(D.Valor,'') Valor, ISNULL(D.ReferenciaId,0) IdReferencia
		FROM InputsAdicionales IA
		JOIN TiposCampos TC ON TC.Id = IA.TipoCampoId
		JOIN R_InputsCatalogo RIC ON RIC.InputId = IA.Id AND RIC.Activo = 1 AND RIC.IdEmpresa = @pIdEmpresa
		JOIN ConfiguracionTablas TCI ON TCI.Id = RIC.CatalogoId AND LOWER(TCI.NombreTabla) = LOWER(@pTipoCatalogoInput)
		LEFT JOIN InputsAdicionalesData D ON D.RCatalogoInputId = RIC.Id AND D.ReferenciaId = @pIdReferencia
		ORDER BY RIC.Orden ASC
	END

	IF @pBandera = 'SEL-COLUMNAS-POR-CATALOGO'
	BEGIN
		SET @vIdCatalogo = (SELECT Id FROM ConfiguracionTablas WHERE LOWER(NombreTabla) = LOWER(@pTipoCatalogoInput))

		SELECT I.Nombre FROM InputsAdicionales I
		JOIN R_InputsCatalogo RI ON RI.InputId = I.Id AND RI.Activo = 1 AND RI.CatalogoId = @vIdCatalogo AND RI.IdEmpresa = @pIdEmpresa
	END

	--IF @pBandera = 'SEL-COLUMNAS-POR-CATALOGO-DATA'
	--BEGIN
	--	DECLARE @cols NVARCHAR(MAX),
 --       @sql NVARCHAR(MAX)

	--	SET @vIdCatalogo = (SELECT Id FROM ConfiguracionTablas WHERE LOWER(NombreTabla) = LOWER(@pTipoCatalogoInput))

	--	-- Obtener columnas dinámicas desde los inputs adicionales
	--	SELECT @cols = STRING_AGG(QUOTENAME(I.Nombre), ',')
	--	FROM InputsAdicionales I
	--	JOIN R_InputsCatalogo RI ON I.Id = RI.InputId
	--	WHERE RI.CatalogoId = @vIdCatalogo AND RI.Activo = 1

	--END

	IF @pBandera = 'INS-INPUT-ADICIONAL'
	BEGIN

		SET @vIdCatalogo = (SELECT Id FROM CatalogosInputAdicionales WHERE LOWER(Descripcion) = LOWER(@pTipoCatalogoInput))
		
		INSERT INTO R_InputsCatalogo (InputId,CatalogoId,Activo,Orden,Requerido)
		SELECT R.InputId, @vIdCatalogo, R.Activo, R.Orden, R.Requerido 
		FROM @pInputsCatalogo R
		WHERE R.RCatalogoInputId = 0

		UPDATE IC
		SET
			IC.Activo = R.Activo,
			IC.Orden = R.Orden,
			IC.Requerido = R.Requerido
		FROM R_InputsCatalogo IC
		JOIN @pInputsCatalogo R ON R.RCatalogoInputId = IC.Id AND R.RCatalogoInputId != 0

	END

	IF @pBandera = 'INS-INPUT-ADICIONAL-DATA'
	BEGIN

		INSERT INTO InputsAdicionalesData (RCatalogoInputId,Valor,FechaCreacion,ReferenciaId)
		SELECT D.RCatalogoInputId, D.Valor, GETDATE(), D.ReferenciaId
		FROM @pInputsCatalogoData D
		WHERE D.CatalogoInputDataId = 0

		UPDATE ID
		SET
			ID.Valor = D.Valor,
			FechaModificacion = GETDATE()
		FROM InputsAdicionalesData ID
		JOIN @pInputsCatalogoData D ON D.CatalogoInputDataId = ID.Id AND D.CatalogoInputDataId != 0

	END

END



/****** Object:  StoredProcedure [dbo].[F_CatalogoContactosProspectos]    Script Date: 30/07/2025 04:17:02 p. m. ******/
SET ANSI_NULLS ON
