<div class="navbar">
  <nav class="text-center m-auto">
    <img
      width="150"
      [src]="baseUrl + '/assets/img/logotipo-glupoint.png'"
      alt="logo SFS"
      class="m-auto"
    />
  </nav>
</div>

<div class="register-container">
  <!-- Paso 1 -->
  <div *ngIf="currentStep === 1" class="step1-box">
    <h2>Crea tu cuenta</h2>
    <p class="step">Información personal</p>

    <div class="progress-container">
      <div class="progress-step" [class.active]="currentStep >= 1">1</div>
      <div class="progress-line" [class.active]="currentStep >= 2"></div>
      <div class="progress-step" [class.active]="currentStep >= 2">2</div>
      <div class="progress-line" [class.active]="currentStep >= 3"></div>
      <div class="progress-step" [class.active]="currentStep >= 3">3</div>
      <div class="progress-line" [class.active]="currentStep >= 4"></div>
      <div class="progress-step" [class.active]="currentStep >= 4">4</div>
    </div>

    <form [formGroup]="usuarioForm" (ngSubmit)="goToStep(3)">
      <input type="text" formControlName="nombre" placeholder="Nombre completo" />
      <input type="email" formControlName="correo" placeholder="Correo electrónico" />
        <div *ngIf="usuarioForm.get('correo')?.touched && usuarioForm.get('correo')?.invalid" class="error">
          <small *ngIf="usuarioForm.get('correo')?.errors?.['email']">Formato de correo inválido.</small>
        </div>
      <button class="next-step" type="submit" [disabled]="usuarioForm.get('nombre')?.invalid || usuarioForm.get('correo')?.invalid" [ngStyle]="{ 'background-color': (usuarioForm.get('nombre')?.invalid || usuarioForm.get('correo')?.invalid) ? '#9ca3af' : '#2563eb' }"
        (click)="codigoValidadorCorreo(usuarioForm.get('correo')?.value)">
        Siguiente paso
      </button>
    </form>
  </div>

  <!-- Paso 2 -->
  <div *ngIf="currentStep === 2" class="step2-box">
    <h2>Introduzca el código de verificación</h2>
    <p class="step">
      Hemos enviado un código de verificación a su dirección de correo
      electrónico.
    </p>

    <div class="progress-container">
      <div class="progress-step" [class.active]="currentStep >= 1">1</div>
      <div class="progress-line" [class.active]="currentStep >= 2"></div>
      <div class="progress-step" [class.active]="currentStep >= 2">2</div>
      <div class="progress-line" [class.active]="currentStep >= 3"></div>
      <div class="progress-step" [class.active]="currentStep >= 3">3</div>
      <div class="progress-line" [class.active]="currentStep >= 4"></div>
      <div class="progress-step" [class.active]="currentStep >= 4">4</div>
    </div>

    <div class="code-inputs">
      <input maxlength="1" type="text" #c1 (input)="moveNext($event, c2); checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
      <input maxlength="1" type="text" #c2 (input)="moveNext($event, c3); checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
      <input maxlength="1" type="text" #c3 (input)="moveNext($event, c4); checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
      <input maxlength="1" type="text" #c4 (input)="moveNext($event, c5); checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
      <input maxlength="1" type="text" #c5 (input)="moveNext($event, c6); checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
      <input maxlength="1" type="text" #c6 (input)="checkCodigoInputs(c1,c2,c3,c4,c5,c6)" />
    </div>

    <button class="next-step" [disabled]="!codigoCompleto" (click)="verificarCodigoUsuario(c1.value + c2.value + c3.value + c4.value + c5.value + c6.value, [c1,c2,c3,c4,c5,c6])"
      [ngStyle]="{ 'background-color': (!codigoCompleto) ? '#9ca3af' : '#2563eb' }">
      Verificar
    </button>
    <p class="resend">
      ¿No has recibido el código? <a (click)="reenviarCodigo([c1,c2,c3,c4,c5,c6])" class="resend-link">Reenviar</a>
    </p>
  </div>

  <!-- Paso 3 -->
  <div *ngIf="currentStep === 3" class="step3-box">
    <h2>Crea tu cuenta</h2>
    <p class="step">Define tus credenciales de acceso.</p>

    <div class="progress-container">
      <div class="progress-step" [class.active]="currentStep >= 1">1</div>
      <div class="progress-line" [class.active]="currentStep >= 2"></div>
      <div class="progress-step" [class.active]="currentStep >= 2">2</div>
      <div class="progress-line" [class.active]="currentStep >= 3"></div>
      <div class="progress-step" [class.active]="currentStep >= 3">3</div>
      <div class="progress-line" [class.active]="currentStep >= 4"></div>
      <div class="progress-step" [class.active]="currentStep >= 4">4</div>
    </div>

    <form [formGroup]="usuarioForm" (ngSubmit)="goToStep(4)">
      <label class="lbl">Nombre de usuario*</label>
      <div class="input-box">
        <i class="bi bi-person icono"></i>
        <input type="text" formControlName="usuario" placeholder="Tu nombre de usuario" />
      </div>

      <!--<label>Teléfono</label>
      <div class="input-box">
        <i class="bi bi-telephone icono"></i>
        <input type="text" formControlName="telefono" placeholder="Tu número de teléfono" />
      </div>-->
      
      <label>Contraseña*</label>
      <div class="input-box">
        <i class="bi bi-lock icono"></i>
        <input type="password" formControlName="password" placeholder="Tu contraseña" />
          <div *ngIf="usuarioForm.get('password')?.touched && usuarioForm.get('password')?.invalid" class="error">
            <small *ngIf="usuarioForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            <small *ngIf="usuarioForm.get('password')?.errors?.['minlength']">Mínimo 6 caracteres.</small>
          </div>
      </div>

      <label>Confirmar contraseña*</label>
      <div class="input-box">
        <i class="bi bi-shield-lock icono"></i>
        <input type="password" formControlName="confirmPassword" placeholder="Repite tu contraseña" />
          <div *ngIf="usuarioForm.errors?.['mismatch'] && usuarioForm.get('confirmPassword')?.touched" class="error">
            <small>Las contraseñas no coinciden.</small>
          </div>
      </div>

      <button class="next-step" type="submit" [disabled]="usuarioForm.invalid" [ngStyle]="{ 'background-color': (usuarioForm.invalid) ? '#9ca3af' : '#2563eb' }">
        Continuar →
      </button>
    </form>
  </div>

  <!-- Paso 4 -->
  <div *ngIf="currentStep === 4" class="step4-box">
    <h2>Información de la Empresa</h2>
    <p class="step">Completa los datos para finalizar el registro.</p>

    <div class="progress-container">
      <div class="progress-step" [class.active]="currentStep >= 1">1</div>
      <div class="progress-line" [class.active]="currentStep >= 2"></div>
      <div class="progress-step" [class.active]="currentStep >= 2">2</div>
      <div class="progress-line" [class.active]="currentStep >= 3"></div>
      <div class="progress-step" [class.active]="currentStep >= 3">3</div>
      <div class="progress-line" [class.active]="currentStep >= 4"></div>
      <div class="progress-step" [class.active]="currentStep >= 4">4</div>
    </div>

    <form [formGroup]="empresaForm" (ngSubmit)="registrarEmpresa()">
      <label class="lbl">Nombre de la empresa</label>
      <input type="text" formControlName="nombreEmpresa" placeholder="Ej: Corp S.A de C.V" />

      <label class="lbl">Dirección</label>
      <input type="text" formControlName="direccion" placeholder="Ej: Calle Falsa 123" />

      <label class="lbl">RFC</label>
      <input type="text" formControlName="rfc" placeholder="Ej: ABC123456789" />

      <label class="lbl">Sitio Web</label>
      <input type="text" formControlName="sitioWeb" placeholder="Ej: https://corp.com" />

       <label class="lbl">Tamaño de la empresa</label>
        <select formControlName="tamano">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="pequeña">Pequeña</option>
          <option value="mediana">Mediana</option>
          <option value="grande">Grande</option>
        </select>
      <button class="next-step" type="submit">
        Finalizar Registro
      </button>
    </form>
  </div>
  <p-toast position="top-right"></p-toast>
</div>
