<div class="container-fluid">
    <div class="row">
        <div class="col-12" style="text-align: left; margin-top: 25px; margin-left: 10px; padding-left: 0">
            <h3>{{titulo}}</h3>
        </div>

        <div class="col-12">
            <!-- Pestañas  -->
            <ul class="nav nav-tabs custom-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#reporteIngresoUsuario" (click)="cambioTitulo(0)"
                        pTooltip="Reporte Usuarios" tooltipPosition="top">
                        <i class="bi bi-list"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#ejecucionProcesos" (click)="cambioTitulo(1)"
                        pTooltip="Ejecución Procesos" tooltipPosition="top">
                        <i class="bi bi-calendar"></i>
                    </a>
                </li>
            </ul>

            <!-- Contenido de las pestañas -->
            <div class="tab-content">
                <!--Reporte Ingreso Usuarios -->
                <div class="tab-pane fade show active" id="reporteIngresoUsuario">
                    <app-reporte-ingresos-usuarios></app-reporte-ingresos-usuarios>
                </div>

                <!--Ejecucion de Procesos -->
                <div class="tab-pane fade" id="ejecucionProcesos">
                    <app-ejecucion-procesos></app-ejecucion-procesos>
                </div>
            </div>


        </div>

        <p-toast position="center"></p-toast>


    </div>
</div>