<footer class="page-footer" id="footer">
  <div class="container">
    <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
            <h5>Empresa</h5>
            <ul class="footer-menu">
                <li><a href="https://www.eisei.net.mx/" target="_blank">Sobre Nostros</a></li>

            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
            <h5>Contacto Monterrey</h5>
            <ul class="footer-menu">
                <li><a> Autopista al Aeropuerto KM 10 IT CLUSTER</a></li>
                <li><a>Alianza Sur 303</a></li>
                <li><a>Paseo de Las Fuentes C.P. 66647</a></li>
                <li><a>Cdad. Apodaca, N.L. México.</a></li>
                <li><a>T: + 52 (81) 1340 0000</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
            <h5>Contacto Durango</h5>
            <ul class="footer-menu">
                <li><a> Consuelo Pérez Gavilán No.106</a></li>
                <li><a>Col. Del Maestro C.P. 34240</a></li>
                <li><a>Durango, Dgo. México.</a></li>
                <li><a>T: 01 (618) 810 4203</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">

            <h5>Redes Sociales</h5>
            <div class="footer-sosmed mt-3">
                <a href="https://www.facebook.com/eisei.innovation/" target="_blank"><span
                        class="mai-logo-facebook-f"></span></a>
                <a href="https://x.com/eiseiinnovation" target="_blank"><span class="mai-logo-twitter"></span></a>
                <a href="https://www.linkedin.com/company/grupo-empresarial-eisei/" target="_blank"><span
                        class="mai-logo-linkedin"></span></a>
            </div>
        </div>
    </div>

    <hr>

    <p id="copyright">Contactanos <a [routerLink]="['/contacto']">EISEI</a>. Comunicate con nosotros
        para solicitar información.</p>
</div>
</footer>