<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{
    width: '68rem',
    height: historialOportunidad.length > 0 ? '50rem' : '30rem'
  }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>

  <ng-template pTemplate="header">
    <label class="margen">
      {{ title + ' ' + oportunidadForm.get('descripcion')?.value }}
    </label>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="row">
      <div class="col-sm-3">
        <label class="margen text-left nombre-destacado">
          {{ oportunidadForm.get('nombre')?.value }}
        </label>
      </div>
      <div class="col-sm-5" >
        <label class="margen text-left" style="white-space: nowrap; padding-right: 50px;">
          {{ 'Probabilidad ' + oportunidadForm.get('probabilidad')?.value  }}
        </label>
        <br />
        <label class="margen text-left">
          {{ oportunidadForm.get('tooltipStage')?.value }}
        </label>
        <small *ngIf="validacionActiva && oportunidadForm.get('stage')?.errors?.['required']" class="text-danger">
          Necesita asignar una etapa para registrar un seguimiento
        </small>
      </div>
      <div class="col-sm-4">
        <label class="margen text-left">
          {{ oportunidadForm.get('monto')?.value | currency:'MXN':'symbol':'1.2-2' }}
        </label>
        <br />
        <label class="margen text-left">
          {{ oportunidadForm.get('montoNormalizado')?.value | currency:'MXN':'symbol':'1.2-2' }}
        </label>
      </div>
    </div>
    <br />
    <form [formGroup]="oportunidadForm">
      <div class="row" *ngIf="oportunidadForm.get('idEstatusOportunidad')?.value === 1">
        <div class="col-sm-3">
          <label for="Comentario" class="margen text-left">Seguimiento:</label>
        </div>
        <div class="col-sm-9 inptSpace pl-0">
          <div class="d-flex align-items-center">
          <textarea pInputText class="inptSize seguimiento-textarea" formControlName="comentario"></textarea>
          <button class="btn btn-outline-secondary btn-sm ml-2" 
          (click)="exportExcel(oportunidadForm.get('idOportunidad')?.value)" 
          [disabled]="historialOportunidad.length === 0">
          <i class="bi bi-download"></i>
        </button>
          </div>
          <div *ngIf="oportunidadForm.get('comentario')?.invalid && oportunidadForm.get('comentario')?.touched" class="text-danger">
            <small *ngIf="oportunidadForm.get('comentario')?.errors?.['required']">
              El comentario es obligatorio.
            </small>
            <small *ngIf="oportunidadForm.get('comentario')?.errors?.['minWords']">
              El comentario debe tener al menos 10 palabras.
            </small>            
          </div>
        </div>
      </div>
    </form>
    
    <div class="row mt-3">
      <div class="col-sm-12" *ngIf="historialOportunidad.length > 0; else noComments">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Fecha</th>
              <th>Comentario</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of historialOportunidad">
              <td class="text-left">{{ item.iniciales }}</td>
              <td class="text-left">{{ item.fechaRegistro | date:'dd/MM/yyyy' }}</td>
              <td class="text-left" style="max-width: 100px; word-wrap: break-word;">
                {{ item.comentario }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>    

  <ng-template #noComments>
    <p class="text-center">Sin comentarios</p>
  </ng-template>
  
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-start">
    <button pButton label="Guardar"  (click)="guardarHistorial()" severity="secondary"  *ngIf="oportunidadForm.get('idEstatusOportunidad')?.value === 1" [disabled]="!oportunidadForm.get('comentario')?.value" class="me-2" ></button>
    <button pButton label="Cancelar" (click)="close()" severity="secondary"></button>
    </div>
  </ng-template>
</p-dialog>
