USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_IngresosFunnel]    Script Date: 13/10/2025 11:22:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[F_IngresosFunnel]
	@pBandera VARCHAR (30) = NULL,
	@pIdUsuario INT = NULL,
	@pIdEmpresa INT = NULL,
	@pSesionId VARCHAR(500) = NULL,
	@pMotivoCierre VARCHAR(1000) = NULL,
	@pIp VARCHAR (30) = NULL,
	@pUbicacion VARCHAR (30) = NULL
	
AS
BEGIN

	IF @pBandera = 'INSERT'
	BEGIN
		INSERT INTO IngresosFunnel (IdUsuario, FechaIngreso, IdEmpresa, SesionId, Ip, Ubicacion) 
		VALUES (@pIdUsuario, GETDATE(), @pIdEmpresa, @pSesionId, @pIp, @pUbicacion);
	END
	
	IF @pBandera = 'SELECT'
	BEGIN
		SELECT DISTINCT
    U.IdUsuario, 
    CONCAT(U.Nombre, ' ', U.ApellidoPaterno, ' ', U.ApellidoMaterno) AS Usuario,  
    FechaIngreso, Ip, Ubicacion
	FROM IngresosFunnel I
	INNER JOIN Usuarios U ON U.IdUsuario = I.IdUsuario
	WHERE I.IdEmpresa = @pIdEmpresa
	ORDER BY FechaIngreso DESC;

	END

	IF @pBandera = 'UPDATE'
	BEGIN
		UPDATE IngresosFunnel 
		SET 
			FechaCierreSesion = GETDATE(),
			MotivoCierre = @pMotivoCierre
		WHERE SesionId = @pSesionId;
	END
END