<div class="grid-container">
    <div class="quadrant" *ngFor="let group of quadrants; let i = index" 
    cdkDropList 
    [cdkDropListData]="group.cards" 
    [cdkDropListConnectedTo]="dropListIds"
    [id]="'dropList' + i"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let card of group.cards" class="card" id="prueba" cdkDrag>
        <div *ngIf="card.id === 1">
          <plotly-plot *ngIf="infoCargada" [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
        </div>
      </div>
    </div>
  </div>
