.item-acordeon {
  min-width: 65px;
  max-width: 65px;
  min-height: 90vh;
  max-height: 90vh;
  background: #bdbdbde1;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  cursor: pointer;
  transition: width 0.3s;
  position: relative;
}
.item-acordeon.card-ganadas {
  background: #CAFFBF;
}
.item-acordeon.card-perdidas {
  background: #f93e3e;
}

.item-acordeon.expandido {
  width: 70%;
  min-width: 1300px;
  max-width: 1200px;
  border-radius: 15px;
  background: transparent;
  min-height: 90vh;
  max-height: 90vh;
  overflow: hidden;
}
.item-acordeon.expandido .nombre-seccion {
  display: none;
}

.encabezado-acordeon {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/*.boton-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 0;
  order: 1;
  align-self: flex-start;
  margin-top: -10px;
}*/

.nombre-seccion {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  order: 2;
  margin-left: 15px;
  margin-top: 5px;
  transition: writing-mode 0.3s, transform 0.3s;
}

/*.item-acordeon.expandido .nombre-seccion {
  writing-mode: horizontal-tb;
  transform: rotate(0);
  margin-left: 0;
}*/

.contenido-acordeon-horizontal {
  width: 100%;
  transition: width 0.3s, padding 0.3s;
  min-width: 0;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  min-height: 88vh;
  max-height: 88vh;
  margin-left: 25px;
  position: relative;
  margin-top: 5px;
}

.item-acordeon.expandido .contenido-acordeon-horizontal {
  display: block;
}