.funnel-container{
    width: 100vw; 
    height: 100vh; 
    background: #f8f9fa;
    overflow-x: hidden !important;
    overflow-y: auto;
}
.logo-veriq {
    background-color: #AFABAB;
    text-align: center;
    height: 65px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 170px 87px;
    border-radius: 6px 6px 0px 0px;
}
.login-form {
    margin-top: -30px; 
  }
.text-muted{
    margin-top: -20px;
}

