<div class="cambiar-password-header">
    <div class="header position-relative">  
        <h2 class="titulo m-0">Mi Cuenta</h2>
        <button class="btn-close btn-close-white position-absolute" (click)="cancelar()" aria-label="Cerrar"></button>
    </div>
</div>

<div class="cambiar-password-container">
    <div class="contenido">
        <div *ngIf="formCambiarPassword" [formGroup]="formCambiarPassword">
            <div class="row inptSpace">
                <div class="col-sm-4 lbl">
                    <label for="usuario" class="control-label">Usuario</label>
                </div>
                <div class="col-sm-8 inptSpace">
                    <input type="text" pInputText class="form-control register-input inptSize"
                        formControlName="usuario" />
                </div>
            </div>
            <div class="row inptSpace">
                <div class="col-sm-4 lbl">
                    <label for="correo">Correo Electrónico</label>
                </div>
                <div class="col-sm-8 inptSpace">
                    <input pInputText class="inptSize" formControlName="correo" />
                </div>
            </div>
            <div class="row inptSpace">
                <div class="col-sm-4 lbl">
                    <label for="tipoUsuario">Tipo de Usuario</label>
                </div>
                <div class="col-sm-8 inptSpace">
                    <input pInputText class="inptSize" formControlName="tipoUsuario" />
                </div>
            </div>
            <div class="row inptSpace">
                <div class="col-sm-4 lbl">
                    <label for="txtContrasena" class="control-label">Cambiar Contraseña *</label>
                </div>
                <div class="col-sm-8 inptSpace row">
                    <div class="col-11" style="padding-right: 0px;">
                        <input [type]="showPassword ? 'text' : 'password'" id="txtContrasena"
                            formControlName="contrasena"
                            [ngClass]="{'is-invalid': formCambiarPassword.get('contrasena')?.invalid && formCambiarPassword.get('contrasena')?.touched}"
                            class="form-control register-input" maxlength="100" autocomplete="new-password" />
                    </div>
                    <div class="col-1" style="padding-right: 0px; padding-left: 0px;">
                        <span class="input-group-text toggle-password" (click)="togglePasswordVisibility()"
                            style="width: fit-content;">
                            <i class="bi" [class.bi-eye-slash]="!showPassword" [class.bi-eye]="showPassword"></i>
                        </span>
                    </div>
                    <span
                        *ngIf="formCambiarPassword.get('contrasena')?.invalid && formCambiarPassword.get('contrasena')?.touched"
                        class="text-danger">
                        <ng-container *ngIf="formCambiarPassword.get('contrasena')?.errors?.['required']">
                            La contraseña es requerida.
                        </ng-container>
                        <ng-container *ngIf="formCambiarPassword.errors?.['contrasenaEsRequerida']">
                            La contraseña es obligatoria si no se ha seleccionado una foto.
                        </ng-container>
                    </span>
                </div>

            </div>
            <div class="row inptSpace">
                <div class="col-sm-4 lbl">
                    <label for="txtContrasenaConfirm" class="control-label" (input)="contrasenasIgualesValidator(formCambiarPassword)">Confirmar Contraseña*</label>
                </div>
                <div class="col-sm-8 inptSpace row">
                    <div class="col-11" style="padding-right: 0px;">
                        <input [type]="showPasswordConfirm ? 'text' : 'password'" id="txtContrasenaConfirm"
                            formControlName="contrasenaConfirm" [ngClass]="{'is-invalid': (formCambiarPassword.get('contrasenaConfirm')?.invalid && formCambiarPassword.get('contrasenaConfirm')?.touched)
                        ||
                        (formCambiarPassword.errors?.['contrasenasNoCoinciden'] && 
                        formCambiarPassword.get('contrasenaConfirm')?.touched)
                    }" class="form-control register-input" maxlength="100" />
                    </div>
                    <div class="col-1" style="padding-right: 0px; padding-left: 0px;">
                        <span class="input-group-text toggle-password" (click)="togglePasswordVisibilityConfirm()"
                            style="width: fit-content;">
                            <i class="bi" [class.bi-eye-slash]="!showPasswordConfirm" [class.bi-eye]="showPasswordConfirm"></i>
                        </span>
                    </div>

                    <span
                        *ngIf="formCambiarPassword.get('contrasenaConfirm')?.invalid && formCambiarPassword.get('contrasenaConfirm')?.touched"
                        class="text-danger">
                        <ng-container *ngIf="formCambiarPassword.get('contrasenaConfirm')?.errors?.['required']">
                            Es necesario que confirmes tu contraseña.
                        </ng-container>
                    </span>
                    <span *ngIf="contrasenaNoCoinciden" class="text-danger">
                        Las contraseñas no coinciden.
                    </span>
                </div>
            </div>
            <div class="row inptSpace align-items-center">
                <div class="col-sm-4 lbl">
                    <label for="fotoPerfil" class="control-label">Foto de Perfil</label>
                </div>

                <div class="col-sm-8 inptSpace">

                    <div *ngIf="!fotoSeleccionada" class="d-flex align-items-center">
                        <input type="text" class="form-control me-2" placeholder="" disabled />

                        <button class="btn btn-seleccionar" (click)="abrirInput()">Seleccionar</button>

                        <input #inputFoto type="file" (change)="onFotoSeleccionada($event)" accept="image/*" hidden
                            *ngIf="!fotoSeleccionada" />
                    </div>

                    <div *ngIf="fotoSeleccionada || imagePreview" class="d-flex align-items-center">
                       <div style="width: 90px; height: 90px; border-radius: 50%; overflow: hidden; margin-right: 30px;">
                        <img [src]="imagePreview" alt="Vista previa" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <button class="btn btn-link text-danger p-0" (click)="removerFoto()">
                            <span class="me-1">❌</span> Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cambiar-password-footer">
    <div class="contenido col-12" style="text-align: right;">
        <button pButton label="Guardar" severity="secondary" (click)="guardar()" style="margin-right: 10px;"
        [disabled]="!validarGuardar || formCambiarPassword.invalid"></button>
        <button pButton label="Salir" severity="secondary" (click)="cancelar()"></button>
    </div>
</div>