USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_InsertaPreguntaBitacoraPreguntas]    Script Date: 18/07/2025 04:38:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Juan Carlos Bernadac Delfin
-- Create date: 26-11-2024
-- Description:	Inserta Pregunta en Bitacora de Preguntas
-- Update:		18-07-2025
-- Desctiption: Se agrego el campo de modelo faltante
-- =============================================
ALTER PROCEDURE [dbo].[F_InsertaPreguntaBitacoraPreguntas]
	@pResult			Bit				OutPut,
	@pErrorMessage		Varchar(MAX)	OutPut,	
	@pIdBot				Int,
	@pPregunta			Varchar(255),
	@pFechaPregunta		DateTime,
	@pRespuesta			Varchar(MAX),
	@pFechaRespuesta	DateTime,
	@pRespondio			Bit,
	@pTokensEntrada		Int,
	@pTokensSalida		Int,
	@pIdUsuario			Int,
	@pCostoPregunta		Decimal(18,8),
	@pCostoRespuesta	Decimal(18,8),
	@pCostoTotal		Decimal(18,8),
	@pModelo			Varchar(25)
AS
BEGIN
	
	SET NOCOUNT ON;
	BEGIN TRAN;

		BEGIN TRY  
		
			INSERT INTO [dbo].[BitacoraPreguntas]
			   ([IdBot],[Pregunta],[FechaPregunta],[Respuesta],[FechaRespuesta],[Respondio],[TokensEntrada],[TokensSalida],[IdUsuario],[CostoPregunta],[CostoRespuesta],[CostoTotal],[Modelo])
			VALUES
			   (@pIdBot,@pPregunta,@pFechaPregunta,@pRespuesta,@pFechaRespuesta,@pRespondio,@pTokensEntrada,@pTokensSalida,@pIdUsuario, @pCostoPregunta,@pCostoRespuesta,@pCostoTotal,@pModelo)

			SET @pResult = 1;
			SET @pErrorMessage = '';
			COMMIT TRAN;
		END TRY  
		BEGIN CATCH  
			SET @pResult = 0;
			SET @pErrorMessage = 'Error ' + ERROR_MESSAGE();
			ROLLBACK TRAN;
	END CATCH 
END
