<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="text-align: left; font-weight: bold;">
      <h3></h3>
    </div>
    
    <div class="col-12">
      <div class="row contenedorTabla">
        <div *ngIf="loading">Cargando...</div>
        <p-table *ngIf="!loading" #dt [stripedRows]="true" [value]="oportunidades" dataKey="id" [rows]="10"
          [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 50]" [paginator]="true" paginatorPosition="both"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros"
          [columns]="lsColumnasAMostrar"
          [resizableColumns]="true" [reorderableColumns]="true"
          [globalFilterFields]="['nombre','nombreSector','nombreOportunidad','abreviatura','stage','iniciales','nombreContacto','entrega','monto','probabilidadOriginal','probabilidad','montoNormalizado','fechaRegistro','diasFunnel','fechaEstimadaCierreOriginal','fechaModificacion']"
          [tableStyle]="{'min-width': anchoTabla + '%'}">
          
          <ng-template class="divAccionesTabla" #caption>
            <div class="col-12" style="text-align: left; font-weight: bold; margin-top: 20px">
              <h3>Administración General de Oportunidades en Proceso</h3>
            </div>
            <div class="row">
              <div class="col inDivDatatableHeader" style="text-align:right; margin-right:5px">
                <p-dropdown [options]="years" [(ngModel)]="selectedYear" (onChange)="filterByYear()" placeholder="Selecciona un año"
                  [ngStyle]="{'margin-right': '5px'}">
                </p-dropdown>
                <p-button label="" icon="bi bi-arrow-clockwise" (click)="clear(dt)" severity="secondary"
                  pTooltip="Refrescar" tooltipPosition="top"
                  [ngStyle]="{'margin-right': '5px'}" />
                
                <p-button label="" icon="bi bi-download" severity="secondary" (click)="exportExcel(dt)" 
                  pTooltip="Descargar Excel" tooltipPosition="top"
                  [ngStyle]="{'margin-right': '5px'}"/>
                
                <p-button label="" icon="bi-list" (click)="agregarColumna($event)" severity="secondary"  
                  pTooltip="Agregar columna" tooltipPosition="top"
                  [ngStyle]="{'margin-right': '5px'}"/>
                
                <p-button label="" icon="bi bi-plus" severity="secondary" (click)="inserta()"  
                  pTooltip="Añadir nuevo" tooltipPosition="top"
                  [ngStyle]="{'margin-right': '5px'}"/>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr class="custom-header">
                <th *ngFor="let def of lsColumnasAMostrar" pSortableColumn="{{def.key}}" pReorderableColumn>
                  {{def.valor}}<p-sortIcon field="{{def.key}}"></p-sortIcon>
                </th>
                <th></th>
            </tr> 
            <tr>
                <th *ngFor="let def of lsColumnasAMostrar">
                    <ng-container *ngIf="def.groupColumn">
                        <p-columnFilter field="{{def.key}}" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect [ngModel]="value"
                                    [options]="obtenerArregloFiltros(oportunidades, def.key)" placeholder=""
                                    (onChange)="filter($event.value)">
                                    <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                            <span class="ml-1">{{option}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </ng-template>
                        </p-columnFilter>
                    </ng-container>
                    <ng-container *ngIf="!def.groupColumn">
                      <div [ngSwitch]="def.tipoFormato">
                          <div *ngSwitchCase="'text'">
                              <p-columnFilter field="{{def.key}}" matchMode="contains" [showMenu]="false">
                                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                      <input type="text" pInputText [ngModel]="value" [ngStyle]="getColumnWidth(def.key)"
                                          (ngModelChange)="filter($event)" class="p-inputtext" placeholder="">
                                  </ng-template>
                              </p-columnFilter>
                          </div>
                          <div *ngSwitchCase="'currency'">
                            <p-columnFilter type="numeric" field="{{def.key}}" [showButtons]="false" [maxFractionDigits]="7">
                              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                  <input type="text" pInputText [ngModel]="value" [ngStyle]="getColumnWidth(def.key)"
                                      (ngModelChange)="filter($event)" class="p-inputtext" placeholder="">
                              </ng-template>
                            </p-columnFilter>
                          </div>
                          <div *ngSwitchCase="'date'">
                              <p-columnFilter type="{{def.tipoFormato}}" [field]="def.key" [showButtons]="false">
                                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                      <p-calendar #calendar [ngModel]="value" (onSelect)="filter(calendar.value)"
                                          [showButtonBar]="true"></p-calendar>
                                  </ng-template>
                              </p-columnFilter>
                          </div>
                          <div *ngSwitchDefault>
                              <p-columnFilter
                                  *ngIf="def.tipoFormato !== 'text' && def.tipoFormato !== 'currency' && def.tipoFormato !== 'date'"
                                  type="{{def.tipoFormato}}" field="{{def.key}}" [showButtons]="false" [showMenu]="false">
                              </p-columnFilter>
                          </div>
                      </div>
                  </ng-container>
                </th>
                <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let def of lsColumnasAMostrar">
                <ng-container [ngSwitch]="def.tipoFormato">
                  <span *ngSwitchCase="'text'">{{ rowData[def.key] }}</span>
          
                  <span *ngSwitchCase="'currency'">
                    {{ rowData[def.key] | currency:'MX ':'symbol' }}
                  </span>
          
                  <span *ngSwitchCase="'number'">
                    <span *ngIf="def.key === 'fechaModificacion'" [ngStyle]="{ 'color': getColorForDiasSinActividad(rowData[def.key]) }">
                      {{ rowData[def.key] }}
                    </span>
                    <span *ngIf="def.key !== 'fechaModificacion'">
                      {{ rowData[def.key] | number:'1.0-2' }}
                    </span>
                  </span>
          
                  <span *ngSwitchCase="'date'" [ngStyle]="def.key === 'fechaEstimadaCierreOriginal' ? { 'color': getColorForFechaEstimadaCierre(rowData[def.key]) } : {}">
                    {{ rowData[def.key] | date:'dd/MM/yyyy' }}
                  </span>
                </ng-container>
              </td>
              <td>
                <p-button type="button" icon="bi bi-file-earmark-text" text (click)="seguimiento(rowData)" 
                pTooltip="Ver seguimiento" tooltipPosition="top" styleClass="blue-icon">
                <span class="badge">{{ rowData.totalComentarios || 0 }}</span>
                </p-button>
                <p-button type="button" icon="bi bi-folder2" text (click)="documento(rowData)"
                pTooltip="Ver documentos" tooltipPosition="top" styleClass="black-icon">
                <span class="badge">{{ rowData.totalArchivos || 0}}</span>
                </p-button>
                <p-button type="button" icon="bi bi-pencil" text (click)="actualiza(rowData)" 
                  pTooltip="Editar oportunidad" tooltipPosition="top" styleClass="yellow-icon"/>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="footer" let-columns #footer>
            <tr class="custom-footer">
              <td *ngFor="let def of lsColumnasAMostrar">
                <ng-container *ngIf="def.key === 'nombre'">
                  Total de registros: {{ getTotalCostPrimeNg(dt, def) }}
                </ng-container>
                <ng-container *ngIf="def.tipoFormato === 'currency'">
                  {{ getTotalCostPrimeNg(dt, def) | currency:'MX ': 'symbol' }}
                </ng-container>
                <ng-container *ngIf="def.tipoFormato !== 'currency' && def.key !== 'nombre' && def.key !== 'idOportunidad'">
                  {{ getTotalCostPrimeNg(dt, def) | number: '1.0-2' }}
                </ng-container>
              </td>
              <td></td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No preguntas encontradas.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-toast position="center"></p-toast>
    </div>
  </div>
</div>

<app-modal-oportunidades [(visible)]="modalVisible" [title]="'Editar Datos de '" (closeModal)="onModalClose()"
  (result)="manejarResultado($event)" [insertar]="insertar" [oportunidades]="oportunidades" [oportunidad]="oportunidadSeleccionada">
</app-modal-oportunidades>

<app-seguimiento-oportunidades [(visible)]="modalSeguimientoVisible" [title]="'Seguimiento de '" (closeModal)="onModalClose()"
  (result)="manejarResultado($event)" [insertar]="insertar" [oportunidades]="oportunidades" [oportunidad]="oportunidadSeleccionada">
</app-seguimiento-oportunidades>

<app-documentos-oportunidades [(visible)]="modalDocumentosVisible" [title]="'Documentos de '" (closeModal)="onModalClose()"
  (result)="manejarResultado($event)" [insertar]="insertar" [oportunidades]="oportunidades" [oportunidad]="oportunidadSeleccionada">
</app-documentos-oportunidades>