<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '35rem', height: 'autorem' }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>
  <ng-template pTemplate="header">
    <label class="margen">
      {{ insertar ? 'Nuevo Contacto' : title + ' ' + contactoForm.get('nombre')?.value }}
    </label>
    
  </ng-template>
<br>
  <ng-template pTemplate="content">
    <form [formGroup]="contactoForm">

      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="prospecto">Prospecto:</label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-dropdown 
            class="inptSize1"
            [options]="prospectos"
            [filter]="true"
            formControlName="idProspecto"
            optionLabel="nombre"
            optionValue="id"
            appendTo="body"
            placeholder="Seleccione un prospecto">
          </p-dropdown>
          <span *ngIf="contactoForm.get('idProspecto')?.invalid && contactoForm.get('idProspecto')?.touched" class="text-danger"><br>
            <ng-container *ngIf="contactoForm.get('idProspecto')?.errors?.['required']">Debe seleccionar un prospecto.</ng-container>
          </span>
        </div>
      </div>

      <!-- Nombre -->
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="nombre">Nombre: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" formControlName="nombre" />
          <span *ngIf="contactoForm.get('nombre')?.invalid && contactoForm.get('nombre')?.touched" class="text-danger"><br>
            <ng-container *ngIf="contactoForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</ng-container>
            <ng-container *ngIf="contactoForm.get('nombre')?.errors?.['maxLength']">El nombre no puede ser mayor a 50 caracteres.</ng-container>
            <ng-container *ngIf="contactoForm.get('nombre')?.errors?.['pattern']">El nombre solo puede contener letras y espacios.</ng-container></span>
         
        </div>
      </div>

      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="telefono">Teléfono: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" formControlName="telefono" />
          <span *ngIf="contactoForm.get('telefono')?.invalid && contactoForm.get('telefono')?.touched" class="text-danger"><br>
            <ng-container *ngIf="contactoForm.get('telefono')?.errors?.['required']">El teléfono es obligatorio. </ng-container>
            <ng-container *ngIf="contactoForm.get('telefono')?.errors?.['minlength']">El teléfono debe tener al menos 8 caracteres. </ng-container>
            <ng-container *ngIf="contactoForm.get('telefono')?.errors?.['maxlength']">El teléfono no puede tener más de 15 caracteres. </ng-container>
            <ng-container *ngIf="contactoForm.get('telefono')?.errors?.['pattern']">Formato de telefono incorrecto. </ng-container>
          </span>
        </div>
      </div>

      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="correoElectronico">Correo Electrónico: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" formControlName="correoElectronico" />
          <span *ngIf="contactoForm.get('correoElectronico')?.invalid && contactoForm.get('correoElectronico')?.touched" class="text-danger"><br>
            <ng-container *ngIf="contactoForm.get('correoElectronico')?.errors?.['required']">El correo electrónico es obligatorio.</ng-container>
            <ng-container *ngIf="contactoForm.get('correoElectronico')?.errors?.['email']">Ingrese un correo electrónico válido.</ng-container>
           
          </span>
        </div>
      </div>     

      <div class="row inptSpace" *ngIf="!insertar">
        <div class="col-sm-4 lbl">
          <label for="estatus">Estatus: </label>
        </div>
        <div class="col-sm-8 inptSpaceEstatus">
          <p-checkbox formControlName="estatus" [binary]="true"></p-checkbox>
          <span style="padding-left: 6px !important;">Activo</span>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button *ngIf="!insertar" pButton label="Actualizar" (click)="guardarContacto()" severity="secondary" [disabled]="!validaGuadar"></button>
    <button *ngIf="insertar" pButton label="Agregar" (click)="guardarContacto()" severity="secondary" [disabled]="!validaGuadar"></button>
    <button pButton label="Cancelar" (click)="close()" severity="secondary"></button>
  </ng-template>
</p-dialog>
