USE [SFS-QA-TENANT]

ALTER TABLE [dbo].[Menus] ADD Orden INT;

GO
UPDATE Menus SET Orden = 3 WHERE IdMenu = 1
GO
UPDATE Menus SET Orden = 1 WHERE IdMenu = 2
GO
UPDATE Menus SET Orden = 2 WHERE IdMenu = 3
GO
UPDATE Menus SET Orden = 4 WHERE IdMenu = 4
GO
UPDATE Menus SET Orden = 5 WHERE IdMenu = 5
GO
UPDATE Menus SET Orden = 6 WHERE IdMenu = 6
GO


USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[spRolesPermisos_ConsultaPermisosPorRol]    Script Date: 27/03/2025 01:45:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Ulises Mireles Cruz
-- Create date: 2021-04-19
-- Description:	Consulta el permiso al menu por rol
--Modificacion Daniel mercado 27/03/2025 se agrega orden a la consulta
-- =============================================
ALTER PROCEDURE [dbo].[spRolesPermisos_ConsultaPermisosPorRol] 
  @pIdEmpresa int = 0,
  @pIdRol int = 0
AS
BEGIN
		
		SELECT 
			RP.IdPagina
			,P.IdMenu
			,M.Icono
			,M.Nombre as Menu
			,P.Nombre as Pagina
			,p.RouterLink AS Ruta
		FROM RolesPermisos RP
		INNER JOIN RelacionRolesEmpresa RRE ON RRE.IdRol = RP.IdRol AND RRE.IdEmpresa = 1 AND RRE.Estatus = 1
		LEFT JOIN Paginas P ON RP.IdPagina = P.IdPagina AND P.Activo = 1
		LEFT JOIN Menus M ON M.IdMenu = P.IdMenu
		WHERE RP.IdEmpresa = 1 AND RP.IdRol = 1 AND RP.Estatus = 1
		ORDER BY M.Orden Asc;
	

END
