<div class="confirm-dialog">
  <h2 mat-dialog-title class="dialog-title">Evaluar servicio</h2>
  
  <mat-dialog-content class="dialog-content">
    <div class="confirmation-message">
    Antes de que te vayas, ¿te gustaría evaluar mi servicio?
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end" class="dialog-actions">
    <mat-button mat-button [mat-dialog-close]="false" class="btn-nav">No</mat-button>
    <mat-button mat-raised-button [mat-dialog-close]="true" class="btn-nav">Sí</mat-button>
  </mat-dialog-actions>
</div>