USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[sp_GestionNuevoRegistroTemporal]    Script Date: 23/09/2025 11:12:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Xiomara Amador
-- Create date: 08-09-2025
-- Description:	
-- Update date:23-09-2025
-- Description:	Se agrega campo de ip
-- =============================================
ALTER PROCEDURE [dbo].[sp_GestionNuevoRegistroTemporal]
    @Bandera VARCHAR(10), 
    @IdRegistro INT = NULL, 
    @Nombre VARCHAR(100) = NULL,
    @Correo VARCHAR(200) = NULL,
    @Usuario VARCHAR(20) = NULL,
    @RFC VARCHAR(20) = NULL,
    @NombreEmpresa VARCHAR(200) = NULL,
    @Direccion NVARCHAR(50) = NULL,
    @UrlSitio VARCHAR(500) = NULL,
	@TamanoEmpresa VARCHAR(50) = NULL,
	@Ip VARCHAR (30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Bandera = 'INSERTAR'
    BEGIN
        INSERT INTO [dbo].[NuevoRegistroTemporal] (Nombre, Correo, Ip)
        VALUES (@Nombre, @Correo, @Ip);

        SELECT SCOPE_IDENTITY() AS IdRegistroCreado;
    END

    ELSE IF @Bandera = 'ACTUALIZAR'
    BEGIN
        UPDATE [dbo].[NuevoRegistroTemporal]
        SET 
            Nombre        = ISNULL(@Nombre, Nombre),
            Correo        = ISNULL(@Correo, Correo),
            Usuario       = ISNULL(@Usuario, Usuario),
            RFC           = ISNULL(@RFC, RFC),
            NombreEmpresa = ISNULL(@NombreEmpresa, NombreEmpresa),
            Direccion     = ISNULL(@Direccion, Direccion),
            UrlSitio      = ISNULL(@UrlSitio, UrlSitio),
			TamanoEmpresa = ISNULL(@TamanoEmpresa, TamanoEmpresa),
			Ip			  = ISNULL (@Ip, Ip)
        WHERE IdRegistro = @IdRegistro;

        SELECT @IdRegistro AS IdRegistroActualizado;
    END
END
