USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_EnvioCorreoRegistrosUsuarioAdministradores]    Script Date: 08/10/2025 12:35:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:        Xiomara Amador
-- Create date:   08-09-2025
-- Description:   Envía un correo con los datos de un usuario a todos los administradores de la empresa
-- =============================================
ALTER   PROCEDURE [dbo].[F_EnvioCorreoRegistrosUsuarioAdministradores]
(
    @pIdUsuario   INT,
    @pIdEmpresa   INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Result       BIT;
    DECLARE @ErrorMessage VARCHAR(MAX);
    DECLARE @Body         VARCHAR(MAX);
    DECLARE @Subject      VARCHAR(200) = 'Nuevo registro de usuario pendiente de aprobación';
    DECLARE @Destinatarios VARCHAR(MAX);

    BEGIN TRY
        DECLARE @Nombre NVARCHAR(200),
                @Usuario NVARCHAR(100),
                @Correo NVARCHAR(150);
        SELECT 
            @Nombre = ISNULL(Nombre,''),
            @Usuario = ISNULL(Usuario,''),
            @Correo = ISNULL(Correo,'')
        FROM [dbo].[NuevoRegistroTemporal]
        WHERE IdRegistro = @pIdUsuario;

        SELECT @Destinatarios = STRING_AGG(CorreoElectronico, ';')
        FROM [dbo].[Usuarios]
        WHERE IdEmpresa = @pIdEmpresa
          AND IdTipoUsuario = 1
          AND Estatus = 1
          AND CorreoElectronico IS NOT NULL;

        SET @Body = '<html><head><meta charset="UTF-8"></head><body>' +
        '<h2>Nuevo registro de usuario</h2>' +
        '<p>Se ha recibido una nueva solicitud de registro en la plataforma. A continuación se muestran los datos del usuario:</p>' +
        '<table border="0" cellpadding="5">' +
        '  <tr><td><b>Nombre:</b></td><td>' + ISNULL(@Nombre,'') + '</td></tr>' +
        '  <tr><td><b>Usuario:</b></td><td>' + ISNULL(@Usuario,'') + '</td></tr>' +
        '  <tr><td><b>Correo electrónico:</b></td><td>' + ISNULL(@Correo,'') + '</td></tr>' +
        '</table>' +
        '<p>Por favor, accede al sistema para revisar y activar este usuario.</p>' +
        '<hr>' +
        '<p style="font-size:12px;color:#555;">Este mensaje fue generado automáticamente por el sistema. No respondas a este correo.</p>' +
        '</body></html>';

        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'EmailProfile',
            @recipients = @Destinatarios,
            @body = @Body,
            @subject = @Subject,
            @body_format = 'HTML';

        SET @Result = 1;
        SET @ErrorMessage = 'Correo enviado correctamente a los administradores.';

    END TRY
    BEGIN CATCH
        SET @Result = 0;
        SET @ErrorMessage = 'Error al enviar correo: ' + ERROR_MESSAGE();
    END CATCH;

    SELECT @Result AS Result, @ErrorMessage AS ErrorMessage;
END
