USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_Tenant]    Script Date: 08/10/2025 03:26:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Ulises Mireles Cruz
-- Create date: 2021-04-19
-- Description:	Consultas de empresas de Tenant
-- Author:		Paola González
-- Update date: 15-05-2025
-- Description: Se agrego el campo archivoimagen y la bandera UPDATE-LOGO
-- Author:		Paola González
-- Update date: 09-07-2025
-- Description: Se agrego el campo PermitirDecimales en insertar, modificar y seleccionar empresas
-- Update date: 05-09-2025
-- Description: Se agrego bandera para registrar desde glupoint
-- Update date: 05-09-2025
-- Description: Se agregan campos direccion y tamano 
-- Author:		Xiomara Amador
-- Update date: 08-10-2025
-- Description: Correo de nuevo registro publico 
-- =============================================
ALTER PROCEDURE [dbo].[F_Tenant] 
  @pBandera varchar(50) = null,
  @pIdEmpresa int = 0,
  @pNombreEmpresa varchar(100) = null,
  @pIdAdministrador int = 0,
  @pIdLicencia int = 0,
  @pAlias varchar(20) = null,
  @pRFC varchar(20) = null,
  @pVInicio datetime = null,
  @pVTerminacion datetime = null,
  @pUsuarioCreador int = null,
  @pNombre varchar(100) = null,
  @pApellidoPaterno varchar(100) = null,
  @pApellidoMaterno varchar(100) = null,
  @pIniciales varchar(100) = null,
  @pCorreo varchar(100) = null,
  @pUsuario varchar(50) = null,
  @pUrlSitio varchar(500) = null,
  @pActivo INT = 0,
  @pArchivoImagen VARCHAR(50) = NULL,
  @pPermitirDecimales BIT = 0,
  @pPassword VARCHAR (100) = NULL,
  @pDireccion VARCHAR (50) = NULL,
  @pTamano VARCHAR (20) = NULL
AS
BEGIN

	IF @pBandera = 'SEL-EMPRESAS'
	BEGIN
		with user_emp as (
			select count(u.IdEmpresa) AS UserReal, e.IdEmpresa, e.NombreEmpresa from Usuarios as u
			left join Empresas as e
				on e.IdEmpresa = u.IdEmpresa
			where u.Estatus = 1 AND e.IdEmpresa > 0
			group by e.IdEmpresa, e.NombreEmpresa
		),
		oport_emp as (
			select count(o.IdEmpresa) AS OportEmp, e.IdEmpresa, e.NombreEmpresa from Oportunidades as o
			left join Empresas as e
				on e.IdEmpresa = o.IdEmpresa
			where o.Estatus = 1 AND e.IdEmpresa > 0
			group by e.IdEmpresa, e.NombreEmpresa
		),
		oport_a as (
			select count(o.IdEstatusOportunidad) as OportunidadAct,  e.IdEmpresa, e.NombreEmpresa from Oportunidades as o
			left join Empresas as e
				on e.IdEmpresa = o.IdEmpresa
			where o.Estatus = 1 AND e.IdEmpresa > 0 and o.IdEstatusOportunidad = 1
			group by e.IdEmpresa, e.NombreEmpresa
		)
		SELECT E.IdEmpresa, E.NombreEmpresa, E.Alias, E.RFC, FORMAT(E.VInicio, 'yyyy-MM-dd') AS VInicio, FORMAT(E.VTerminacion, 'yyyy-MM-dd') AS VTerminacion,
		 L.IdLicencia, L.NombreLicencia, L.CantidadUsuarios, L.CantidadOportunidades, 
		 U.IdUsuario as IdAdministrador, CONCAT(U.Nombre, ' ', U.ApellidoPaterno, ' ', U.ApellidoMaterno)  as Administrador, 
		 U.Nombre, U.ApellidoPaterno, U.ApellidoMaterno,
		 U.Usuario as UsuarioAdministrador, U.CorreoElectronico as CorreoAdministrador, ue.UserReal, coalesce(oe.OportEmp, 0) as OportEmp , coalesce(oa.OportunidadAct, 0) as OportunidadAct,
		 E.Activo, UrlSitio,
		CASE WHEN E.Activo = 1 THEN 'Activo' ELSE 'Inactivo' END as DesEstatusActivo,
		E.ArchivoImagen,
		E.PermitirDecimales
		FROM Empresas E 
		LEFT JOIN Licencias L ON E.IdLicencia = L.IdLicencia
		LEFT JOIN Relacion_EmpresasMiembros REM ON E.IdEmpresa = REM.IdEmpresa
		LEFT JOIN Usuarios U ON REM.IdMiembro = U.IdUsuario
		LEFT JOIN user_emp as ue ON ue.IdEmpresa=E.IdEmpresa
		LEFT JOIN oport_a as oa ON oa.IdEmpresa = E.IdEmpresa
		FULL OUTER JOIN oport_emp as oe ON oe.IdEmpresa=E.IdEmpresa
	END

	IF @pBandera = 'INS-EMPRESA'
	BEGIN
		BEGIN TRY
			BEGIN TRAN
			
			DECLARE @Error VARCHAR(MAX), @OK BIT, @vIdAviso int;
			INSERT INTO Empresas (NombreEmpresa, Alias, UrlSitio, RFC, VInicio, VTerminacion, UsuarioCreador, IdLicencia,FechaCreacion, PermitirDecimales)
						  VALUES (@pNombreEmpresa, @pAlias, @pUrlSitio, @pRFC, @pVInicio, @pVTerminacion, @pUsuarioCreador, @pIdLicencia, GETDATE(),@pPermitirDecimales)
		
			DECLARE @vIdEmpresa int = SCOPE_IDENTITY();

			INSERT INTO Usuarios (Nombre, ApellidoPaterno, ApellidoMaterno, Usuario, Password, Iniciales, CorreoElectronico, IdTipoUsuario, Estatus, UsuarioCreador, FechaRegistro, IdEmpresa) VALUES
								 (@pNombre, @pApellidoPaterno, @pApellidoMaterno, @pUsuario, 'PxSVyFg0W/1EYQYN1sTL6w==', @pIniciales, @pCorreo, 1, 1, @pUsuarioCreador, GETDATE(), @vIdEmpresa)
			DECLARE @vIdAdministrador int = SCOPE_IDENTITY();

			INSERT INTO Relacion_EmpresasMiembros(IdEmpresa, IdMiembro) VALUES (@vIdEmpresa, @vIdAdministrador)
		
			INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 1 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
				FROM Paginas ORDER BY IdPagina;

			--Inser permisos de gerente y agente solo para menu en porceso, terminadas y administracion
			INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 2 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
				FROM Paginas WHERE IdMenu IN (2,3,4) ORDER BY IdPagina;
			INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 3 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
				FROM Paginas WHERE IdMenu IN (2,3,4) ORDER BY IdPagina;
				

			INSERT INTO RelacionRolesEmpresa (IdEmpresa, IdRol, Estatus, FechaRegistro) SELECT @vIdEmpresa, IdTipoUsuario, 1, GETDATE()
				FROM TiposUsuarios WHERE IdTipoUsuario IN (1, 2, 3, 4);	

			
			DECLARE @LigaTenant VARCHAR(500) =  (SELECT Descripcion FROM Parametros WHERE ClaveParametro = 'URLFUNNEL-TENNAT');
			DECLARE @Body VARCHAR(MAX) = '<html><head><meta charset="UTF-8"></head><body>';
					SET @Body = @Body + '<p><span style="font-size:18px;">Estimado ,<strong> '
										+ CONCAT (@pNombre, ' ', @pApellidoPaterno, ' ', @pApellidoMaterno) + '</strong></span></p>'
										+ '<p>Se ha activado tu usuario para el Sistema de adminsitracion de empresas de glupoint</p>'
										+ '<p>Usuario: <strong>' + @pUsuario + '</strong><br/>'
										+ 'Contraseña: <strong> eisei2021 </strong></p>'
										+ '<p>Puede usted acceder al sitio en : <a HREF='+@LigaTenant+'> '+@LigaTenant+' </a> </p>'
										+ '<p>Atentamente Glupoint - Copyright 2025 </p>'
										+ '</body></html>';


					--SELECT @Body
					EXEC msdb.dbo.sp_send_dbmail
						@profile_name='EmailProfile',
						@recipients = @pCorreo,
						@body=@Body,
						@subject='Credenciales para inicio de sesión en Administrador de empresas de glupoint',
						@body_format = 'HTML';
				
				SET @OK = 1;
				SET @Error = '';
			COMMIT;
		END TRY
		BEGIN CATCH
			SET @OK = 0;
			SET @Error = 'Error ' + ERROR_MESSAGE();
			ROLLBACK TRAN;
		END CATCH
		SELECT @OK AS Ok, @Error AS ErrorMessage;

	END

	IF @pBandera = 'UPD-EMPRESA'
	BEGIN
		UPDATE Empresas SET 
			NombreEmpresa = @pNombreEmpresa,
			Alias = @pAlias,
			UrlSitio = @pUrlSitio,
			RFC = @pRFC,
			VInicio = @pVInicio,
			VTerminacion = @pVTerminacion,
			IdLicencia = @pIdLicencia,
			FechaModificacion = GETDATE(),
			Activo = @pActivo,
			PermitirDecimales = @pPermitirDecimales
		WHERE IdEmpresa = @pIdEmpresa

		UPDATE Usuarios SET CorreoElectronico = @pCorreo, 
							Nombre = @pNombre, ApellidoPaterno = @pApellidoPaterno, ApellidoMaterno = @pApellidoMaterno
							WHERE IdUsuario = @pIdAdministrador;

		SELECT 1 AS Ok, '' AS ErrorMessage;
	END

	IF @pBandera = 'SEL-ADMINISTRADORES'
	BEGIN
		SELECT IdMiembro, Nombre FROM MiembrosEmpresas 
	END

	IF @pBandera = 'SEL-LICENCIAS'
	BEGIN
		SELECT IdLicencia, NombreLicencia FROM Licencias WHERE Activo=1
	END

	IF @pBandera = 'UPDATE-LOGO'
	BEGIN
		IF @pArchivoImagen IS NULL OR @pArchivoImagen = ''
		BEGIN
			UPDATE Empresas 
			SET 
			ArchivoImagen = '',
			FechaModificacion=GetDate()
			WHERE IdEmpresa = @pIdEmpresa
		END
		ELSE
		BEGIN
			UPDATE Empresas
			SET 
			ArchivoImagen = @pArchivoImagen,
			FechaModificacion=GetDate()
			WHERE IdEmpresa = @pIdEmpresa
		END
	END
	
	IF @pBandera = 'SEL-IMAGEN-EMPRESA'
	BEGIN
		SELECT IdEmpresa, NombreEmpresa, IIF(ArchivoImagen = '' OR ArchivoImagen IS NULL,'logotipo-glupoint.png', ArchivoImagen) AS ArchivoImagen FROM Empresas WHERE IdEmpresa = @pIdEmpresa
	END
	IF @pBandera = 'INS-EMPRESA-GLU'
	BEGIN
    BEGIN TRY
        BEGIN TRAN
            
        
        -- VTerminacion un mes después de VInicio
        DECLARE @vVTerminacion DATE = DATEADD(MONTH, 1, @pVInicio);
        
        DECLARE @vIdLicencia INT = 1;
        
        DECLARE @vPermitirDecimales BIT = 1;
        
        INSERT INTO Empresas (NombreEmpresa, Alias, UrlSitio, RFC, VInicio, VTerminacion, UsuarioCreador, IdLicencia, FechaCreacion, PermitirDecimales, Direccion, Tamano)
                      VALUES (@pNombreEmpresa, @pAlias, @pUrlSitio, @pRFC, @pVInicio, @vVTerminacion, @pUsuarioCreador, @vIdLicencia, GETDATE(), @vPermitirDecimales, @pDireccion, @pTamano)
    
        SET @vIdEmpresa = SCOPE_IDENTITY();

        INSERT INTO Usuarios (Nombre, ApellidoPaterno, ApellidoMaterno, Usuario, Password, Iniciales, CorreoElectronico, IdTipoUsuario, Estatus, UsuarioCreador, FechaRegistro, IdEmpresa) VALUES
                             (@pNombre, @pApellidoPaterno, @pApellidoMaterno, @pUsuario, @pPassword, @pIniciales, @pCorreo, 1, 1, @pUsuarioCreador, GETDATE(), @vIdEmpresa)
        SET @vIdAdministrador = SCOPE_IDENTITY();

        INSERT INTO Relacion_EmpresasMiembros(IdEmpresa, IdMiembro) VALUES (@vIdEmpresa, @vIdAdministrador)
    
        INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 1 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
            FROM Paginas ORDER BY IdPagina;

        INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 2 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
            FROM Paginas WHERE IdMenu IN (2,3,4) ORDER BY IdPagina;
        INSERT INTO RolesPermisos(IdRol, IdPagina, IdEmpresa, Estatus, FechaRegistro) SELECT 3 AS IdRol, IdPagina, @vIdEmpresa AS IdEmpresa, 1 AS Estatus, GETDATE() 
            FROM Paginas WHERE IdMenu IN (2,3,4) ORDER BY IdPagina;
            

        INSERT INTO RelacionRolesEmpresa (IdEmpresa, IdRol, Estatus, FechaRegistro) SELECT @vIdEmpresa, IdTipoUsuario, 1, GETDATE()
            FROM TiposUsuarios WHERE IdTipoUsuario IN (1, 2, 3, 4);    

        
        SET @OK = 1;
        SET @Error = '';
        COMMIT;

        DECLARE @Subject VARCHAR(200) = 'Registro Exitoso en el Sistema';
		DECLARE @UrlGlupoint VARCHAR(500) =  (SELECT Descripcion FROM Parametros WHERE ClaveParametro = 'URLFUNNEL');
        
        SET @Body = 
        '<html><head><meta charset="UTF-8"></head><body>' +
        '<h2>¡Registro exitoso!</h2>' +
        '<p>Hola <b>' + ISNULL(@pNombre, '') + '</b>,</p>' +
        '<p>Se ha activado tu usuario para el Sistema de adminsitracion de empresas de glupoint.</p>' +
        '<p>A continuación encontrarás los datos de acceso:</p>' +
        '<table border="0" cellpadding="5">' +
        '  <tr><td><b>Usuario:</b></td><td>' + ISNULL(@pUsuario, '') + '</td></tr>' +
        '  <tr><td><b>Correo:</b></td><td>' + ISNULL(@pCorreo, '') + '</td></tr>' +
        '</table>' +
        '<p>Puedes iniciar sesión en el siguiente enlace:</p>' +
        '<p><a HREF='+@UrlGlupoint+'> '+@UrlGlupoint+' </a> </p>' + 
        '<hr>' +
		'<p style="font-size:12px;color:#555;">Atentamente Glupoint - Copyright 2025 </p>' +
        '</body></html>';


        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'EmailProfile',
            @recipients = @pCorreo,
            @subject = @Subject,
            @body = @Body,
            @body_format = 'HTML';
    END TRY
    BEGIN CATCH
        SET @OK = 0;
        SET @Error = 'Error ' + ERROR_MESSAGE();
        ROLLBACK TRAN;
    END CATCH
    SELECT @OK AS Ok, @Error AS ErrorMessage;
END

END
