<div class="confirm-dialog">
  <h2 mat-dialog-title class="dialog-title">Eliminar Conversación</h2>
  
  <mat-dialog-content class="dialog-content">
    <div class="confirmation-message">
      ¿Seguro que desea eliminar la conversación?
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end" class="dialog-actions">
    <mat-button mat-button mat-dialog-close="false" class="btn-nav">Cancelar</mat-button>
    <mat-button mat-raised-button mat-dialog-close="evaluar" class="btn-nav">Aceptar</mat-button>
  </mat-dialog-actions>
</div>