<!--<p-dialog [(visible)]="mostrarAdvertencia" [modal]="true" [closable]="false"styleClass="custom-header-naranja"
[style]="{ width: '50rem', height: 'auto' }">
    <ng-template pTemplate="header">
        <h2>¡Antes de comenzar!</h2>
    </ng-template>
    <ng-template pTemplate="content">
        <p style="text-align: left; color: black; margin-top: 40px;">
            Para poder registrar oportunidades, primero necesitas seleccionar una plantilla estándar o crear tu propio proceso.
            Este proceso nos ayudará a organizar y dar seguimiento adecuado a cada una de tus oportunidades.
            Por favor, completa el siguiente formulario para crear tu primer proceso. Una vez creado, podrás comenzar a registrar tus oportunidades sin problema.
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        <button mat-button color="primary" class="btn-agregar-etapa" (click)="continuarAdvertencia()">Continuar</button>
        <button mat-button class="btn-agregar-etapa" (click)="cerrarAdvertencia()">Cancelar</button>

    </ng-template>
</p-dialog>-->
<p-dialog [(visible)]="visible" [modal]="true" styleClass="custom-header-naranja" [closable]="!esNuevo"
    [style]="{ width: '50rem', height: 'auto' }" (onHide)="cerrar()" (onShow)="onDialogShow()" class="bodyDialog">
    <ng-template pTemplate="header">
        <label>
            <h2>Administración de proceso</h2>
        </label>
    </ng-template>
    <br>
    <ng-template pTemplate="content">
        <div class="row col-12">
            <div class="col-3" style="text-align: left; padding-right: 0px; width: auto;">
                <label for="nombreProceso" style="padding-top: 6px;">Nombre del Proceso
                </label>
            </div>
            <div class="col-9" style="text-align: left; padding-bottom: 10px;">
                <input id="nombreProceso" [(ngModel)]="nombreProceso" placeholder="Nombre del proceso" pInputText
                    class="p-inputtext" style="width: 111%;" />
            </div>
        </div>
        <h3 style="justify-self: left;">Plantillas</h3>
        <div style="justify-self: left;">
            <p-select [options]="plantillas" optionLabel="plantilla" optionValue="idPlantilla" placeholder="Selecciona una plantilla" 
                [(ngModel)]="idPlantilla" [showClear]="true" [filter]="true" 
                (onChange)="seleccionarPlantilla($event.value)" 
                (onClear)="limpiarPlantilla()" [ngStyle]="{
                    width: '200px',
                    height: '41px',
                    'text-align': 'left',
                    'padding-left': '6px'
                }" appendTo="body" [disabled]="opcionPlantillas">
                <!-- Opción seleccionada -->
                <ng-template #selectedItem let-selectedOption>
                    <div class="flex items-center gap-2" style="width: 100%">
                        <i class="pi pi-database"></i>
                        <div>{{ selectedOption?.plantilla || 'Seleccione una plantilla' }}</div>
                    </div>
                </ng-template>

                <!-- Lista de opciones -->
                <ng-template let-item #item>
                    <div class="flex items-center gap-2">
                        <i class="pi pi-database"></i>
                        <div>{{ item.plantilla }}</div>
                    </div>
                </ng-template>
            </p-select>
        </div>

        <h3 style="justify-self: left;">Etapas</h3>
        <div cdkDropList [cdkDropListData]="etapas" (cdkDropListDropped)="dropEtapa($event)" class="lista-etapas" 
        [cdkDropListDisabled]="habilitaPlantillas">
            <div *ngFor="let etapa of etapasActivas; let i = index" cdkDrag class="col-12" [ngClass]="{ 'etapa-item': idPlantilla <= 0, 'etapa-item-NoEditable': idPlantilla > 0 }">
                <div class="col-1" *ngIf="idPlantilla <= 0" >
                    <span cdkDragHandle class="handle">⋮⋮⋮</span>
                </div>
                <div class="col-9" *ngIf="!etapa.editandoNombre" style="text-align: left;">
                    <span class="etapa-nombre">{{ etapa.nombre }}</span>
                    <span class="etapa-probabilidad">{{ etapa.probabilidad }}%</span>

                </div>
                <div class="col-2" *ngIf="!etapa.editandoNombre && idPlantilla <= 0">
                    <button (click)="editarNombreEtapa(etapa)" class="boton-editar estilosBotonesInhabilitador"
                        [disabled]="habilitaPlantillas">✏️</button>
                    <button (click)="eliminarEtapa(etapa)" class="boton-eliminar estilosBotonesInhabilitador"
                        [disabled]="habilitaPlantillas">❌</button>
                </div>
                <div *ngIf="etapa.editandoNombre" class="col-9 formulario-edicion">
                    <p-select [options]="etapasComboActivas" [(ngModel)]="etapa.etapaSeleccionada" optionLabel="nombre"
                        [filter]="true" filterBy="nombre" [showClear]="true"
                        placeholder="{{etapa.textoBusqueda || 'Selecciona una etapa'}}" class="w-full md:w-56"
                        (onChange)="seleccionarEtapaExistente(etapa, $event.value)"
                        (onFilter)="filtrarEtapa($event, etapa)"
                        [ngStyle]="{ width: '-webkit-fill-available', height: '41px', 'text-align': 'left', 'padding-top': '4px', 'padding-left': '6px' }"
                        appendTo="body">
                        <ng-template #selectedItem let-selectedOption>
                            <div class="flex items-center gap-2">
                                <i class="pi pi-user"></i>
                                <div>{{ selectedOption?.nombre || 'Seleccione una etapa' }}</div>
                            </div>
                        </ng-template>

                        <ng-template let-item #item>
                            <div class="flex items-center gap-2">
                                <i class="pi pi-user"></i>
                                <div>{{ item.nombre }}</div>
                            </div>
                        </ng-template>

                        <ng-template #footer>
                            <div class="p-3 text-center">
                                <button class="btnAgregarProspectoContacto" [disabled]="!etapa.textoBusqueda"
                                    (click)="agregarEtapaDesdeBusqueda(etapa)" size="small"> +
                                    Agregar Etapa</button>
                            </div>
                        </ng-template>
                    </p-select>
                    <input [(ngModel)]="etapa.probabilidad" type="number" max="100" placeholder="Probabilidad"
                        pInputText class="p-inputtext" style="height: 41px;" />
                </div>
                <div class="col-2" *ngIf="etapa.editandoNombre">
                    <button (click)="guardarNombreEtapa(etapa)" class="boton-guardar">💾</button>
                </div>

            </div>
        </div>
        <div class="boton-agregar-contenedor">
            <button mat-button (click)="agregarEtapa()" class="boton-agregar estilosBotonesInhabilitador"
                [disabled]="habilitaPlantillas && !validaGuardar">
                +
            </button>
            <span class="texto-agregar">Agregar etapa</span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button mat-button color="primary" class="btn-agregar-etapa" (click)="toggleEditarOrdenEtapas()"
            [disabled]="!validaGuardar">Guardar</button>
        <button mat-button class="btn-agregar-etapa" (click)="cerrar()">Cancelar</button>

    </ng-template>

    <p-confirmDialog header="Confirmación" [message]="'¿Estás seguro de que deseas eliminar esta etapa?'"
        [acceptLabel]="'Sí'" [rejectLabel]="'No'" acceptButtonStyleClass="p-button-secondary">
    </p-confirmDialog>

    <div style="position: absolute; z-index:1102; text-align: center;">
        <p-toast key="toast" position="bottom-center" [style]="{ height: '2vh' }"></p-toast>
    </div>
</p-dialog>