
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="navbar">
    <nav class="text-center m-auto">
      <img width="100" src="assets/img/SFS blanco.png" alt="logo SFS" class="m-auto">
      <button class="iniciarSesion" (click)="openLoginModal()">Iniciar Sesión</button>
    </nav>
</div>

<div *ngIf="isLoginModalOpen" class="modal-overlay" (click)="closeLoginModal()"></div>
  
<!-- Modal Login -->
<div *ngIf="isLoginModalOpen" class="custom-modal-1">
    <div class="modal-dialog custom-modal-dialog-1 modal-dialog-centered modal-lg">
        <div class="modal-content" style="max-height: 423px;">
            <div class="modal-header justify-content-center">
                <img width="100" src="assets/img/SFS login.png" alt="logo SFS">
                <button type="button" class="close" (click)="closeLoginModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-modal-body-1" style="padding: 2rem; max-height: 470px; display: flex; gap: 2rem;">
                
                <!-- Sección de inicio de sesión -->
                <div class="login-section" style="width: 50%;">
                    <h5 class="text-center" style="font-size: 1.6rem; font-weight: 600; color: #1a73e8;">Acceso al Sistema</h5>
                    <br />
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="usuario" [(ngModel)]="username" />
                    </div>
                    <div class="input-group mb-4 pass">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="password" />
                    </div>
                    <div class="input-group btn-l">
                        <button class="btn btn-login btn-lg btn-block form-control" (click)="login()">Iniciar Sesión</button>
                    </div>
                    <div class="text-center" *ngIf="errorMessage">
                        <p style="color: #a94442;">{{ errorMessage }}</p>
                    </div>
                    <div class="text-center" style="padding: 2%;">
                        <a href="#" (click)="openResetModal()" style="font-size: 17px; color: #2f8ce6; cursor: pointer;">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                
                <!-- Línea divisoria -->
                <div class="divisor"></div>
                
                <!-- Sección de información -->
                <div class="text-section" style="width: 50%;">
                    <h2 class="mt-3" style="font-size: 2rem; font-weight: 700; color: #1a73e8;">Fortalece cada fase para aumentar ingresos.</h2>
                    <br />
                    <p style="text-align: justify; font-size: 1rem; line-height: 1.6; color: #444;">¿No tienes una cuenta?</p>
                    <div class="input-group btn-l">
                        <button class="btn btn-reg btn-lg btn-block form-control" (click)="closeLoginModal()">Regístrate ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="isResetModalOpen" class="modal-overlay" (click)="closeLoginModal()"></div>

<!-- Modal ResetPassword -->
<div *ngIf="isResetModalOpen" class="custom-modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <img width="100" src="assets/img/SFS login.png" alt="logo SFS">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeResetModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <h5 style="font-size: 1.6rem; text-align: center; line-height: 1.3; font-weight: 600; color: #1a73e8;">Recuperar Contraseña</h5>
                <div class="input-group mb-4" style="margin-top: 18px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="usuario" [(ngModel)]="resetUsername" />
                </div>
                <div class="input-group mb-3" style="margin-bottom: 10px;">
                    <button class="btn btn-login btn-lg btn-block form-control" (click)="resetPassword()">Enviar</button>
                </div>
                <div class="input-group mb-4" style="margin-bottom: 10px;">
                    <button class="btn btn-light btn-lg btn-block form-control" (click)="openLoginModal()">Regresar</button>
                </div>
                <div style="text-align: center">
                    <p *ngIf="resetErrorMessage" style="color: #a94442;">{{ resetErrorMessage }}</p>
                </div>
            </div>
        </div>
    </div>
</div>