<div class="float-end containerAsistente">
  <div class="app-chat-header">
    <div class="row m-0 p-0 ">
      <div class="col-1 pt-1">


      </div>
      <div class="col-8 pt-0 vstack" >
        <h2>Funnel AI</h2>
      </div>

      <div class="col-3 p-0 align-content-center">
        <div class="row m-0 justify-content-end">
          <i *ngIf="isProd" class="col-auto p-0 pe-1 bi bi-x app-chat-close-icon" (click)="onCerrarChat()" aria-hidden="true"></i>
          <i *ngIf="!isProd" class="col-auto p-0 pe-1 bi bi-x app-chat-close-icon" (click)="onCerrarChat()" aria-hidden="true"></i>
        </div>
        <div class="app-chat-version">V. {{ version }}</div>
      </div>
    </div>
  </div>
  <app-chaBotProspeccion class="chatBotAsistenteProspeccion"></app-chaBotProspeccion>
</div>
