.acordeon-horizontal {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.item-acordeon {
  width: 70px ;
  height: 700px;
  background: #f8f9fa;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  position: relative;

  overflow: hidden;
}

.item-acordeon.expandido {
  width: 500px ;
}

.encabezado-acordeon {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.boton-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: auto;
}

.contenido-acordeon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contenedor-tarjetas {
  max-height: 700px;
  overflow-y: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.tarjeta {
  background: #ffffff;
  border-radius: 0px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 0pX;
  border: black solid 1px !important
}

.imagen-tarjeta {
  width: 100%;
  border-radius: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tarjeta:last-child {
  border: none;
}

.contenedor-tarjetas.cdk-drop-list-dragging .tarjeta:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.nombre-mes {
  writing-mode: vertical-rl; /* Texto en vertical cuando está colapsado */
  transform: rotate(180deg);
  white-space: nowrap;
  transition: writing-mode 0.3s ease-in-out, transform 0.3s ease-in-out;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.item-acordeon.expandido .nombre-mes {
  writing-mode: horizontal-tb; /* Texto en horizontal cuando está expandido */
  transform: rotate(0);
}

/* Posicionamiento y estilos de la modal */
.ModalRegistrarFecha {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: auto; /* Ajusta el ancho según sea necesario */
  max-width: 90%; /* Evita que sea demasiado grande en pantallas pequeñas */
}


/* Estilos de botones */
.btn-primary {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.btn-secondary {
  background-color: lightgray !important;
  border-color: lightgray !important;
}

.item-acordeon.expandido .contenido-acordeon {
  display: block;
}

body {
  font-family: "Segoe UI", Arial, Sans-Serif;
}


.tarjeta-row {
  padding-top: 10px;

}

.nombre-empresa {
  font-size: 17px;
  font-weight: bold;
  color: #333333;
  text-align: left;

}
.abrev{
  text-align:right;
}
.nombre-abrev {
  font-size: 17px;
  font-weight: bold;
  color: #333333;
}

.nombre-oportunidad {
  font-size: 15px;
  font-weight: 600;
  color: #455a64;
  text-align: left;
}

.monto, .probabilidad, .monto-normalizado {
  font-size: 14px;
  font-weight: 500;
  color: #747678;
  text-align: left;
  white-space: nowrap; /* Evita el salto de línea */
  margin-right: 8px; /* Espaciado entre elementos */
}

.iniciales {
  display: block !important; /* Asegura que sea visible */
  font-size: 14px;
  font-weight: 500;
  color: #747678;
  text-align: center;
  margin-bottom: 0 !important;
}



div.fotoTarjeta {
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 55px;
  width: 55px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
@media (min-width: 1900px) {
  .clsNomEmpresa {
      width: 138%;
  }

  .clsNomEmpresa125 {
      width: 125%;
  }

  .clsNomEmpresa116 {
      width: 116%;
  }

  #Abrev {
      right: -25px !important;
  }
}

@media (min-width: 1920px) {
  #Abrev {
      right: -29px !important;
  }
}
.nombre-oportunidad,
.monto,
.probabilidad,
.monto-normalizado {
  display: block; /* Hace que los labels ocupen toda la línea */
  text-align: left;
  width: 100%; /* Asegura que usen todo el espacio disponible */
}

.fila-monto {
  display: flex;
  justify-content: flex-start; /* Alinea a la izquierda */
  gap: 8px; /* Espaciado entre los elementos (ajústalo según lo necesites) */
  width: 20% !important;
}

.row.justify-content-between {
  display: flex;
  align-items: center;
}


.card-header {
  background-image: url('/assets/img/FondoTools.png');
  background-size: cover;  /* Ajusta la imagen para cubrir todo el div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 27px; /* Ajusta la altura según necesidad */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  margin-left: 3px!important;
  margin-right: 3px!important;
  width: 98.8% !important;
}

.commandSeguimiento {
  width: 20px !important;
  height: 20px !important;
  background: url('/assets/img/list-alt-regular.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 50%;
  background-size: 100% auto;
  cursor: pointer;
  font-size: 14.4px; /* Ajusta el tamaño si es necesario */
}

.commandEditar {
  width: 19px !important;
  height: 19px !important;
  background: url('/assets/img/pencil-alt-solid.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 50%;
  background-size: 100% auto;
  cursor: pointer;
  font-size: 14.4px; /* Ajusta el tamaño si es necesario */
}

.col-8-tarjeta {
  text-align: start;
}
