<div class="acordeon-horizontal d-flex">
  <div *ngFor="let mes of elementos.slice(-4); let i = index" class="item-acordeon" [class.expandido]="mes.expandido">
    <div class="encabezado-acordeon">
      <span class="nombre-mes">
        {{ mes.nombre }}
        <span class="contador-tarjetas">
          ({{ mes.tarjetas.length }})
        </span>
      </span>
      <button class="boton-toggle" (click)="alternarItem(mes, $event)">
        <i [ngClass]="mes.expandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
      </button>
    </div>



    <div *ngIf="mes.expandido"
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="mes.tarjetas"
      [cdkDropListConnectedTo]="connectedDropLists"
      class="contenido-acordeon"
      (cdkDropListDropped)="drop($event, mes)"
      [id]="'todoList' + i">
      <div class="contenedor-tarjetas">
        <div *ngFor="let tarjeta of mes.tarjetas" cdkDrag [cdkDragData]="tarjeta" class="tarjeta">
          <div class="row  ">
            <!-- Encabezado con título e ícono de edición -->
          <div class="card-header">
            <i class="bi bi-card-text commandSeguimiento" title="Seguimiento"></i>
            <i class="bi bi-pencil-fill commandEditar" title="Editar"></i>
          </div>
            <div  class="col-9 tarjeta-row"  id =" Div  + {{idOportunidad}} ">
              <div class="row justify-content-between">
                <div class="col-8 col-8-tarjeta">
                  <label id="cliente"  class="nombre-empresa" [ngClass]="getClaseNombreEmpresa(tarjeta.NombreEmpresa, tarjeta.NombreAbrev)">
                  {{ tarjeta.NombreEmpresa }}
                  </label>
                </div>
                <div class="col-3 abrev">
                  <label id='Abrev' class="nombre-abrev" title="{{ tarjeta.Descripcion }}">{{ tarjeta.NombreAbrev }}</label>
                </div>
              </div>
              <label id="NombreOportunidad" class="nombre-oportunidad">{{ tarjeta.NombreOportunidad }}</label><br />
              <div class="fila-monto">
                <label class="monto">{{ tarjeta.Monto | currency:'MXN':'symbol':'1.0-0' }}</label>
                <label class="probabilidad">{{ tarjeta.Probabilidad }}%</label>
                <label class="monto-normalizado">{{ tarjeta.MontoNormalizado | currency:'MXN':'symbol':'1.0-0' }}</label>
              </div>
             </div>
            <div class="col-3" style='padding-top:10px' >

              <div class="fotoTarjeta" [ngStyle]="{'background-image': 'url(' + (tarjeta.imagen) + ')', 'margin': 'auto'}"   [title]="tarjeta.NombreEjecutivo"> </div>

              <p class="iniciales" title="{{ tarjeta.nombreEjecutivo }}">
                {{ tarjeta.iniciales  }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal Bootstrap -->
<div class="modal fade show d-block ModalRegistrarFecha" *ngIf="mostrarModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Header de la Modal con el título y botón "X" para cerrar -->
      <div class="modal-header">
        <h5 class="modal-title">Fecha Estimada de Cierre</h5>
        <button type="button" class="btn-close" (click)="cancelar()" aria-label="Cerrar"></button>
      </div>

      <!-- Contenido de la Modal -->
      <div class="modal-body">
        <!-- Input oculto como en tu código original -->
        <input type="hidden" [(ngModel)]="idOportunidad">

        <!-- Selector de Fecha usando ng-bootstrap -->
        <div class="mb-3">
             <!-- Campo de fecha con ngModel -->
    <input type="date" [(ngModel)]="fechaSeleccionada" />
        </div>
      </div>

      <!-- Footer con los botones -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardarFecha()" [disabled]="!fechaSeleccionada">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </div>

    </div>
  </div>
</div>
