<div class="user-panel-modal" id="modalPerfil" *ngIf="visible" (click)="onModalClick($event)">
  <div class="menu-end d-flex align-items-center">
    <!-- <span class="user-name" (click)="toggleUserPanel($event)" style="cursor: pointer;">
      <i class="bi bi-person-circle"></i> {{nombreUsuario}}
    </span> -->

    <div class="user-panel float-end" [class.show]="visible">
      <div class="user-header">
        <img [src]="rutaImgen" alt="Usuario" class="user-image" />
        <h5>{{nombre}}</h5>
      </div>
      <div class="user-actions">
        <button type="button" (click)="goToMiCuenta()" class="btn btn-cancel btnmenuuser">
          Mi Cuenta
         </button>
        <button (click)="logout()" type="button" class="btn btn-cancel btnmenuuser">
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</div>
