.titulo {
    text-align: left;
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .error-label {
    color: red;
    font-weight: bold;
  }
  
  .margen {
    margin-top: 10px
  }
  
  .p-datatable-header {
    border:0 !important;
    padding: 0 !important;
    height: 35px;
  }
  
  .inDivDatatableHeader {
    padding-left: 50px;
    padding-top: 5px;
  
  }

  .custom-header th {
    background: rgb(247, 106, 19);
    background: linear-gradient(0deg, rgba(247, 106, 19, 1) 0%, rgba(200, 87, 24, 1) 35%, rgba(231, 91, 42, 1) 100%);
    color: white;
    border: 0.1px solid #872B07;
    text-align: center;
    font-size: 15px;
  }
  
  .custom-header2 th {
    background: #E1DAC7;
  
  }
  
  .custom-header3 td {
    height: 20px;
    width: 20px;
  }
  
 .p-paginator .p-component {
    text-align: left !important;
  }
  
  .p-toast {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  
  .p-datatable-thead>tr>th {
    padding: 0px !important;
  }
  
  .p-datatable-tbody>tr>td {
  
    padding: 1px !important;
  }
  
  .custom-width input {
    width: 100px !important;
  }
  
  .custom-width2 input {
    width: 150px !important;
  }
  
  .custom-width3 input {
    width: 100px !important;
  }
  
  .custom-width4 input {
    width: 200px !important;
  }
  
  .p-datatable {
    table-layout: fixed;
    width: 100%;
  }
  
  .p-datatable-thead>tr>th,
  .p-datatable-tbody>tr>td {
    white-space: normal;
    word-wrap: break-word;
    overflow: visible;
    text-overflow: clip;
    padding: 8px;
  }
  
  .p-datatable-wrapper {
    max-height: 400px;
    height: 400px !important;
    overflow-y: auto;
    overflow-x: auto;
    display: block;
    position: relative;
  }
  
  .p-datatable-tbody>tr {
    display: table-row !important;
  }
  
  .p-dialog .p-dialog-header {
    background: rgb(247, 106, 19);
    background: linear-gradient(0deg, rgba(247, 106, 19, 1) 0%, rgba(200, 87, 24, 1) 35%, rgba(231, 91, 42, 1) 100%);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
  }
  
  .p-dialog .p-dialog-header .p-icon {
    background-color: transparent !important;
    color: #103D70;
  }
  
  .lbl {
    margin-top: 5px;
    text-align: left !important;
    padding-top: 5px;
  }
  
  .inptSpace {
    text-align: left !important;
    padding: 0px;
    padding-top: 5px;
  }
  
  .bodyDialog {
    background: #F0F0F0 !important;
  }
  
  .inptSize {
    height: 35px;
    padding-right: 4px;
  }
  
  .inptSize1{
    height: 42px;
    width: 212px;
    padding-right: 4px;
  }
  
  .inputModal {
    width: 80% !important;
    padding-left: 2px;
  }
  
  div.inDivDatatableHeader > p-button > button.p-button {
    width: 36px;
    height: 35px;
  }
  
  .hide-filter-icon p-button {
    display: none;
  }
  
  .filas {
    font-size: 12.5px !important;
  }
  
  .filas td {
    height: 20px;
  }
  
  .custom-footer td {
    padding: 0px !important;
    font-weight: bold;
    font-size: 12.5px !important;
    background: #E1DAC7 !important;
  }
  
  :host .custom-header2 input,
  :host .custom-header2 .p-select {
    height: 30px !important;
    min-height: 30px !important;
    line-height: 30px !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: auto;
    margin:3px
  }
  
  .custom-header2 .p-select li{
    padding:0px;
  }
  
  .fixed-width-column {
    width: 500px !important;
    max-width: 500px;
    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: anywhere;
    line-height: 1.4;
  }