<kendo-scheduler 
    [kendoSchedulerBinding]="events"
    [modelFields]="editService.fields"
    [loading]="editService.loading"
    [editable]="true"
    [selectedViewIndex]="0"
    [selectedDate]="selectedDate"
    [group]="group" scrollTime="08:00"
    [eventClass]="getEventClass"
    [editable]="true"
    (slotDblClick)="slotDblClickHandler($event)"
    (eventDblClick)="eventDblClickHandler($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
    (dragEnd)="dragEndHandler($event)"
    (resizeEnd)="resizeEndHandler($event)"
    >
    <kendo-scheduler-day-view></kendo-scheduler-day-view>
    <kendo-scheduler-week-view></kendo-scheduler-week-view>
    <kendo-scheduler-month-view></kendo-scheduler-month-view>
    <kendo-scheduler-agenda-view></kendo-scheduler-agenda-view>
    <kendo-scheduler-year-view></kendo-scheduler-year-view>
    <kendo-scheduler-messages
        today="Hoy"
        allDay="todo el dia"
        dayViewTitle="Día"
        weekViewTitle="Semana"
        monthViewTitle="Mes"
        yearViewTitle="Año"
        showWorkDay="Mostrar horas laborables"
        showFullDay="Mostrar día completo"
      >
      </kendo-scheduler-messages>
</kendo-scheduler>