USE [SFS-MASTER-QA]
GO
/****** Object:  StoredProcedure [dbo].[F_EncuestaBot]    Script Date: 14/08/2025 05:14:23 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:  Xiomara
-- Create date: 11/08/2025
-- Description: Retorna información de preguntas y respuestas según bandera
-- =============================================
ALTER PROCEDURE [dbo].[F_EncuestaBot]
    @IdCategoria INT = NULL,
    @pBandera NVARCHAR(50),

    @IdBot INT = NULL,
    @Pregunta VARCHAR(255) = NULL,
    @FechaPregunta DATETIME = NULL,
    @Respuesta VARCHAR(MAX) = NULL,
    @FechaRespuesta DATETIME = NULL,
    @Respondio BIT = NULL,
    @TokensEntrada INT = NULL,
    @TokensSalida INT = NULL,
    @IdUsuario INT = NULL,
    @CostoPregunta DECIMAL(18,8) = NULL,
    @CostoRespuesta DECIMAL(18,8) = NULL,
    @CostoTotal DECIMAL(18,8) = NULL,
    @Modelo VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @pBandera = 'SELECT-PREGUNTAS'
    BEGIN
        SELECT 
            p.Id AS IdPregunta,
            p.Pregunta,
			p.Respuesta AS TipoRespuesta,
			p.IdBot,
            r.IdRespuesta,
            r.Respuesta
        FROM [dbo].[PreguntasEncuesta] p
        LEFT JOIN [dbo].[RespuestasEncuesta] r
            ON p.Id = r.IdPregunta
        WHERE p.IdBot = 7
        ORDER BY p.Id, r.IdRespuesta;
    END
    ELSE IF @pBandera = 'INSERT-RESPUESTAS'
    BEGIN
        INSERT INTO [dbo].[BitacoraRespuestasEncuesta] 
        (
            IdBot, Pregunta, FechaPregunta, Respuesta, FechaRespuesta,
            Respondio, TokensEntrada, TokensSalida, IdUsuario,
            CostoPregunta, CostoRespuesta, CostoTotal, Modelo
        )
        VALUES
        (
            @IdBot, @Pregunta, @FechaPregunta, @Respuesta, @FechaRespuesta,
            @Respondio, @TokensEntrada, @TokensSalida, @IdUsuario,
            @CostoPregunta, @CostoRespuesta, @CostoTotal, @Modelo
        );
    END
END
