.table-sm th, .table-sm td { 
    padding: 4px !important;  
    font-size: 11px;         
    white-space: nowrap;     
}

.table-sm th, .table-sm td:not(:nth-child(n+2)) {
    text-align: left !important;
}

.table-sm th:nth-child(n+2) {
    text-align: center !important;
}

.table-sm td:nth-child(n+2) {
    text-align: center !important;
}

.menu-header {
    background-color: #e1dac7 !important;
    font-weight: bold;
    padding: 0% !important;
}

.menu-header td {
    background-color: #e1dac7 !important;
    padding: 0% !important;
}

.table-sm th {
    background: rgb(247, 106, 19);
    background: linear-gradient(0deg, rgba(247, 106, 19, 1) 0%, rgba(200, 87, 24, 1) 35%, rgba(231, 91, 42, 1) 100%);
    color: white;
    border: 0.1px solid #872B07;
    font-size: 12px;
}

.col-12 h3 {
    position: relative;
    top: -20px;  
  }