<div class="col-12" style="text-align: left; margin-top: 13px; padding-left: 10px">
  <h3>Administración de Permisos</h3>
</div>
<table class="table table-bordered table-striped table-sm" style="margin-left: 10px;"> 
    <thead>
      <tr>
        <th>Página</th>
        <th>Administrador</th>
        <th>Gerente</th>
        <th>Agente</th>
        <th>Invitado</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let menu of agrupadosPermisos">
      
        <tr (click)="toggleMenu(menu)" class="menu-header" style="cursor: pointer;">
          <td colspan="6">
            <span [ngClass]="{'text-center': menu.expanded, 'text-left': !menu.expanded}">
              {{ menu.menu }} 
            </span>
            <span class="float-right">
              <i class="fas" [ngClass]="menu.expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
            </span>
          </td>
        </tr>
  
        <ng-container *ngIf="menu.expanded">
            <tr *ngFor="let permiso of menu.paginas">
              <td>{{ permiso.pagina }}</td>
              <td><input type="checkbox" (change)="onPermisoChange()" [(ngModel)]="permiso.administrador" disabled /></td>
              <td><input type="checkbox" (change)="onPermisoChange()" [(ngModel)]="permiso.gerente" [disabled]="permiso.menu.includes('CATÁLOGOS')" /></td>
              <td><input type="checkbox" (change)="onPermisoChange()" [(ngModel)]="permiso.agente"  [disabled]="permiso.menu.includes('CATÁLOGOS')" /></td>
              <td><input type="checkbox" (change)="onPermisoChange()" [(ngModel)]="permiso.invitado"  [disabled]="permiso.menu.includes('CATÁLOGOS')" /></td>
            </tr>
          </ng-container>
          
      </ng-container>
    </tbody>
  </table>

  <p-toast position="center"></p-toast>
  
<div class="d-flex justify-content-end mt-3">
  <button pButton label="Guardar" severity="secondary" (click)="guardarPermisos()" [disabled]="!hayCambios"></button>
</div>