<div class="year-selector">
<p-dropdown [options]="aniosDisponibles" [(ngModel)]="anioSeleccionado" (onChange)="onAnioChange()" [disabled]="loading">
</p-dropdown>
</div>
<div class="grid-container">
    <div class="quadrant p-0" *ngFor="let group of quadrants; let i = index" cdkDropList [cdkDropListData]="group.cards"
        [cdkDropListConnectedTo]="dropListIds" [id]="'cardList' + i" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of group.cards" class="card p-0" id="prueba">
            <div class="card-header" cdkDrag>
                <h5 class="card-title">{{card.titulo}}</h5>
            </div>
            <div class="p-3 mb-3 overflow-auto" *ngIf="card.tipo === 'tabla'">
                <p-table [value]="agentes">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Nombre Agente</th>
                            <th>Total Agente</th>
                            <th>Monto Normalizado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr (click)="recargarGraficasPorAgente(rowData.idAgente)" style="cursor:pointer">
                            <td>
                                <img [src]="baseUrl + rowData.archivoImagen" alt="Avatar" width="32" height="32" style="border-radius:50%;">
                            </td>
                            <td>{{ rowData.nombre }}</td>
                            <td>{{ rowData.totalAgente }}</td>
                            <td>{{ rowData.montoNormalizado | currency:'$':'symbol':'1.2-2' }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="card.tipo === 'grafica'" class="p-0" style="height:330px;max-height: 330px; z-index: 5000;">
                <plotly-plot *ngIf="card.infoCargada" [data]="card.grafica.data" [layout]="card.grafica.layout"
                    [config]="card.grafica.config"></plotly-plot>
            </div>
        </div>
    </div>
</div>
