<div class="acordeon-horizontal d-flex" style="gap: 5px;">
  <div class="item-acordeon" *ngIf="permisoUsuarios"  [class.expandido]="seccionExpandida === 'usuarios'">
  <div class="encabezado-acordeon" (click)="toggleSeccion('usuarios')">
     <!--<button class="boton-toggle" (click)="toggleUsuarios()">
      <i [ngClass]="usuariosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
    </button>-->
    <span class="nombre-seccion">{{EnumPaginas.USUARIOS}}</span>
  </div>
  <div class="contenido-acordeon-horizontal" style="margin-left: 35px;"*ngIf="seccionExpandida === 'usuarios'">
    <app-usuarios (headerClicked)="toggleSeccion('usuarios')"></app-usuarios>
  </div>
</div>
 <div class="item-acordeon" *ngIf="permisoPermisos" [class.expandido]="seccionExpandida === 'permisos'">
    <div class="encabezado-acordeon " (click)="toggleSeccion('permisos')">
       <!--<button class="boton-toggle" (click)="togglePermisos()">
        <i [ngClass]="permisosExpandido ? 'bi bi-chevron-left' : 'bi bi-chevron-right'"></i>
      </button>-->
      <span class="nombre-seccion">{{EnumPaginas.PERMISOS}}</span>
    </div>
     <div class="contenido-acordeon-horizontal" *ngIf="seccionExpandida === 'permisos'">
    <app-permisos (headerClicked)="toggleSeccion('permisos')"></app-permisos>
  </div>
</div>
</div>